.siminia-color-btn {
    height: 45px;
    font-size: 16px;
    font-weight: 400;
    white-space: nowrap;
    text-align: center;
    padding-top: 10px;
    cursor: pointer;
    border: 0;
}

.siminia-color-btn:hover {
    opacity: 0.8;
}

.siminia-white-btn {
    background-color: white;
    height: 45px;
    font-size: 16px;
    text-align: center;
    color: #38404A;
    padding-top: 11px;
    border: solid #38404A 1px;
    cursor: pointer;
}

.siminia-white-btn:hover {
    padding-top: 10px;
    border: solid #38404A 2px;
}