.notificationContainer {
    position: fixed;
    background: transparent;
    font-size: 0.9rem;
    color: white;
    width: 100%;
    padding: 0;
    margin: 0;
    z-index: 1000;
    left: 0;
    top: 0;
    transform: translateY(-100%);
}

.innerContainer {
    display: flex;
    padding: 0.9rem;
    align-items: center;
}

.successContainer {
    background: #5FAF4B;
    margin-top: 54px;
}

.failContainer {
    background: #FF5F59;
    margin-top: 54px;
}

.iconContainer {
    margin-right: 10px;
}
