.root {
    align-items: center;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    line-height: 1;
    pointer-events: auto;
    text-align: center;
    border-color: var(--venia-global-color-button);
    background: var(--venia-global-color-button);
    color: var(--venia-global-color-button-text);
    border-style: solid;
    border-width: 1px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
    line-height: 16px;
    min-width: 10rem;
    max-width: 100%;
    min-height: 50px;
    outline: none;
    padding: calc(0.5rem + 1px) 1.5rem calc(0.5rem - 1px);
    padding-top: 9px;
    text-transform: uppercase;
    transition-duration: 256ms;
    transition-property: background-color, border-color, color;
    transition-timing-function: var(--venia-global-anim-standard);
}

.root:hover {
    opacity: 0.8;
}

.root:focus {
    box-shadow: -6px 6px rgb(var(--venia-brand-color-1-100));
}

.root:active {
    transition-duration: 128ms;
    background: #0065c4;
}

/**
 * Some browsers retain the :hover state after a click, this ensures if a button becomes disabled after
 * being clicked it will be visually disabled.
 */
.root:disabled,
.root:hover:disabled {
    pointer-events: none;
    --stroke: var(--venia-global-color-gray-400);
}

.content {
    align-items: center;
    display: inline-grid;
    gap: 0.35rem;
    grid-auto-flow: column;
    justify-content: center;
    justify-items: center;
}

/* derived classes */
.root_lowPriority {
    composes: root;
    background: white;
    color: var(--venia-global-color-button);
    --stroke: var(--venia-global-color-gray-700);
}
.root_lowPriority:hover {
    --stroke: var(--venia-global-color-gray-900);
}
.root_lowPriorityNegative {
    composes: root_lowPriority;
    --stroke: var(--venia-global-color-red-700);
}
.root_lowPriorityNegative:hover {
    --stroke: var(--venia-global-color-red-800);
}

.root_normalPriority {
    composes: root;
    background: white;
    color: var(--venia-global-color-button);
}
.root_normalPriorityNegative {
    composes: root_normalPriority;
    --stroke: var(--venia-global-color-red-700);
}
.root_normalPriorityNegative:hover {
    --stroke: var(--venia-global-color-red-800);
}

.root_highPriority {
    composes: root;
    color: rgb(var(--venia-global-color-gray-50));
}
.root_highPriorityNegative {
    composes: root_highPriority;
    --stroke: var(--venia-global-color-red-700);
}
.root_highPriorityNegative:hover {
    --stroke: var(--venia-global-color-red-800);
}


@media (max-width: 640px) {
    .root {
        padding-top: 5px;
        min-height: 45px;
        font-size: 14px;
        line-height: 16px;
    }
}