.container-title {
    display: flex;
    justify-content: space-between;
}

.container-controller {
    display: flex;
    justify-content: center;
    align-items: center;
    display: no;
}

.arrow-button {
    border: 1px solid #333;
    padding: 6px 6px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: fit-content;
    cursor: pointer;
    /* transform: rotateZ(180deg); */
    margin-inline-start: 1rem;
}

.arrow-button:hover {
    background: #333132;
}

.backward-arrow-button {
    margin-inline-end: 1rem;
}

.intro-title {
    font-weight: 600;
    font-size: 1.4rem;
}

.gallery-root {
    margin-left: 0 !important;
    margin-right: 0 !important;
}
.upsell-container {
    margin-top: 1rem
}
