.empty_cart_root {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    svg {
        width: 20px;
        height: 20px;
    }
    .emptyTitle {
        font-size: 14px;
        line-height: 24px;
        margin-bottom: 20px;
        font-weight: 400;
        margin-top: 20px;
    }

    .continue {
        background-color: var(--simicolor-button_background);
        color: var(--simicolor-button_text_color);
        height: 45px;
        min-width: 230px;
        border-radius: 4px;
        text-transform: uppercase;
        font-weight: 500;
        font-size: 16px;
        line-height: 14px;
    }
}