.root {
    display: grid;
    grid-gap: 2rem 1rem;
    color: #000000;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 32px;
}
.root > li{
    border-bottom: 1px solid rgb(var(--venia-global-color-border));
    padding-bottom: 17px;
}

.abs_list_product_header {
    display: grid;
    grid-template-columns: 50% 1fr 1fr 1fr 40px;
    background-color: #f1f1f1;
    justify-content: space-between;
    margin-top: 30px;
    padding: 10px 0;
    color: #434343;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 13px;
    grid-gap: 0.5rem 1rem;
}
