.root {
  align-items: center;
  align-self: center;
  grid-column: 3 / 4;
  grid-row: 1 / 1;
  justify-content: center;
  display: block;
  color: rgb(var(--am-mega-menu-main-menu-text-color));
  margin: 0;
  background-color: rgb(var(--am-mega-menu-main-menu-background-color));
  height: 100%;
}

.topMenu.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 100%;
}

@media(max-width: 1023px) {
  .root {
    padding: 10px 20px;
    color: rgb(var(--venia-global-color-text));
    background-color: #fff
  }
}