.root {
    border: none;
    border-radius: 0px;
    padding: 0;
}

.root_editMode {
    composes: root;
}

.root_updated {
    animation: flash var(--venia-global-anim-bounce) 640ms 2;
}

.cardHeader {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr;
}

.cardTitle {
    font-weight: 600;
    text-transform: uppercase;
    padding-inline-start: 40px;
    margin-top: 3px;
    font-size: 18px;
    line-height: 18px;
}

.editWrapper {
    display: grid;
    padding: 24px 0 0;
    row-gap: 20px;
}

.editTitle {
    font-weight: 600;
    text-transform: uppercase;
    padding-inline-start: 40px;
    margin-top: 3px;
    font-size: 18px;
    line-height: 18px;
}

.editText {
    vertical-align: top;
    font-size: 14px;
    line-height: 16px;
    margin-inline-start: 3px;
}

.loading {
    align-content: center;
    align-items: center;
    display: grid;
    gap: 3rem;
    height: calc(100% - 6rem);
    justify-content: center;
    justify-items: center;
    margin: 3rem 0;
    width: 100%;
    text-align: center;
}

@media (max-width: 960px) {
    .editText {
        display: none;
    }
}

@keyframes flash {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}
