.downloadable-option {
    .options-container {
        padding: 1.5rem 0 0 0;
    }
    .option-row {
        font-size: 16px;
        margin-bottom: 10px;
    }
    .option-title {
        font-size: 20px;
        margin-bottom: 15px;
    }
    .download-samples {
        padding: 1.5rem 0 0 0;
    }
    .download-sample-title {
        font-size: 20px;
        margin-bottom: 15px;
    }
    .download-sample-item {
        width: 100%;
        display: block;
        font-size: 16px;
        margin-bottom: 10px;
        cursor: pointer;
        color: #337ab7;
    }
}
