.root {
    display: grid;
    padding: 2rem 3rem;
    /* row-gap: 2rem; */
}
@media screen and (min-width: 959px) {
    .wrapper {
        display: grid;
        grid-template-columns: 20% auto;
    }
}

.rowEditProfile {
    display: flex;
}
.container {
    display: flex;
    justify-content: center;
    /* flex-direction: column; */
}
@media (min-width: 376px) and (max-width: 745px) {
    .container {
        display: block;
        justify-content: center;
        /* flex-direction: column; */
    }
}
.containerSub {
    min-width: 80%;
}
.rowEditProfile .mainEditColumn,
.rowEditProfile .alternativeEditColumn {
    flex-basis: 425px;
}
.rowEditProfile .alternativeEditColumn {
    margin-inline-start: 16px;
}

.radioCheckbox {
    margin-top: 44px;
}
.radioCheckbox label {
    margin-bottom: 16px;
}
.radioCheckbox label span:nth-child(1) {
    color: #111111;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 14px;
    text-align: justify;
    font-weight: unset;
    color: #000000;
    font-family: 'Helvetica Neue';
    font-size: 14px;
    letter-spacing: 0;
    line-height: 16px;
}

.titleH4 {
    color: #444444;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 18px;
    display: none;
}
button.saveProfile {
    margin-top: 34px;
    padding: 11px 18px;
    text-transform: uppercase;
    min-height: 50px;
    width: 184px;
    background-color: var(--venia-global-color-button);
    color: var(--venia-global-color-button-text);
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 16px;
    /* float: left; */

    font-family: 'Helvetica Neue';
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 19px;
}
.mainEditColumn h3 {
    color: #333333;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 18px;
    margin-bottom: 20px;
}
.inputContent > div > label {
    font-size: 14px;
    letter-spacing: 0;
    line-height: 15px;
    font-weight: unset;
    font-family: 'Helvetica Neue';
    font-size: 14px;
    letter-spacing: 0;
    line-height: 16px;
}
.inputContent > div > span > span > input {
    /* border: 1px solid #828282!important; */
    border-radius: 4px !important;
    color: #444444;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 16px;
    border: 1px solid #e8e8e8;
    background-color: #ffffff;
}
.heading {
    /* justify-self: center; */
    /* font-family: poppins;
    font-weight: var(--venia-global-fontWeight-bold);
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 14px; */

    color: #333132;
    font-family: 'Helvetica Neue';
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 25px;
    padding-top: 20px;
    margin-bottom: 30px;
}
.titleEdit {
    /* color: #333333;   
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 18px; */
    color: #333132;
    font-family: 'Helvetica Neue';
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 19px;
    margin-top: 35px;
    margin-bottom: 20px;
}
.accountDetails {
    display: grid;
    row-gap: 2rem;
    grid-template-columns: 1fr 1fr 1fr;
}

.lineItemsContainer {
    grid-column: 1 / span 1;
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 1fr;
    line-height: 1.5rem;
}

.lineItemLabel {
    font-weight: var(--venia-global-fontWeight-bold);
}

.nameLabel,
.emailLabel,
.passwordLabel {
    composes: lineItemLabel;
}

.nameValue,
.emailValue,
.passwordValue {
}

.editButtonContainer {
    grid-column: 1 / span 1;
    text-align: center;
}

.editInformationButton {
    composes: root_normalPriority from '@magento/venia-ui/lib/components/Button/button.module.css';
}

@media (min-width: 961px) {
    .nameLabel,
    .emailLabel,
    .passwordLabel {
        composes: lineItemLabel;
    }
}

@media (max-width: 960px) {
    .accountDetails {
        grid-template-columns: 1fr;
    }

    .lineItemsContainer {
        grid-template-columns: 1fr;
        grid-gap: 0.75rem;
    }
}
@media (max-width: 767px) {
    .wrapper {
        padding: 0px;
        margin-top: 0px;
    }
    .title {
        font-size: 17px;
        line-height: 14px;
    }
    .titleH4 {
        margin-bottom: 15px;
    }
    .titleEdit {
        font-size: 14px;
        line-height: 14px;
    }

    button.saveProfile {
        margin-top: 7px;
        margin-bottom: 0;
        height: 40px;
        width: 120px;
    }

    .rowEditProfile {
        display: block;
    }
    .rowEditProfile .alternativeEditColumn {
        margin-left: 0;
        margin-top: 17px;
        width: 100%;
    }
    .rowEditProfile .alternativeEditColumn:active {
        margin-top: 40px;
    }
}
