.griditem-price-ctn {
    .price {
        color: #000000;
        font-size: 16px;
        font-weight: bold;
        letter-spacing: 0;
        line-height: 19px;
    }
    .regular-price .price {
        font-weight: 400;
    }
    .sale_off {
        display: none;
    }
    .regular-price-label {
        display: none;
    }
}
@media (max-width: 480px) {
    .griditem-price-ctn {
        .small > div > span > span,
        .product-prices > div > span > span {
            height: 19px;
            width: 61px;
            font-family: Roboto;
            font-size: 16px;
            font-weight: 500;
            letter-spacing: 0;
            line-height: 19px;
        }
        .product-prices {
            display: inline-flex;
            column-gap: 6px;
            .regular-price-value {
                > span > span {
                    font-family: Roboto;
                    font-size: 14px;
                    letter-spacing: 0;
                    line-height: 16px;
                }
            }
        }
    }
}
