@import './fonts/Linearicons-Free.css';
@import './fonts/MaterialDesignIconicFont.css';
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html{ 
    font-size: 15px;
}

#root.rtl-root {
    direction: rtl;
}
body {
    font-family: "Nunito";
    font-size: 14px;
}
.siminia-main-page {
    min-height: 70vh;
}

.flex {
    display: flex;
}
ul {
    list-style: none;
    padding-right: 5px;
    padding-left: 5px;
}
button {
    background: none;
    border: none;
}
/**
 * App loading
 * */
div#app-loading {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0px;
    display: -ms-flexbox;
    display: flex;
    background: #ffffff;
    z-index: 100000;
    opacity: 0.7;
    -ms-flex-align: center;
    align-items: center;
}

/**
 * Bread crumb
 * */

.siminia-breadcrumb {
    padding: unset;
    color: #727272;
    font-family: "Nunito";
    font-size: 12px;
    line-height: 12px;
}
.breadcrumb-item {
    cursor: pointer;
    line-height: 12px;
    display: inline-block;
    color: #727272;
}
.breadcrumb-item:hover {
    color: #d7272e;
}
.breadcrumb-item:last-of-type {
    color: #d7272e;
    cursor: unset;
}
/**
 * Toast mesage
 * */

#toast-message-global {
    position: fixed;
    top: 40%;
    z-index: 9999999;
    opacity: .9;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
}

#toast-message-content {
    color: #FFF;
    font-family: Nunito;
    font-size: 14px;
    line-height: 19px;
    max-width: 400px;
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.12), 0 1px 2px rgba(0,0,0,.24);
    box-shadow: 0 2px 4px 0 rgba(130,130,130,0.74);
    background-color: #000;
    padding: 11.5px 30px;
    text-align: center;
}
#toast-success-global {
    position: fixed;
    top: 40%;
    z-index: 9999999;
    opacity: .9;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
}

#toast-success-content {
    color: #FFF;
    font-family: Nunito;
    font-size: 14px;
    line-height: 19px;
    max-width: 400px;
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.12), 0 1px 2px rgba(0,0,0,.24);
    box-shadow: 0 2px 4px 0 rgba(130,130,130,0.74);
    background-color: #42902B;
    padding: 11.5px 30px;
    text-align: center;
}

/**
 * fade in animation
*/
.simi-fadein {
    -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 1s; /* Firefox < 16 */
        -ms-animation: fadein 1s; /* Internet Explorer */
        -o-animation: fadein 1s; /* Opera < 12.1 */
            animation: fadein 1s;
}
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* bootstrap */
* {
    box-sizing: border-box;
}
.hidden {
    display: none;
}
.container:after, .container:before {
    display: table;
    content: " ";
}
.row {display: flex; justify-content: space-between}
.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
button, input, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    color: inherit;
    font: inherit;
    margin: 0;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
    background-color: transparent;
}
.text-center {
    text-align: center;
}
.text-right {
    text-align: right;
}
/* end bootstrap */

.success-message{
    background: #42902B !important;
}

@media(max-width: 1023px){
    .siminia-breadcrumb {
        padding-top: 30px;
        padding-bottom: 10px;
    }
}

/*
carousel.min.js react-responsive-carousel/lib/styles/carousel.min.css
*/
.carousel .control-arrow,.carousel.carousel-slider .control-arrow{-webkit-transition:all .25s ease-in;-moz-transition:all .25s ease-in;-ms-transition:all .25s ease-in;-o-transition:all .25s ease-in;transition:all .25s ease-in;opacity:.4;position:absolute;z-index:2;top:20px;background:0 0;border:0;font-size:32px;cursor:pointer}.carousel .control-arrow:hover{opacity:1}.carousel .control-arrow:before,.carousel.carousel-slider .control-arrow:before{margin:0 5px;display:inline-block;border-top:8px solid transparent;border-bottom:8px solid transparent;content:''}.carousel .control-disabled.control-arrow{opacity:0;cursor:inherit;display:none}.carousel .control-prev.control-arrow{left:0}.carousel .control-prev.control-arrow:before{border-right:8px solid #fff}.carousel .control-next.control-arrow{right:0}.carousel .control-next.control-arrow:before{border-left:8px solid #fff}.carousel{position:relative;width:100%}.carousel *{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}.carousel img{width:100%;display:inline-block;pointer-events:none}.carousel .carousel{position:relative}.carousel .control-arrow{outline:0;border:0;background:0 0;top:50%;margin-top:-13px;font-size:18px}.carousel .thumbs-wrapper{margin:20px;overflow:hidden}.carousel .thumbs{-webkit-transition:all .15s ease-in;-moz-transition:all .15s ease-in;-ms-transition:all .15s ease-in;-o-transition:all .15s ease-in;transition:all .15s ease-in;-webkit-transform:translate3d(0,0,0);-moz-transform:translate3d(0,0,0);-ms-transform:translate3d(0,0,0);-o-transform:translate3d(0,0,0);transform:translate3d(0,0,0);position:relative;list-style:none;white-space:nowrap}.carousel .thumb{-webkit-transition:border .15s ease-in;-moz-transition:border .15s ease-in;-ms-transition:border .15s ease-in;-o-transition:border .15s ease-in;transition:border .15s ease-in;display:inline-block;width:80px;margin-right:6px;white-space:nowrap;overflow:hidden;border:3px solid #fff;padding:2px}.carousel .thumb.selected,.carousel .thumb:hover{border:3px solid #333;padding:2px}.carousel .thumb img{vertical-align:top}.carousel.carousel-slider{position:relative;margin:0;overflow:hidden}.carousel.carousel-slider .control-arrow{top:0;color:#fff;font-size:26px;bottom:0;margin-top:0;padding:5px}.carousel.carousel-slider .control-arrow:hover{background:rgba(0,0,0,.2)}.carousel .slider-wrapper{overflow:hidden;margin:auto;width:100%;-webkit-transition:height .15s ease-in;-moz-transition:height .15s ease-in;-ms-transition:height .15s ease-in;-o-transition:height .15s ease-in;transition:height .15s ease-in}.carousel .slider-wrapper.axis-horizontal .slider{-ms-box-orient:horizontal;display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-moz-flex;display:-webkit-flex;display:flex}.carousel .slider-wrapper.axis-horizontal .slider .slide{flex-direction:column;flex-flow:column}.carousel .slider-wrapper.axis-vertical{-ms-box-orient:horizontal;display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-moz-flex;display:-webkit-flex;display:flex}.carousel .slider-wrapper.axis-vertical .slider{-webkit-flex-direction:column;flex-direction:column}.carousel .slider{margin:0;padding:0;position:relative;list-style:none;width:100%}.carousel .slider.animated{-webkit-transition:all .35s ease-in-out;-moz-transition:all .35s ease-in-out;-ms-transition:all .35s ease-in-out;-o-transition:all .35s ease-in-out;transition:all .35s ease-in-out}.carousel .slide{min-width:100%;margin:0;position:relative;text-align:center;background:#000}.carousel .slide img{width:100%;vertical-align:top;border:0}.carousel .slide iframe{display:inline-block;width:calc(100% - 80px);margin:0 40px 40px;border:0}.carousel .slide .legend{-webkit-transition:all .5s ease-in-out;-moz-transition:all .5s ease-in-out;-ms-transition:all .5s ease-in-out;-o-transition:all .5s ease-in-out;transition:all .5s ease-in-out;position:absolute;bottom:40px;left:50%;margin-left:-45%;width:90%;border-radius:10px;background:#000;color:#fff;padding:10px;font-size:12px;text-align:center;opacity:.25;-webkit-transition:opacity .35s ease-in-out;-moz-transition:opacity .35s ease-in-out;-ms-transition:opacity .35s ease-in-out;-o-transition:opacity .35s ease-in-out;transition:opacity .35s ease-in-out}.carousel .control-dots{position:absolute;bottom:0;margin:10px 0;text-align:center;width:100%}@media (min-width:960px){.carousel .control-dots{bottom:0}}.carousel .control-dots .dot{-webkit-transition:opacity .25s ease-in;-moz-transition:opacity .25s ease-in;-ms-transition:opacity .25s ease-in;-o-transition:opacity .25s ease-in;transition:opacity .25s ease-in;opacity:.3;box-shadow:1px 1px 2px rgba(0,0,0,.9);background:#fff;border-radius:50%;width:8px;height:8px;cursor:pointer;display:inline-block;margin:0 8px}.carousel .control-dots .dot.selected,.carousel .control-dots .dot:hover{opacity:1}.carousel .carousel-status{position:absolute;top:0;right:0;padding:5px;font-size:10px;text-shadow:1px 1px 1px rgba(0,0,0,.9);color:#fff}.carousel:hover .slide .legend{opacity:1}

/*
lightbox react-image-lightbox/style.css
*/
@keyframes closeWindow{0%{opacity:1}100%{opacity:0}}.ril__outer{background-color:rgba(0,0,0,.85);outline:0;top:0;left:0;right:0;bottom:0;z-index:1000;width:100%;height:100%;-ms-content-zooming:none;-ms-user-select:none;-ms-touch-select:none;touch-action:none}.ril__outerClosing{opacity:0}.ril__inner{position:absolute;top:0;left:0;right:0;bottom:0}.ril__image,.ril__imageNext,.ril__imagePrev{position:absolute;top:0;right:0;bottom:0;left:0;margin:auto;max-width:none;-ms-content-zooming:none;-ms-user-select:none;-ms-touch-select:none;touch-action:none}.ril__imageDiscourager{background-repeat:no-repeat;background-position:center;background-size:contain}.ril__navButtons{border:none;position:absolute;top:0;bottom:0;width:20px;height:34px;padding:40px 30px;margin:auto;cursor:pointer;opacity:.7}.ril__navButtons:hover{opacity:1}.ril__navButtons:active{opacity:.7}.ril__navButtonPrev{left:0;background:rgba(0,0,0,.2) url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgd2lkdGg9IjIwIiBoZWlnaHQ9IjM0Ij48cGF0aCBkPSJtIDE5LDMgLTIsLTIgLTE2LDE2IDE2LDE2IDEsLTEgLTE1LC0xNSAxNSwtMTUgeiIgZmlsbD0iI0ZGRiIvPjwvc3ZnPg==) no-repeat center}.ril__navButtonNext{right:0;background:rgba(0,0,0,.2) url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgd2lkdGg9IjIwIiBoZWlnaHQ9IjM0Ij48cGF0aCBkPSJtIDEsMyAyLC0yIDE2LDE2IC0xNiwxNiAtMSwtMSAxNSwtMTUgLTE1LC0xNSB6IiBmaWxsPSIjRkZGIi8+PC9zdmc+) no-repeat center}.ril__downloadBlocker{position:absolute;top:0;left:0;right:0;bottom:0;background-image:url(data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7);background-size:cover}.ril__caption,.ril__toolbar{background-color:rgba(0,0,0,.5);position:absolute;left:0;right:0;display:flex;justify-content:space-between}.ril__caption{bottom:0;max-height:150px;overflow:auto}.ril__captionContent{padding:10px 20px;color:#fff}.ril__toolbar{top:0;height:50px}.ril__toolbarSide{height:50px;margin:0}.ril__toolbarLeftSide{padding-left:20px;padding-right:0;flex:0 1 auto;overflow:hidden;text-overflow:ellipsis}.ril__toolbarRightSide{padding-left:0;padding-right:20px;flex:0 0 auto}.ril__toolbarItem{display:inline-block;line-height:50px;padding:0;color:#fff;font-size:120%;max-width:100%;overflow:hidden;text-overflow:ellipsis;white-space:nowrap}.ril__toolbarItemChild{vertical-align:middle}.ril__builtinButton{width:40px;height:35px;cursor:pointer;border:none;opacity:.7}.ril__builtinButton:hover{opacity:1}.ril__builtinButton:active{outline:0}.ril__builtinButtonDisabled{cursor:default;opacity:.5}.ril__builtinButtonDisabled:hover{opacity:.5}.ril__closeButton{background:url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgd2lkdGg9IjIwIiBoZWlnaHQ9IjIwIj48cGF0aCBkPSJtIDEsMyAxLjI1LC0xLjI1IDcuNSw3LjUgNy41LC03LjUgMS4yNSwxLjI1IC03LjUsNy41IDcuNSw3LjUgLTEuMjUsMS4yNSAtNy41LC03LjUgLTcuNSw3LjUgLTEuMjUsLTEuMjUgNy41LC03LjUgLTcuNSwtNy41IHoiIGZpbGw9IiNGRkYiLz48L3N2Zz4=) no-repeat center}.ril__zoomInButton{background:url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMCIgaGVpZ2h0PSIyMCI+PGcgc3Ryb2tlPSIjZmZmIiBzdHJva2Utd2lkdGg9IjIiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCI+PHBhdGggZD0iTTEgMTlsNi02Ii8+PHBhdGggZD0iTTkgOGg2Ii8+PHBhdGggZD0iTTEyIDV2NiIvPjwvZz48Y2lyY2xlIGN4PSIxMiIgY3k9IjgiIHI9IjciIGZpbGw9Im5vbmUiIHN0cm9rZT0iI2ZmZiIgc3Ryb2tlLXdpZHRoPSIyIi8+PC9zdmc+) no-repeat center}.ril__zoomOutButton{background:url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMCIgaGVpZ2h0PSIyMCI+PGcgc3Ryb2tlPSIjZmZmIiBzdHJva2Utd2lkdGg9IjIiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCI+PHBhdGggZD0iTTEgMTlsNi02Ii8+PHBhdGggZD0iTTkgOGg2Ii8+PC9nPjxjaXJjbGUgY3g9IjEyIiBjeT0iOCIgcj0iNyIgZmlsbD0ibm9uZSIgc3Ryb2tlPSIjZmZmIiBzdHJva2Utd2lkdGg9IjIiLz48L3N2Zz4=) no-repeat center}.ril__outerAnimating{animation-name:closeWindow}@keyframes pointFade{0%,100%,19.999%{opacity:0}20%{opacity:1}}.ril__loadingCircle{width:60px;height:60px;position:relative}.ril__loadingCirclePoint{width:100%;height:100%;position:absolute;left:0;top:0}.ril__loadingCirclePoint::before{content:'';display:block;margin:0 auto;width:11%;height:30%;background-color:#fff;border-radius:30%;animation:pointFade .8s infinite ease-in-out both}.ril__loadingCirclePoint:nth-of-type(1){transform:rotate(0)}.ril__loadingCirclePoint:nth-of-type(7){transform:rotate(180deg)}.ril__loadingCirclePoint:nth-of-type(1)::before,.ril__loadingCirclePoint:nth-of-type(7)::before{animation-delay:-.8s}.ril__loadingCirclePoint:nth-of-type(2){transform:rotate(30deg)}.ril__loadingCirclePoint:nth-of-type(8){transform:rotate(210deg)}.ril__loadingCirclePoint:nth-of-type(2)::before,.ril__loadingCirclePoint:nth-of-type(8)::before{animation-delay:-666ms}.ril__loadingCirclePoint:nth-of-type(3){transform:rotate(60deg)}.ril__loadingCirclePoint:nth-of-type(9){transform:rotate(240deg)}.ril__loadingCirclePoint:nth-of-type(3)::before,.ril__loadingCirclePoint:nth-of-type(9)::before{animation-delay:-533ms}.ril__loadingCirclePoint:nth-of-type(4){transform:rotate(90deg)}.ril__loadingCirclePoint:nth-of-type(10){transform:rotate(270deg)}.ril__loadingCirclePoint:nth-of-type(10)::before,.ril__loadingCirclePoint:nth-of-type(4)::before{animation-delay:-.4s}.ril__loadingCirclePoint:nth-of-type(5){transform:rotate(120deg)}.ril__loadingCirclePoint:nth-of-type(11){transform:rotate(300deg)}.ril__loadingCirclePoint:nth-of-type(11)::before,.ril__loadingCirclePoint:nth-of-type(5)::before{animation-delay:-266ms}.ril__loadingCirclePoint:nth-of-type(6){transform:rotate(150deg)}.ril__loadingCirclePoint:nth-of-type(12){transform:rotate(330deg)}.ril__loadingCirclePoint:nth-of-type(12)::before,.ril__loadingCirclePoint:nth-of-type(6)::before{animation-delay:-133ms}.ril__loadingCirclePoint:nth-of-type(7){transform:rotate(180deg)}.ril__loadingCirclePoint:nth-of-type(13){transform:rotate(360deg)}.ril__loadingCirclePoint:nth-of-type(13)::before,.ril__loadingCirclePoint:nth-of-type(7)::before{animation-delay:0s}.ril__loadingContainer{position:absolute;top:0;right:0;bottom:0;left:0}.ril__imageNext .ril__loadingContainer,.ril__imagePrev .ril__loadingContainer{display:none}.ril__errorContainer{position:absolute;top:0;right:0;bottom:0;left:0;display:flex;align-items:center;justify-content:center;color:#fff}.ril__imageNext .ril__errorContainer,.ril__imagePrev .ril__errorContainer{display:none}.ril__loadingContainer__icon{color:#fff;position:absolute;top:50%;left:50%;transform:translateX(-50%) translateY(-50%)}

/*
country-flag
*/
.flag{width:32px;height:32px;background:url(country-flag.png) no-repeat}.flag.flag-ad{background-position:-32px 0}.flag.flag-ae{background-position:-64px 0}.flag.flag-af{background-position:-96px 0}.flag.flag-ag{background-position:-128px 0}.flag.flag-ai{background-position:-160px 0}.flag.flag-al{background-position:-192px 0}.flag.flag-am{background-position:-224px 0}.flag.flag-an{background-position:-256px 0}.flag.flag-ao{background-position:-288px 0}.flag.flag-ar{background-position:-320px 0}.flag.flag-as{background-position:-352px 0}.flag.flag-at{background-position:-384px 0}.flag.flag-au{background-position:-416px 0}.flag.flag-aw{background-position:-448px 0}.flag.flag-ax{background-position:-480px 0}.flag.flag-az{background-position:0 -32px}.flag.flag-ba{background-position:-32px -32px}.flag.flag-bb{background-position:-64px -32px}.flag.flag-bd{background-position:-96px -32px}.flag.flag-be{background-position:-128px -32px}.flag.flag-bf{background-position:-160px -32px}.flag.flag-bg{background-position:-192px -32px}.flag.flag-bh{background-position:-224px -32px}.flag.flag-bi{background-position:-256px -32px}.flag.flag-bj{background-position:-288px -32px}.flag.flag-bl{background-position:-320px -32px}.flag.flag-bm{background-position:-352px -32px}.flag.flag-bn{background-position:-384px -32px}.flag.flag-bo{background-position:-416px -32px}.flag.flag-br{background-position:-448px -32px}.flag.flag-bs{background-position:-480px -32px}.flag.flag-bt{background-position:0 -64px}.flag.flag-bw{background-position:-32px -64px}.flag.flag-by{background-position:-64px -64px}.flag.flag-bz{background-position:-96px -64px}.flag.flag-ca{background-position:-128px -64px}.flag.flag-cd{background-position:-160px -64px}.flag.flag-cf{background-position:-192px -64px}.flag.flag-cg{background-position:-224px -64px}.flag.flag-ch{background-position:-256px -64px}.flag.flag-ci{background-position:-288px -64px}.flag.flag-ck{background-position:-320px -64px}.flag.flag-cl{background-position:-352px -64px}.flag.flag-cm{background-position:-384px -64px}.flag.flag-cn{background-position:-416px -64px}.flag.flag-co{background-position:-448px -64px}.flag.flag-cr{background-position:-480px -64px}.flag.flag-cu{background-position:0 -96px}.flag.flag-cv{background-position:-32px -96px}.flag.flag-cw{background-position:-64px -96px}.flag.flag-cy{background-position:-96px -96px}.flag.flag-cz{background-position:-128px -96px}.flag.flag-de{background-position:-160px -96px}.flag.flag-dj{background-position:-192px -96px}.flag.flag-dk{background-position:-224px -96px}.flag.flag-dm{background-position:-256px -96px}.flag.flag-do{background-position:-288px -96px}.flag.flag-dz{background-position:-320px -96px}.flag.flag-ec{background-position:-352px -96px}.flag.flag-ee{background-position:-384px -96px}.flag.flag-eg{background-position:-416px -96px}.flag.flag-eh{background-position:-448px -96px}.flag.flag-er{background-position:-480px -96px}.flag.flag-es{background-position:0 -128px}.flag.flag-et{background-position:-32px -128px}.flag.flag-eu{background-position:-64px -128px}.flag.flag-fi{background-position:-96px -128px}.flag.flag-fj{background-position:-128px -128px}.flag.flag-fk{background-position:-160px -128px}.flag.flag-fm{background-position:-192px -128px}.flag.flag-fo{background-position:-224px -128px}.flag.flag-fr{background-position:-256px -128px}.flag.flag-ga{background-position:-288px -128px}.flag.flag-gb{background-position:-320px -128px}.flag.flag-gd{background-position:-352px -128px}.flag.flag-ge{background-position:-384px -128px}.flag.flag-gg{background-position:-416px -128px}.flag.flag-gh{background-position:-448px -128px}.flag.flag-gi{background-position:-480px -128px}.flag.flag-gl{background-position:0 -160px}.flag.flag-gm{background-position:-32px -160px}.flag.flag-gn{background-position:-64px -160px}.flag.flag-gp{background-position:-96px -160px}.flag.flag-gq{background-position:-128px -160px}.flag.flag-gr{background-position:-160px -160px}.flag.flag-gs{background-position:-192px -160px}.flag.flag-gt{background-position:-224px -160px}.flag.flag-gu{background-position:-256px -160px}.flag.flag-gw{background-position:-288px -160px}.flag.flag-gy{background-position:-320px -160px}.flag.flag-hk{background-position:-352px -160px}.flag.flag-hn{background-position:-384px -160px}.flag.flag-hr{background-position:-416px -160px}.flag.flag-ht{background-position:-448px -160px}.flag.flag-hu{background-position:-480px -160px}.flag.flag-ic{background-position:0 -192px}.flag.flag-id{background-position:-32px -192px}.flag.flag-ie{background-position:-64px -192px}.flag.flag-il{background-position:-96px -192px}.flag.flag-im{background-position:-128px -192px}.flag.flag-in{background-position:-160px -192px}.flag.flag-iq{background-position:-192px -192px}.flag.flag-ir{background-position:-224px -192px}.flag.flag-is{background-position:-256px -192px}.flag.flag-it{background-position:-288px -192px}.flag.flag-je{background-position:-320px -192px}.flag.flag-jm{background-position:-352px -192px}.flag.flag-jo{background-position:-384px -192px}.flag.flag-jp{background-position:-416px -192px}.flag.flag-ke{background-position:-448px -192px}.flag.flag-kg{background-position:-480px -192px}.flag.flag-kh{background-position:0 -224px}.flag.flag-ki{background-position:-32px -224px}.flag.flag-km{background-position:-64px -224px}.flag.flag-kn{background-position:-96px -224px}.flag.flag-kp{background-position:-128px -224px}.flag.flag-kr{background-position:-160px -224px}.flag.flag-kw{background-position:-192px -224px}.flag.flag-ky{background-position:-224px -224px}.flag.flag-kz{background-position:-256px -224px}.flag.flag-la{background-position:-288px -224px}.flag.flag-lb{background-position:-320px -224px}.flag.flag-lc{background-position:-352px -224px}.flag.flag-li{background-position:-384px -224px}.flag.flag-lk{background-position:-416px -224px}.flag.flag-lr{background-position:-448px -224px}.flag.flag-ls{background-position:-480px -224px}.flag.flag-lt{background-position:0 -256px}.flag.flag-lu{background-position:-32px -256px}.flag.flag-lv{background-position:-64px -256px}.flag.flag-ly{background-position:-96px -256px}.flag.flag-ma{background-position:-128px -256px}.flag.flag-mc{background-position:-160px -256px}.flag.flag-md{background-position:-192px -256px}.flag.flag-me{background-position:-224px -256px}.flag.flag-mf{background-position:-256px -256px}.flag.flag-mg{background-position:-288px -256px}.flag.flag-mh{background-position:-320px -256px}.flag.flag-mk{background-position:-352px -256px}.flag.flag-ml{background-position:-384px -256px}.flag.flag-mm{background-position:-416px -256px}.flag.flag-mn{background-position:-448px -256px}.flag.flag-mo{background-position:-480px -256px}.flag.flag-mp{background-position:0 -288px}.flag.flag-mq{background-position:-32px -288px}.flag.flag-mr{background-position:-64px -288px}.flag.flag-ms{background-position:-96px -288px}.flag.flag-mt{background-position:-128px -288px}.flag.flag-mu{background-position:-160px -288px}.flag.flag-mv{background-position:-192px -288px}.flag.flag-mw{background-position:-224px -288px}.flag.flag-mx{background-position:-256px -288px}.flag.flag-my{background-position:-288px -288px}.flag.flag-mz{background-position:-320px -288px}.flag.flag-na{background-position:-352px -288px}.flag.flag-nc{background-position:-384px -288px}.flag.flag-ne{background-position:-416px -288px}.flag.flag-nf{background-position:-448px -288px}.flag.flag-ng{background-position:-480px -288px}.flag.flag-ni{background-position:0 -320px}.flag.flag-nl{background-position:-32px -320px}.flag.flag-no{background-position:-64px -320px}.flag.flag-np{background-position:-96px -320px}.flag.flag-nr{background-position:-128px -320px}.flag.flag-nu{background-position:-160px -320px}.flag.flag-nz{background-position:-192px -320px}.flag.flag-om{background-position:-224px -320px}.flag.flag-pa{background-position:-256px -320px}.flag.flag-pe{background-position:-288px -320px}.flag.flag-pf{background-position:-320px -320px}.flag.flag-pg{background-position:-352px -320px}.flag.flag-ph{background-position:-384px -320px}.flag.flag-pk{background-position:-416px -320px}.flag.flag-pl{background-position:-448px -320px}.flag.flag-pn{background-position:-480px -320px}.flag.flag-pr{background-position:0 -352px}.flag.flag-ps{background-position:-32px -352px}.flag.flag-pt{background-position:-64px -352px}.flag.flag-pw{background-position:-96px -352px}.flag.flag-py{background-position:-128px -352px}.flag.flag-qa{background-position:-160px -352px}.flag.flag-re{background-position:-192px -352px}.flag.flag-ro{background-position:-224px -352px}.flag.flag-rs{background-position:-256px -352px}.flag.flag-ru{background-position:-288px -352px}.flag.flag-rw{background-position:-320px -352px}.flag.flag-sa{background-position:-352px -352px}.flag.flag-sb{background-position:-384px -352px}.flag.flag-sc{background-position:-416px -352px}.flag.flag-sd{background-position:-448px -352px}.flag.flag-se{background-position:-480px -352px}.flag.flag-sg{background-position:0 -384px}.flag.flag-sh{background-position:-32px -384px}.flag.flag-si{background-position:-64px -384px}.flag.flag-sk{background-position:-96px -384px}.flag.flag-sl{background-position:-128px -384px}.flag.flag-sm{background-position:-160px -384px}.flag.flag-sn{background-position:-192px -384px}.flag.flag-so{background-position:-224px -384px}.flag.flag-sr{background-position:-256px -384px}.flag.flag-ss{background-position:-288px -384px}.flag.flag-st{background-position:-320px -384px}.flag.flag-sv{background-position:-352px -384px}.flag.flag-sy{background-position:-384px -384px}.flag.flag-sz{background-position:-416px -384px}.flag.flag-tc{background-position:-448px -384px}.flag.flag-td{background-position:-480px -384px}.flag.flag-tf{background-position:0 -416px}.flag.flag-tg{background-position:-32px -416px}.flag.flag-th{background-position:-64px -416px}.flag.flag-tj{background-position:-96px -416px}.flag.flag-tk{background-position:-128px -416px}.flag.flag-tl{background-position:-160px -416px}.flag.flag-tm{background-position:-192px -416px}.flag.flag-tn{background-position:-224px -416px}.flag.flag-to{background-position:-256px -416px}.flag.flag-tr{background-position:-288px -416px}.flag.flag-tt{background-position:-320px -416px}.flag.flag-tv{background-position:-352px -416px}.flag.flag-tw{background-position:-384px -416px}.flag.flag-tz{background-position:-416px -416px}.flag.flag-ua{background-position:-448px -416px}.flag.flag-ug{background-position:-480px -416px}.flag.flag-us{background-position:0 -448px}.flag.flag-uy{background-position:-32px -448px}.flag.flag-uz{background-position:-64px -448px}.flag.flag-va{background-position:-96px -448px}.flag.flag-vc{background-position:-128px -448px}.flag.flag-ve{background-position:-160px -448px}.flag.flag-vg{background-position:-192px -448px}.flag.flag-vi{background-position:-224px -448px}.flag.flag-vn{background-position:-256px -448px}.flag.flag-vu{background-position:-288px -448px}.flag.flag-wf{background-position:-320px -448px}.flag.flag-ws{background-position:-352px -448px}.flag.flag-ye{background-position:-384px -448px}.flag.flag-yt{background-position:-416px -448px}.flag.flag-za{background-position:-448px -448px}.flag.flag-zm{background-position:-480px -448px}.flag.flag-zw{background-position:0 -480px}