.linkedProductCtn {
    margin-top: 15px;
    padding: 1.5rem;
    width: 100%;
    border-top: solid #eaeaea 1px;
    margin-bottom: 25px;
}
.title {
    font-size: 20px;
    margin-bottom: 20px;
}
.linkedProducts {
    width: 100%;
    flex-wrap: nowrap;
    overflow: auto;
}
.linkedProductItem {
    min-width: 140px;
    display: inline-grid;
    padding: 5px;
    width: 25%;
}

@media (max-width: 1023px) {
    .linkedProductItem {
        width: 50%;
    }
}
