.techspec {
    .title {
        font-size: 20px;
        margin-bottom: 20px;
    }
    .tspecitem {
        padding: 0 0.5rem;   
        display: flex;
        margin-bottom: 5px;
    }
    .tspecitemtitle {
        max-width: 150px;
        width: 50%;
        font-weight: 600;
        font-size: 14px;
    }
    .tspecitemvalue {
        width: 50%;
        font-size: 15px;
    }
}
