.address-book {
    .default-address {
        margin-bottom: 10px;
    }
    .address-content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 15px 30px;
    }
    .billing-address {
        background-color: #ffffff;
        padding: 24px;
    }
    .shipping-address {
        background-color: #ffffff;
        padding: 24px;
    }
    .address-label {
        font-weight: bold;
        margin: 0 0 23px;
        font-size: 16px;
        line-height: 24px;
    }
    .box-title {
        color: #2d2d2d;
        font-weight: bold;
        font-size: 18px;
    }
    .box-content > address {
        font-size: 18px;
        line-height: 24px;
        margin: 10px 0px;
    }
    .box-action {
        margin-top: 6px;
        span {
            color: #0f7d37;
            cursor: pointer;
        }
    }
    .additional-address {
        margin-top: 20px;
        .additional-address-contain {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 15px 30px;
            .address-entry-box {
                padding: 24px;
                background-color: #ffffff;
                .box-action {
                    display: flex;
                    justify-content: space-between;
                }
            }
        }
    }
    .add-new-address {
        background-color: #0f7d37;
        color: #ffffff;
        margin-top: 15px;
        font-weight: 500;
        outline: none;
        &:hover {
            opacity: 0.8;
        }
        span {
            outline: none;
        }
    }

    // edit address + new address
    &.edit-address {
        .col-left {
            margin-top: 0px;
            margin-bottom: 30px;
        }
        .col-right {
            margin-top: 0px;
            margin-bottom: 30px;
        }
        .col-label {
            font-size: 30px;
            font-weight: normal;
            margin-bottom: 10px;
        }
        .form-row {
            min-height: 34px;
            padding: 2px 0px;
            margin: 5px 0px;
            input.warning,
            select.warning {
                box-shadow: 0 0 5px -2px #ee0000;
            }
            input {
                width: 100%;
                height: 34px;
                line-height: 30px;
                margin: 2px 0px;
                padding: 2px 10px;
                user-select: none;
                outline: none;
                border: 1px solid rgb(112, 112, 112);
                &:focus {
                    outline: none;
                    border-color: rgb(0, 115, 120);
                    box-shadow: 0 0 0 2px rgb(212, 243, 238),
                        0 0 0.5rem 2px rgba(0, 115, 120, 0.2);
                }
            }
            select {
                user-select: none;
                outline: none;
                border: 1px solid rgb(112, 112, 112);
                border-radius: 2px;
                color: rgb(33, 33, 33);
                display: inline-flex;
                flex: 0 0 100%;
                height: 28px;
                font-family: inherit;
                font-size: inherit;
                margin: 2px 0px;
                padding: 2px 10px;
                width: 100%;
                -webkit-appearance: button;
                background-position: 97% center;
                background-repeat: no-repeat;
                background-size: 18px;

                &:focus {
                    outline: none;
                    border-color: rgb(0, 115, 120);
                    box-shadow: 0 0 0 2px rgb(212, 243, 238),
                        0 0 0.5rem 2px rgba(0, 115, 120, 0.2);
                }
            }
            .checkbox {
                padding: 5px 10px;
                margin: 0px;
                input {
                    width: auto;
                    height: 22px;
                    padding: 0px;
                    margin: 0px;
                    margin-right: 5px;
                    vertical-align: middle;
                }
                label {
                    margin-bottom: 0px;
                    vertical-align: middle;
                    padding-left: unset;
                    padding-inline-start: 20px;
                }
            }
            &.state-province {
                .state-option {
                    display: flex;
                    flex-wrap: wrap;
                    > div {
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        flex-wrap: wrap;
                    }
                }
            }
        }
        .address-field-label {
            font-size: 14px;
            margin-right: 10px;
            margin-bottom: 5px;
            font-weight: 700;
            &.req::after {
                color: #ee0000;
                content: ' *';
            }
        }
        .form-button {
            .btn-save-address {
                background-color: #0f7d37;
                color: #ffffff;
                display: inline-block;
                font-weight: 500;
                outline: none;
                &:hover {
                    opacity: 0.8;
                }
                span {
                    outline: none;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .address-book {
        .address-content {
            grid-template-columns: 1fr;
        }
        .additional-address {
            .additional-address-contain {
                grid-template-columns: 1fr;
            }
        }
    }
}
