.address-book {
}
.address-book h1{font-size: 36px;font-weight: normal;}
.address-book .default-address{
    margin-top: 10px;
    margin-bottom: 10px;
}
.address-book .address-label{
    font-size: 24px;
    line-height: normal;
    font-weight: bold;
    border-bottom: 1px solid #dcdcdc;
    color: #2d2d2d;
    padding: 5px 0px;
}
.address-book .address-content{
    padding: 10px 0px;
    padding-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
}
.address-book .billing-address{
    background-color: #ffffff;
    padding: 24px;
    margin-right: 30px;
    margin-top: 30px;
    width: 100%;
    flex: 1 1;
}
.address-book .shipping-address{
    background-color: #ffffff;
    padding: 24px;
    margin-right: 30px;
    margin-top: 30px;
    width: 100%;
    flex: 1 1;
}

.address-book .box-title{
    color: #2d2d2d;
    font-weight: bold;
    font-size: 18px;
}
.address-book .box-content{}
.address-book .box-content > address{
    font-size: 18px;
    line-height: 24px;
    margin: 10px 0px;
}
.address-book .box-action{}
.address-book .box-action > a{}
.address-book .box-action > a > span{
    color: #2335c5;
}

.address-book .address-content .box-title{}
.address-book .address-content .box-content{}
.address-book .address-content .box-content > address{}
.address-book .billing-address .box-title{}
.address-book .billing-address .box-content{}
.address-book .billing-address .box-content > address{}
.address-book .shipping-address .box-title{}
.address-book .shipping-address .box-content{}
.address-book .shipping-address .box-content > address{}

.address-book .additional-address{}
.address-book .additional-address .address-label{}
.address-book .additional-address .table-wrap{
    overflow-x: auto;
    padding: 10px 0px;
    margin-top: 10px;
}
.address-book .additional-address .table-wrap table{
    font-size: 16px;
    color: #3d3d3d;
    background-color: #fafafa;
}
.address-book .additional-address .table-wrap table > thead{
    background-color: #dcdcdc;
}
.address-book .additional-address .table-wrap table > tbody{
}
.address-book .additional-address .table-wrap table tr{
}
.address-book .additional-address .table-wrap table tr:nth-child(2n){
    background-color: #eaeaea;
}
.address-book .additional-address .table-wrap table tr th{
    padding: 5px;
    font-size: 14px;
}
.address-book .additional-address .table-wrap table tr td{
    padding: 5px;
}
.address-book .additional-address .table-wrap a{
    padding: 5px;
    color: #2335c5;
}
.address-book .additional-address .table-wrap a.edit{
    color: #2335c5;
}
.address-book .additional-address .table-wrap a.delete{
    color: #f78787;
}
.address-book .additional-address .pagination{
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-bottom: 20px;
}
.address-book .additional-address .pagination > ul{
    display: inline-block;
    width: 55%;
    text-align: right;
}
.address-book .additional-address .pagination > ul li{
    min-width: 30px;
    height: 22px;
    margin: 5px;
    display: inline-block;
    background-color: #ffffff;
    text-align: center;
    vertical-align: middle;
    line-height: 22px;
}
.address-book .additional-address .pagination > ul li:hover{
    background-color: #fbc96a;
}
.address-book .additional-address .pagination > ul li.active{
    background-color: #fbc96a;
}
.address-book .additional-address .pagination > ul li.disabled{
    background-color: #eaeaea;
    color: #b5b5b5;
}
.address-book .additional-address .pagination > ul li.disabled > a{
    color: #b5b5b5;
    cursor: auto;
}
.address-book .additional-address .pagination > ul li > a{
    text-decoration: none;
    user-select: none;
    display: block;
    line-height: 22px;
    padding: 0px;
}
.address-book .additional-address .pagination > ul li > a:visited, 
.address-book .additional-address .pagination > ul li > a:visited{
    text-decoration: none;
    user-select: none;
}
.address-book .additional-address .pagination .info{
    min-width: 150px;
    line-height: 32px;
}
.address-book .additional-address .pagination .info span{}
.address-book .additional-address .pagination .options-size{
    min-width: 150px;
    line-height: 32px;
}
.address-book .additional-address .pagination .options-size > span{}
.address-book .additional-address .pagination .options-size > select{
    border: 1px solid #eaeaea;
    margin: 0px 5px;
}
.address-book .additional-address .pagination .options-size > select option{}

.address-book .btn{
    background-color: #5074c7;
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
}
.address-book .btn.add-new-address{
    background-color: #5074c7;
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
}
.address-book .btn:hover{
    opacity: .8;
}

.address-book .edit-address form{}
.address-book .edit-address .col-left{
    margin-top: 0px;
    margin-bottom: 30px;
}
.address-book .edit-address .col-right{
    margin-top: 0px;
    margin-bottom: 30px;
}
.address-book .edit-address .col-label{
    font-size: 30px;
    font-weight: normal;
    margin-bottom: 10px;
}
.address-book .edit-address .form-button{}
.address-book .edit-address .form-row{
    min-height: 34px;
    padding: 2px 0px;
    margin: 5px 0px;
}
.address-book .edit-address .form-row label{
    font-size: 14px;
    height: 22px;
    line-height: 22px;
    margin-right: 10px;
}
.address-book .edit-address .form-row label span{}
.address-book .edit-address .form-row input{
    width: 100%;
    height: 34px;
    line-height: 30px;
    margin: 2px 0px;
    padding: 2px 10px;
    user-select: none;
    outline: none;
}
.address-book .edit-address .form-row select{
    user-select: none;
    outline: none;
}
.address-book .edit-address .form-row select option{}
.address-book .edit-address .form-row .checkbox{
    padding: 5px 10px;
    margin: 0px;
}
.address-book .edit-address .form-row .checkbox input{
    width: auto;
    height: 22px;
    padding: 0px;
    margin: 0px;
    margin-right: 5px;
    vertical-align: middle;
}
.address-book .edit-address .form-row .checkbox label{
    margin-bottom: 0px;
    vertical-align: middle;
}

.form-row.state-province .state-option {display: flex;flex-wrap: wrap;}
.form-row.state-province .state-option > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media (max-width: 1024px){
    .address-book {
        max-width: 580px;
    }
}
@media (max-width: 768px){
    .address-book {
        max-width: 354px;
    }
    .address-book .billing-address{
        margin-right: 0px;
    }
    .address-book .shipping-address{
        margin-right: 0px;
    }
}
