.root {
    /* The root aside element takes up the whole screen. */
    position: fixed;
    left: -100vw;
    top: 0;
    height: 100%;
    width: 100%;

    /* It is hidden by default. */
    opacity: 0;
    visibility: hidden;

    transform: translate3d(-50%, 0, 0);
    /* It animates to being closed, and then moves off screen. */
    transition: opacity 192ms var(--venia-global-anim-out),
        visibility 192ms var(--venia-global-anim-out), left 0s 192ms;

    /* It sits over all background content. */
    z-index: 3;
}

.root_open {
    composes: root;
    left: 50%;
    opacity: 1;
    visibility: visible;

    /* It animates to being open. */
    transition: opacity 224ms var(--venia-global-anim-in),
        visibility 224ms var(--venia-global-anim-in), left 0s;
}

.form {
    /* The form fills the entire aside. */
    height: 100%;
    width: 100%;

    /* Its contents are centered horizontally and vertically. */
    display: grid;
    justify-content: center;
    align-content: center;
}

.mask {
    /* The mask takes up the entire screen. */
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;

    /* The mask is a semi-transparent grey. */
    background-color: rgb(var(--venia-global-color-gray-darker));
    opacity: 0.5;
}

/* The dialog is the only item in the form grid. */
.dialog {
    background-color: rgb(var(--venia-global-color-background));
    border-radius: 5px;
    box-shadow: 1px 1px 5px rgb(var(--venia-global-color-gray-darker));

    /* It sets maximum sizes so its body can handle overflow. */
    height: 100%;
    max-height: 90vh;
    /* Minimum keeps a 16:9 aspect ratio and is 40rem x 22.5rem.  */
    min-height: 360px;
    width: 640px;

    /* Nothing is allowed to overflow container itself. */
    overflow: hidden;

    /* Container is itself a grid container for its children. */
    display: grid;
    grid-template-rows: auto 1fr;

    /* Container can be the target of pointer events. */
    pointer-events: auto;

    /* It sits on top of the mask. */
    z-index: 4;
}

/*
 *  Dialog Header styles.
 */

.header {
    border-bottom: 1px solid rgb(var(--venia-global-color-border));
    height: 3.5rem;
    padding: 0 0.75rem 0 1rem;

    /* The Header is itself a grid container for its children. */
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr auto;
    column-gap: 1rem;
    align-items: center;
}

.headerText {
    color: rgb(var(--venia-global-color-text-alt));
    text-transform: capitalize;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.25rem;
}

.headerButton {
    /* Horizontally align the close button to the right. */
    justify-self: right;
}

/*
 *  Dialog Body styles.
 */

.body {
    overflow: auto;

    /* The Body is itself a grid container for its children. */
    display: grid;
    grid-template-rows: 1fr auto;
}

.contents {
    padding: 1rem;
}

.buttons {
    padding: 2.5rem;

    display: grid;
    grid-auto-flow: column;
    gap: 1rem;
    justify-content: center;
}

.confirmButton {
    composes: root_highPriority from '@magento/venia-ui/lib/components/Button/button.module.css';
}

.cancelButton {
    composes: root_lowPriority from '@magento/venia-ui/lib/components/Button/button.module.css';
}

/*
 * Mobile-specific styles.
 *
 * Instead of being a full-page modal,
 * dialogs slide out from the right.
 */

@media (max-width: 960px) {
    .root {
        left: auto;
        right: 0;

        /* The Dialog starts off-screen on the right. */
        transform: translate3d(100%, 0, 0);
        /* For mobile, add position to the transitions. */
        transition-property: opacity, transform, visibility;
    }

    .root_open {
        /* The Dialog animates (slides) onto the screen. */
        transform: translate3d(0, 0, 0);
    }

    .form {
        align-content: stretch;
        justify-content: end;
    }

    .dialog {
        max-height: 100%;
        max-width: 360px;
    }

    .buttons {
        grid-auto-flow: row;
    }

    .confirmButton {
        /* On mobile the confirm button should be first (on top). */
        order: -1;
    }
}
@media (max-width: 768px) {
    .dialog {
        max-height: 100%;
        position:absolute;
        width: 100%;
        max-width: none;
    }
    .header {
        height: 55px;
        background: #fff;
        position:fixed;
        display: flex;
        width: 100%;
        align-items: center;
        padding: 0 10px;
        box-shadow: 0 1px 3px 0 rgba(0,0,0,0.3);
        top: 0;
        z-index: 5;
    }
    .contents {
        padding-top: 4rem;
    }
    .headerText {
        color: #150826;
        font-family: Roboto;
        font-size: 18px;
        font-weight: 500;
        letter-spacing: 0;
        line-height: 21px;
    }
    .headerButton {
        margin-top:5px;
    }
    .submitBtn {
        font-size: 18px;
        font-weight: 500;
        background-color: var(--venia-global-color-button);
        color: var(--venia-global-color-button-text);
        text-align: center;
        padding: 5px 0;
        border-radius: 4px;
        width: 100%;
        
    }
    .buttons {
        display:block;
        padding: 1rem;
    }
}
