.container {
    margin-top: 2rem;
    display: flex;
    margin-bottom: 20px;
    border-bottom: 1px solid #ddd;
}
.contentContainer {
    padding: 0 1rem 1rem;
}
.imageContainer {
    min-width: 150px;
}
.name {
    text-transform: capitalize;
    font-size: 14px;
    line-height: 14px;
    color: #000;
    margin-bottom: 10px;
    font-weight: bold;
}
.reviewSummary {
    font-size: 14px;
    line-height: 19px;
    margin-bottom: 10px;
    font-weight: bold;
}
.reviewText {
    font-size: 14px;
    line-height: 19px;
    margin-bottom: 10px;
    text-align: justify;
    letter-spacing: normal;
    max-width: 120px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow-x: hidden;
}
.reviewTextMore {
    font-size: 14px;
    line-height: 19px;
    margin-bottom: 10px;
    text-align: justify;
    letter-spacing: normal;
}
.time {
    font-size: 14px;
    line-height: 14px;
}
.reviewButton {
    align-items: center;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    line-height: 1;
    pointer-events: auto;
    text-align: center;
    border-color: #0058ac;
    background: #0058ac;
    color: white;
    border-style: solid;
    border-width: 1px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
    line-height: 16px;
    min-height: 30px;
    min-width: 100px;
    margin-bottom: 15px;
}

@media screen and (max-width: 768px) { 
    .container {
        padding-top: 0;
        padding-bottom: 10px;
        margin-bottom: 10px;
        margin-top: 0;
        display: grid;
        grid-template-areas:
        'image review';
        grid-template-columns: 1fr 3fr;
        column-gap: 0.5rem;
        row-gap: 0;
        border-radius: 8px;
        background-color: #FFFFFF;
        padding: 4px;
        border:none
    }
    .imageContainer {
        grid-area: image;
        min-width: 101px;
    }
    .imageContainer > div{
        height: 101px;
        width: 101px;
    }
    .imageContainer > div > img{
        width: 100%;
        height: 100%;
        -o-object-fit: contain;
        object-fit: contain;
        border-radius: 8px;
    }
    .contentContainer {
        padding: 0;
    }
    .reviewButton{
        /* display: none; */
    }
    .name, .reviewSummary {
        color: #4F4F4F;
        font-family: Roboto;
        font-size: 13px;
        letter-spacing: 0;
        line-height: 15px;
        margin-bottom: 2px;
    }
    .reviewText {
        margin-bottom: 2px;
    }
    .reviewButton{
        color: #4F4F4F;
        font-family: Roboto;
        font-size: 13px;
        letter-spacing: 0;
        line-height: 15px;
        margin-bottom: 2px;
        background-color: transparent;
        border: none;
        padding: 0;
        margin: 0;
        justify-content: left;
        text-decoration: underline;
        min-height: unset;
        min-width: unset;
    }

    .reviewText {
        margin-bottom: 2px;
    }
    .reviewTextMore {
        margin-bottom: 2px;
    }
}
