.optionRoot {
    font-size: 0.8rem;
    /* border-top: 1px solid #d8d8d8; */
    margin-top: 1rem;
}
@media (max-width: 768px) {
    .optionRoot {
        border-top: none;
        border-bottom: 1px solid #d8d8d8;

    }
}


.optionItem {
    margin: 1rem 1.5rem;
    border-bottom: 1px solid #d8d8d8;
}

.optionTitle {
    margin-bottom: 0.6rem;
}

.optionTitleSpan {
    font-size: 0.8rem;
    font-weight: 700;
}

.optionContent {
    font-size: 0.8rem;
}

.optionList label {
    margin-bottom: 0.6rem;
}

.summaryWrapper {
    padding-inline-start: 0.4rem;
    font-size: 0.8rem;
}

.summaryItem {
    margin-bottom: 0.3rem;
}

.summaryItemTitle {
    margin-top: 0.5rem;
}

.label-option-price {
    font-weight: bold !important;
}
