.root {
    position: relative;
}

.credit_card_root {
    visibility: visible;
    opacity: 1;
    transition-delay: 64ms;
    transition-duration: 384ms;
    transition-property: opacity, visbility;
    transition-timing-function: var(--venia-global-anim-standard);
}

.billing_address_fields_root {
    display: grid;
    gap: 0.5rem;
    padding: 1rem 0rem;
}

.billing_address_fields_root_hidden {
    overflow: hidden;
    visibility: hidden;
    height: 0;
    opacity: 0;
}

.errors_container {
    display: grid;
    gap: 0.5rem;
}

.error {
    color: rgb(var(--venia-global-color-error));
}

.first_name,
.last_name {
    grid-column-end: span 1;
}

.simi_guest_email,
.country,
.street1,
.street2,
.address_check,
.city,
.state,
.postal_code,
.saved_address_for_billing,
.phone_number {
    grid-column-end: span 2;
}

.stripe_checkout_form {
    padding: 10px 15px;
}
.stripe_saved_card_options {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    padding-top: 2rem;
    grid-area: content;
    grid-auto-rows: minmax(6rem, max-content);
    padding-bottom: 15px;
}
@media (max-width: 1024px) {
    .stripe_saved_card_options {
        grid-template-columns: 1fr;
    }
}
.stripe_saved_card_option {
    border: solid 1px rgb(224, 224, 224);
    font-weight: 500;
    font-size: 14px;
    cursor: pointer;
    padding: 8px 15px;
    border-radius: 5px;
}
.stripe_saved_card_option:hover {
    box-shadow: -1px 2px 2px rgb(var(--venia-global-color-gray-300));
}
.stripe_saved_card_option svg {
    width: 100% !important;
    height: 50px !important;
    margin-top: 5px;
    fill: rgb(var(--venia-global-color-gray-600)) !important;
}
.stripe_saved_card_option img {
    width: 40px;
    display: block;
    margin-bottom: 5px;
}
.stripe_card_brand {
    font-weight: 600;
    margin-inline-end: 5px;
    text-transform: uppercase;
}
.stripe_card_last4 {
    font-weight: 400;
}
.stripe_cardselected {
    border-color: rgb(var(--venia-global-color-gray-600));
    box-shadow: -1px 4px 4px rgb(var(--venia-global-color-gray-300)),
        inset 0 0 0 1px rgb(var(--venia-global-color-gray-600));
}
.stripe_use_card_btn {
    min-width: 200px;
    padding: 6px 15px;
    border: solid 1px #000;
    display: block;
    margin-top: 15px;
}
.stripe_use_card_btn:hover {
    opacity: 0.8;
}

/*
 * Mobile-specific styles.
 */

@media (max-width: 960px) {
    .simi_guest_email,
    .first_name,
    .last_name,
    .city,
    .state,
    .postal_code,
    .phone_number,
    .street1,
    .street2,
    .saved_address_for_billing,
    .address_check {
        grid-column-end: span 2;
    }
}

.root label[class*='checkbox-root'] input {
    margin-top: 15px;
}

.savingData {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    top: 0;
}

.place_order_button {
    composes: root_highPriority from '../../../../../../override/button.module.css';
    width: 100%;
    /* grid-column: 1 / span 1; */
}

.place_order_button:disabled {
    opacity: 0.65;
}

.place_order_button span {
    color: #ffffff;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 1.7;
}
