.loader {
    border: 8px solid #f3f3f3;
    border-radius: 50%;
    border-top: 8px solid #0058ac;
    width: 50px;
    height: 50px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 1s linear infinite;
    position: fixed;
    top: 33%;
    left: 44%;
    z-index: 6;

}

.modal-loader {
    position: fixed;
    z-index: 6;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);

}

/* Safari */
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
