#header-storeview-switch,
#header-currency-switch {
    .MuiListItem-button {
        display: none;
    }
}
.rtl-root {
    #header-currency-switch,
    #header-storeview-switch,
    #fsh-my-account,
    .right-bar-item-rtl {
        margin-left: 0;
        margin-right: 35px;
    }
}
