.cmp-wrapper {
    width: 100%;
    margin: auto;
    height: 100px;
    background-color: red;
}

@media only screen and (min-width: 1330px) {
    .cmp-wrapper {
        max-width: 1280px;
    }
}

@media only screen and (max-width: 1330px) and (min-width: 1280px) {
    .cmp-wrapper {
        margin: 0 15px;
        width: calc(100% - 30px)
    }
}

@media only screen and (max-width: 1280px) {
    .cmp-wrapper {
        max-width: 994px;
    }
}

@media only screen and (max-width: 1024px) {
    .cmp-wrapper {
        width: calc(100% - 30px);
        max-width: 720px;
    }
}

