.root {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: auto auto auto auto auto 1fr;
    column-gap: 1rem;
    row-gap: 0.5rem;
    font-size: var(--venia-global-fontSize-100);
    opacity: 1;
    transition-delay: 64ms;
    transition-duration: 384ms;
    transition-property: opacity;
    transition-timing-function: var(--venia-global-anim-standard);
    border-bottom: 1px solid rgb(var(--venia-global-color-border));
}
.root:last-child{
    border-bottom: none;
}
.root > a:nth-child(2){
    color: #000000;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 22px;
} 
.root > dl {
    color: #111111;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 22px;
}
.root > dl > div > dd{
    font-weight: initial;
}
.root_disabled {
    composes: root;
    opacity: 0.5;
}

.thumbnailContainer {
    grid-column: 1 / span 1;
    grid-row: 1 / span 6;
}

.thumbnail {
    border: solid 1px rgb(var(--venia-global-color-border));
}

.name {
    font-weight: 600;
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
    margin-bottom: 0.5rem;
    max-width: 265px;
}

.options {
    display: grid;
    gap: 0.5rem;
    grid-column: 2 / span 1;
    grid-row: 2 / span 2;
}

.quantity {
    display: grid;
    grid-column: 2 / span 1;
    grid-row: 4 / span 1;
    justify-content: left;
}
.quantity > form > div {
    justify-items: left;
    grid-template-columns: min-content min-content min-content;
    grid-column-gap: 8px;
}
.quantity > form > div button:nth-child(2){
    height: 35px;
    width: 35px;
    background-color: var(--venia-global-color-button);
}
.quantity > form > div span:nth-child(3){
    width: 35px;
}
.quantity > form > div span:nth-child(3) > span > input{
    height: 35px;
}
.quantity > form > div button:nth-child(5){
    height: 35px;
    width: 35px;
    background-color: #fff;
    border: 1px solid var(--venia-global-color-button);
}
.price {
    grid-column: 2 / span 1;
    grid-row: 5 / span 1;
    color: #E02020;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 24px;
}

.stockStatus {
    color: rgb(var(--venia-global-color-error));
    font-weight: var(--venia-global-fontWeight-semibold);
    grid-column: 2;
    grid-row: 6;
}

.deleteButton {
    grid-column: 3 / span 1;
    grid-row: 1 / span 1;
    margin-inline-start: 20px;
}
