:root {
  --am-mega-menu-hamburger-bg: 255 255 255;
  --am-mega-menu-hamburger-header-bg: var(--venia-global-color-gray);
}

.enter {
  transition-duration: 384ms;
  transition-timing-function: var(--venia-global-anim-in);
}

.exit {
  transition-duration: 192ms;
  transition-timing-function: var(--venia-global-anim-out);
}

.hidden {
  opacity: 0;
  visibility: hidden;
}

.visible {
  opacity: 1;
  visibility: visible;
}

.root {
  composes: exit hidden;
  background-color: white;
  bottom: 0;
  display: grid;
  grid-template-rows: auto 1fr auto;
  left: 0;
  max-width: 360px;
  overflow: hidden;
  position: fixed;
  top: 0;
  transform: translate3d(-100%, 0, 0);
  transition-property: opacity, transform, visibility;
  width: 100%;
  z-index: 3;
}

.root_open {
  --am-mega-menu-hamburger-header-bg: var(--am-mega-menu-root-bg);
  --am-mega-menu-hamburger-bg: var(--am-mega-menu-root-bg);
  composes: root enter visible;
  box-shadow: 1px 0 rgb(var(--venia-global-color-border));
  transform: translate3d(0, 0, 0);
  background-color: rgb(var(--am-mega-menu-hamburger-bg));
  background-image: var(--am-mega-menu-hamburger-bg);
  height: -webkit-fill-available;
}

.header {
  --venia-global-color-text: var(--am-mega-menu-text-color);
  align-content: center;
  display: grid;
  grid-auto-columns: 3.5rem;
  grid-auto-flow: column;
  grid-auto-rows: 3.5rem;
  grid-template-columns: 3.5rem 1fr 3.5rem;
  height: 3.5rem;
  position: relative;
  z-index: 1;
  background-color: rgb(var(--am-mega-menu-hamburger-header-bg));
  box-shadow: 0 1px rgba(var(--venia-global-color-text) / 0.2);
  color: rgb(var(--venia-global-color-text));
}

.body {
  composes: exit visible;
  min-height: 0;
  overflow: auto;
  transition-property: opacity, visibility;
  -webkit-overflow-scrolling: touch;
}

.footer {
  box-shadow: 0 -1px rgba(var(--venia-global-color-text) / 0.2);
  color: rgb(var(--venia-global-color-text));
}

.authBar {
  /* --venia-global-color-text: var(--am-mega-menu-text-color); */
  composes: root from '~@magento/venia-ui/lib/components/AuthBar/authBar.module.css';
  background-color: rgb(var(--am-mega-menu-hamburger-header-bg));
}

.switchers {
  composes: switchers from '~@magento/venia-ui/lib/components/Navigation/navigation.module.css';
  background-color: rgb(var(--am-mega-menu-hamburger-header-bg));
}

.switchers > div > button {
  --venia-global-color-text: var(--am-mega-menu-text-color);
}

/*
 * Desktop specific styles
 */

@media (min-width: 1025px) {
  .root_open {
    overflow: visible;
  }

  .body {
    overflow: visible;
    max-width: 360px;
  }
}
