:root {
  --am-mega-menu-hamburger-bg: 255 255 255;
  --am-mega-menu-hamburger-header-bg: var(--venia-global-color-gray);
}

.root_open {
  --am-mega-menu-hamburger-header-bg: var(--am-mega-menu-root-bg);
  --am-mega-menu-hamburger-bg: var(--am-mega-menu-root-bg);
  composes: root_open from '~@magento/venia-ui/lib/components/Navigation/navigation.module.css';
  background-color: rgb(var(--am-mega-menu-hamburger-bg));
  background-image: var(--am-mega-menu-hamburger-bg);
}

.header {
  --venia-global-color-text: var(--am-mega-menu-text-color);
  align-content: center;
  display: grid;
  grid-auto-columns: 3.5rem;
  grid-auto-flow: column;
  grid-auto-rows: 3.5rem;
  grid-template-columns: 3.5rem 1fr 3.5rem;
  height: 3.5rem;
  position: relative;
  z-index: 1;
  background-color: rgb(var(--am-mega-menu-hamburger-header-bg));
  box-shadow: 0 1px rgba(var(--venia-global-color-text) / 0.2);
  color: rgb(var(--venia-global-color-text));
}

.body {
  composes: body from '~@magento/venia-ui/lib/components/Navigation/navigation.module.css';
}

.footer {
  box-shadow: 0 -1px rgba(var(--venia-global-color-text) / 0.2);
  color: rgb(var(--venia-global-color-text));
}

.authBar {
  --venia-global-color-text: var(--am-mega-menu-text-color);
  composes: root from '~@magento/venia-ui/lib/components/AuthBar/authBar.module.css';
  background-color: rgb(var(--am-mega-menu-hamburger-header-bg));
}

.switchers {
  composes: switchers from '~@magento/venia-ui/lib/components/Navigation/navigation.module.css';
  background-color: rgb(var(--am-mega-menu-hamburger-header-bg));
}

.switchers > div > button {
  --venia-global-color-text: var(--am-mega-menu-text-color);
}

/*
 * Desktop specific styles
 */

@media (min-width: 1025px) {
  .root_open {
    overflow: visible !important;
  }

  .body {
    overflow: visible !important;
    max-width: 360px;
  }
}
