.root {
    margin: 0 1.5rem;
    margin-bottom: 20px;
}

.root:not(:last-of-type) {
    border-bottom: 0;
}
.root:first-child{
    margin-top: 20px;
}
.root:last-child{
    margin-bottom: 30px;
}
.title {
    font-size: 16px!important;
    font-weight: 600;
    line-height: 1.5;
    margin-bottom: 0.4rem;
    display: block;
}

.selection {
    font-size: 0.8rem;
    line-height: 1.5;
    margin-top: 0.6rem;
    display: flex;
}

.selectionLabel {
    margin-inline-end: 1rem;
}
