    .root {
    padding: 2.5rem 3rem;
    padding-top: 0;
    /* max-width: var(--venia-global-maxWidth); */
    margin: 0 auto;
    min-width: 80%;
}
.addressbookContent {
    display: flex;
    justify-content: center;
}

.heading {
    font-family: poppins;
    font-weight: var(--venia-global-fontWeight-bold);
    line-height: 1.25em;
    margin-bottom: 2rem;
    /* text-align: center; */
    text-transform: capitalize;
    font-size: 24px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 14px;
  padding-top: 20px;
  /* margin-left: 20%; */
}

.addAddress {
    display: flex;
    justify-content: right;

}
.addAddressBtn {
    margin-bottom: 24px;
    /* margin-left: 20%; */
    height: 50px;
  display: inline-block;
  padding: 0 20px;
  border-radius: 4px;
  background-color: #0058AC;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 50px;
  color: #fff;
  cursor: pointer;
}

.wrapper {
    display: grid;
    grid-template-columns: 20% auto;
    padding: 2rem 3rem;
    /* margin-top: 30px; */
} 

@media (max-width:777px) {
    .wrapper {
        display: grid;
        grid-template-columns:auto;
        padding: 0px;
        margin-top: 30px;
    } 
}
.content {
    display: grid;
    gap: 1rem;
    /* grid-auto-rows: minmax(6rem, max-content); */
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 60px;
    min-width: 80%;
    /* max-height: 30px; */
}

.addButton {
    border: 2px dashed rgb(var(--venia-global-color-gray-400));
    border-radius: 0.375rem;
    font-size: 0.875rem;
    font-weight: 600;
    transition: border-color 384ms var(--venia-global-anim-standard);
    color: rgb(var(--venia-brand-color-1-700));
}

.addButton:focus {
    outline: none;
    box-shadow: -6px 6px rgb(var(--venia-global-color-blue-700) / 0.3);
}

.addButton:hover {
    border-color: rgb(var(--venia-brand-color-1-600));
}

@media (max-width: 1024px) {
    .root {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }

    .content {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 640px) {
    .content {
        grid-template-columns: 1fr;
    }
}
