.root {
    display: grid;
    grid-template-columns: minmax(auto, 512px);
    justify-content: center;
    row-gap: 2rem;
    text-align: center;
}

.root_hidden {
    composes: root;
    display: none;
}

.header {
    font-family: var(--venia-global-fontFamily-serif);
}

.contentContainer {
    border: 2px solid rgb(var(--venia-global-color-border));
    border-radius: 0.375rem;
    padding-bottom: 2rem;
}

.signInRoot {
    composes: root from '@magento/venia-ui/lib/components/SignIn/signIn.module.css';
}

.forgotPasswordRoot {
    composes: root from '@magento/venia-ui/lib/components/ForgotPassword/forgotPassword.module.css';
}

.createAccountRoot {
    composes: root from '@magento/venia-ui/lib/components/CreateAccount/createAccount.module.css';
}

@media (max-width: 960px) {
    .contentContainer {
        border: none;
        padding: 0; 
    }

    .root {
        background-color: #FFFFFF;
        padding-bottom: 1rem;
    }

    .header {
        display: none;
    }

    .signInRoot {
        padding: 1rem 0.625rem;
    }

    .forgotPasswordRoot {
        padding: 1rem 0;
    }

    .createAccountRoot {
        padding: 1rem 0;
    }
}
