.myAccountPageRoot {
    background-color: #f2f2f3;
    padding: 20px 10px;
    padding-top: 45px;
    min-height: 100vh;
}
.accMyOrder {
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    background-color: #ffffff;
    padding: 15px;
    margin-bottom: 20px;
}
.accMyOrderT {
    display: flex;
    justify-content: space-between;
    /* margin-bottom: 15px; */
}
.disabled {
    color: rgb(165, 165, 165);
    pointer-events: none;
}

.accMyOrderB {
    display: flex;
    justify-content: space-between;
}
.accMyOrderB > a,
.servicesItem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.accMyOrderB > a > span {
    font-size: 14px;
}
.accMyOrderB > a > span > svg {
    font-size: 25px;
    /* color: #0058ac; */
}

.accServices {
    border-radius: 8px;
    background-color: #ffffff;
    padding: 15px;
    margin-bottom: 20px;
}
.accServicesTitle,
.accMyOrderT > span:first-child {
    margin-bottom: 15px;
    font-size: 18px;
    font-weight: 500;
}
.accMyOrderT > a {
    text-decoration: underline;
}
.accServicesContent {
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    row-gap: 10px;
}
.servicesItem > span {
    font-size: 14px;
    text-align: center;
   
}
.servicesItem > span:first-child {
    background-color: #f2f2f3;
    padding: 7px;
    border-radius:50%;
    margin-bottom: 5px;
}
.servicesItem > span > svg {
    font-size: 25px;
    /* color: #0058ac; */
}
.servicesItem.disabled > span > span > svg {
    stroke: rgb(165, 165, 165);;
}
.logout {
    font-size: 18px;
    font-weight: 500;
    background-color: #0058ac;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 20px;
    width: 100%;
    display:block;
}
.imgContainer > img {
    width: 100%;
}
.imgContainer {
    margin-bottom: 20px;
}
