.customer-dashboard {
    background-color: #f3f3f3;
    padding-top: 40px;
    padding-bottom: 86px;
}
.dashboard-layout {
    display: flex;
}
.dashboard-menu {
    width: 175px;
    min-width: 175px;
}
.menu-header .welcome-customer {
    font-size: 21px;
    line-height: 29px;
    font-weight: bold;
    padding: 16px;
    background: #0f7d37;
    color: #fff;
}
.menu-header .menu-logout {
    padding-top: 14px;
    padding-bottom: 14px;
    font-size: 16px;
    line-height: 24px;
    font-weight: bold;
    color: #d7282f;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.list-menu-item .customer-menu-item {
    font-size: 14px;
    line-height: 24px;
    background: #dcdcdc;
    color: #333132;
    font-weight: bold;
    margin-bottom: 8px;
}
.customer-menu-item.active {
    background: #333132;
    color: #fff;
}
.list-menu-item-content {
    padding: 0;
}
.dashboard-content {
    width: 100%;
    margin-right: 40px;
    margin-left: 40px;
    max-width: 970px;
    max-width: unset;
    margin-right: 0;
}
.sidebar-item .sidebar-title {
    font-size: 28px;
    line-height: 36px;
    color: #fff;
    margin-bottom: 16px;
    font-weight: bold;
}
.sidebar-item .sidebar-action {
    cursor: pointer;
    background: #dcdcdc;
    font-size: 16px;
    padding: 10px 16px;
    white-space: nowrap;
}
.sidebar-item.trade-sv {
    background: #0f7d37;
}
.sidebar-item.branch-sv {
    background: #333132;
}
.promo-content {
    display: flex;
    justify-content: center;
    height: 50px;
    align-items: center;
    margin-top: 8px;
}
.promo-content .promo-item {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
}
.promo-item .promo-text {
    margin: 0 8px;
}
#promo-item-2 {
    margin: 0 195px;
}
.menu-toggle {
    display: none;
}
.body-customer-dashboard .footer-app {
    margin: 0;
}
.body-customer-dashboard #data-breadcrumb {
    display: none;
}
.customer-page-title {
    font-size: 21px;
    line-height: 29px;
    font-weight: bold;
    margin-bottom: 8px;
}
.customer-page-content {
    padding: 24px;
    font-size: 16px;
    line-height: 24px;
    background: #fff;
}

/* profile */
.account-information-area {
    font-size: 16px;
    line-height: 24px;
    color: #333132;
}
.account-information-area .row-edit-profile{
    display: flex;
}
.row-edit-profile .main__edit-column,
.row-edit-profile .alternative__edit-column{
    flex-basis: 328px;
}
.row-edit-profile .alternative__edit-column{
    margin-left: 80px;
}
.account-information-area .title {
    font-weight: bold;
    margin: 0 0 23px;
    font-size: 16px;
    line-height: 24px;
}
.account-information-area .form-group {
    margin-bottom: 23px;
}
.account-information-area .form-group label {
    font-weight: normal;
    margin: 0 0 1px;
}
.group-password-strong{
    margin-bottom: 15px;
}
.group-password-strong .new_password{
    margin-bottom: 0
}
.group-password-strong .password-strength{
    background: #F3F3F3;
    height: 25px;
    font-size: 14px;
    padding-left: 8px;
}
.account-information-area .checkbox-item {
    align-items: center;
}
.account-information-area .checkbox-item.first {
    margin-top: 1px;
}
.account-information-area .checkbox-item .checkbox-item-icon,
.account-information-area .checkbox-item.selected .checkbox-item-icon {
    margin-top: 0;
}
.account-information-area button.save-profile {
    margin: 24px 0 16px;
    padding: 10px 18px;
    width: 100px;
}

/* book addresses */
.customer-dashboard.address-book {
    padding-bottom: 80px;
}
.account-address-book {
    font-size: 16px;
    line-height: 24px;
    color: #333132;
}
.account-address-book .acc-book-title {
    margin: 0 0 16px;
    font-weight: bold;
    font-size: 16px;
}
.address-book__container {
    display: flex;
}
.default-address {
    margin-bottom: 24px;
}
.default-address .address-book__container .col-address-book {
    max-width: 207px;
}
.default-address .address-book__container .col-address-book:not(:first-child) {
    margin-left: 100px;
}
.edit-address-book {
    margin-bottom: 16px;
    width: 184px;
}
.edit-address-book:hover{
    text-decoration: none;
    color: #333132;
}
.book-title {
    margin-bottom: 8px;
    font-weight: bold;
}
.col-address-book p {
    margin: 0;
}
.additional-address-entries {
    margin-top: 16px;
    clear: both;
    display: inline-block;
    width: 100%;
}
.additional-address-entries .address-book__container {
    flex-direction: column;
    margin-bottom: 56px;
}
.additional-address-entries
    .address-book__container
    .col-address-book:not(.first-item) {
    margin-top: 40px;
}
.book-actions {
    margin-top: 16px;
}
.book-actions .edit-item {
    color: #0f7d37;
    text-decoration: underline;
    cursor: pointer;
}
.book-actions .del-item {
    margin-left: 24px;
    color: #0f7d37;
    text-decoration: underline;
    cursor: pointer;
}

/* dashboard */
.customer-recent-orders{
    font-size: 16px;
    line-height: 24px;
    color: #333132;
}
.customer-recent-orders .config-page{
    margin-top: 24px;
    float: left;
    width: 100%;
}
.table-siminia {
    font-size: 16px;
    line-height: 24px;
}
.table-siminia > thead > tr,
.table-siminia > thead > tr > th {
    background: #333132;
    color: #fff;
}
.table-siminia > tbody > tr > td,
.table-siminia > tbody > tr > th,
.table-siminia > tfoot > tr > td,
.table-siminia > tfoot > tr > th,
.table-siminia > thead > tr > td,
.table-siminia > thead > tr > th {
    padding: 8px 21px;
}
.table-siminia > tbody > tr > td.order-status{
    text-transform: capitalize;
}
.table-siminia.table-striped > tbody > tr:nth-of-type(odd) {
    background: #fff;
}
.table-siminia.table-striped > tbody > tr:nth-of-type(even) {
    background: rgba(15, 125, 55, 0.05);
}
.customer-page-title .view-all {
    color: #0f7d37;
    font-size: 16px;
    line-height: 24px;
    text-decoration: underline;
    font-weight: normal;
    margin-top: 2.5px;
    float: right;
    cursor: pointer;
}
.view-order {
    color: #0f7d37;
    text-decoration: underline;
    cursor: pointer;
    white-space: nowrap;
}
.dashboard-acc-information {
    clear: both;
    margin-top: 40px;
    display: inline-block;
    width: 100%;
}
.acc-information {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    line-height: 24px;
    color: #333132;
}
.dash-column-box {
    background-color: #ffffff;
    padding: 24px;
    flex-basis: 477px;
    min-height: 205px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.acc-information .dash-column-box:not(:first-of-type),
.dashboard-address-book .dash-column-box:not(:first-of-type) {
    margin-left: 17px;
}
.dash-column-box .box-title {
    font-weight: bold;
    margin-bottom: 8px;
}
.dash-column-box .desc {
    margin-bottom: 8px;
}
.dash-column-box .edit-link {
    color: #0f7d37;
    text-decoration: underline;
    cursor: pointer;
    margin-bottom: 8px;
    display: inline-block;
}
.dash-column-box .edit-information {
    width: 100px;
}
.dashboard-address-book {
    margin-top: 40px;
}
.dashboard-address-book .customer-page-title .view-all {
    float: none;
    margin-left: 24px;
}
.dashboard-address-book .dash-column-box {
    min-height: auto;
    justify-content: unset;
}
.dash-column-box .edit-item {
    margin: 8px 0 0;
    color: #0f7d37;
    text-decoration: underline;
    cursor: pointer;
}
.view-recent-orders{
    background: transparent;
}
.customer-recent-orders #page-numbers li{
    background-color: #FFFFFF;
    color: #333132;
    width: 24px;
    height: 24px;
    margin: 0 4px;
    text-align: center;
    line-height: 24px;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
}

.product-code{
    vertical-align: middle
}

.page-nums{
    padding: 0 3px;
}

.active{
    background: #333132;
    color: #FFFFFF;
}
.customer-recent-orders #page-numbers li.icon-page-number{
    padding: 2px !important;
}
.customer-recent-orders #page-numbers li:first-child{
    margin-left: 0;
}
.customer-recent-orders #page-numbers li:last-child{
    margin-right: 0;
}

#page-numbers li{
    margin-right: 5px;
}

.icon-page-number{
    line-height: 0px;
}

.cart-item-value span{
    color: rgb(171, 69, 47) !important;
}

/* newsletter */
.customer-dashboard.newsletter .customer-page-content{
    min-height: 455px;
}
.account-newsletter .title{
    font-size: 16px;
    line-height: 24px;
    font-weight: bold;
    margin: 0 0 20px;
}
.account-newsletter .checkbox-item{
    align-items: center;
}
.account-newsletter .checkbox-item .checkbox-item-icon,
.account-newsletter .checkbox-item.selected .checkbox-item-icon{
    margin-top: 0;
}
.account-newsletter .save-newsletter{
    padding: 10px 18px;
    width: 100px;
    margin-top: 24px;
}

/* new address */
.form-address-row{
    display: flex;
    font-size: 16px;
    line-height: 24px;
}
.form-address-row .col-edit-address{
    flex-basis: 328px;
}
.form-address-row .col-edit-address:not(:first-child){
    margin-left: 80px;
}
.form-address-row .acc-book-title{
    font-size: 16px;
    line-height: 24px;
    margin: 0 0 23px;
    font-weight: bold;
}
.form-address-row .form-group{
    margin-bottom: 23px;
}
.form-address-row .form-group label{
    font-weight: normal;
    margin-bottom: 1px;
}
.form-address-row .form-group.address2{
    margin-top: -15px;
}
.form-address-row .list-country-and-state{
    margin-bottom: 21px;
}
.form-address-row .list-country-and-state label{
    margin-bottom: 1px;
    font-weight: normal;
}
.form-address-row .region-view{
    margin-top: 23px;
}
.form-address-row .region-view input{
    display: block;
}
.form-address-row .region-view .form-field-item{
    flex-direction: column;
    align-items: flex-start !important;
}
.addnew-address-form .save-address-book{
    width: 184px;
    margin-top: 16px;
    padding: 10px 18px;
}
.form-address-row .checkbox-item{
    align-items: center;
    white-space: nowrap;
}
.form-address-row .checkbox-item .checkbox-item-icon,
.form-address-row .checkbox-item.selected .checkbox-item-icon{
    margin-top: 0;
}
.form-address-row .checkbox-item .checkbox-item-text{
    flex: 1;
}
.form-address-row .form-group.is_default_billing{
    display: flex;
}
.form-address-row .form-group.is_default_billing .input-group-field{
    display: none;
}

/* order detail */
.order-detail__summary{
    font-size: 16px;
    line-height: 24px;
    display: flex;
    margin-bottom: 20px;
}
.order-detail__summary .detail-col:not(:first-child){
    margin-left: 100px
}
.order-detail__summary .line-num{
    display: flex;
}
.order-detail__summary .line-num:not(:first-child){
    margin-top: 8px;
}
.green{
    color: #0F7D37;
}
.detail-col .address{
    margin-left: 16px;
}
.order-detail-table{
    font-size: 16px;
    line-height: 24px;
    color: #333132;
}
.order-detail-table .order-header{
    display: flex;
    align-items: center;
    background-color: #333132;
    color: #fff;
    font-weight: bold;
}
.order-detail-table .detail-order__col{
    padding: 8px 0 8px 21px;
    display: inline-block;
}
.order-detail-table .detail-order__col:first-child{
    width: 30.38%;
}
.order-detail-table .detail-order__col:nth-child(2){
    width: 14.77%;
}
.order-detail-table .detail-order__col:nth-child(3){
    width: 16.62%;
}
.order-detail-table .detail-order__col:nth-child(4){
    width: 11.98%;
}
.order-detail-table .detail-order__col:nth-child(5){
    width: 12.49%;
}
.order-detail-table .detail-order__col:nth-child(6){
    width: 13.76%;
    padding-right: 10px;
}
.order-detail-table .order-body .detail-order__col{
    padding-top: 16px;
    padding-bottom: 16px;
}
.detail-order__col .img-name-col{
    display: flex;
}
.detail-order__col .img-name-col:hover{
    text-decoration: none;
}
.order-detail-table .img-order-container{
    min-width: 86px;
    height: 86px;
    display: block;
    border: 1px solid;
    margin-right: 16px;
    text-align: center;
    background: white;
}
.order-detail-table .img-order-container img{
    height: inherit;
    width: inherit;
    max-width: 100%;
    max-height: 100%;
}
.order-detail-table .order-item-info{
    margin-top: 6px;
}

.detail-order__col.item-qty{
    text-align: center;
}
.detail-order__col.item-qty span{
    width: 40px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border: 1px solid #DCDCDC;
    display: inline-block;
}
.order-body .order-detail-line{
    background: #fff;
}
.order-body .order-detail-line:nth-child(even){
    background: rgba(15,125,55,0.05);
}
.detail-order-footer{
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
}
.delivery-restrictions textarea{
    min-width: 328px;
    height: 144px;
    border: 1px solid rgba(51,49,50,0.4);
    border-radius: 4px;
    resize: none;
    margin-top: 10px;
    outline: none;
    padding: 10px 16px;
    font-size: 16px;
    line-height: 24px;
}
.box-total-price{
    font-size: 16px;
    line-height: 24px;
    margin-left: 20px;
}
.box-total-price .summary-price-line{
    display: flex;
    justify-content: space-between;
}
.box-total-price .summary-price-line.total{
    color: #0F7D37;
    font-weight: bold;
}
.box-total-price .summary-price-line:not(:first-child){
    margin-top: 16px;
}
.box-total-price .back-all-orders{
    width: 217px;
    padding: 10px 18px;
    margin-top: 24px;
    background: transparent;
}


@media (max-width: 767px) {
    .customer-dashboard {
        padding-top: 0;
    }
    .dashboard-layout {
        display: block;
    }
    .dashboard-menu {
        width: 100%;
    }
    .dashboard-content{
        margin-left: 0px !important;
    }
    .customer-dashboard .container {
        padding: 0;
    }
    .menu-header {
        display: flex;
        align-items: center;
        background: #0f7d37;
        padding-right: 16px;
    }
    .menu-header .welcome-customer {
        background: unset;
        margin-right: auto;
        white-space: nowrap;
        overflow: hidden;
    }
    .menu-header .menu-logout svg {
        fill: #fff !important;
    }
    .menu-toggle {
        display: block;
        height: 32px;
        margin-left: 8px;
        cursor: pointer;
    }
    .dashboard-menu .list-menu-item {
        margin-top: 16px;
        margin-bottom: 24px;
        margin-left: 16px;
        margin-right: 16px;
        display: none;
    }
    .dashboard-content {
        margin: 0;
        padding: 16px;
        width: auto;
    }
    .body-customer-dashboard #data-breadcrumb {
        display: block;
    }

    /* profile */
    .customer-dashboard.edit .customer-page-content {
        padding: 16px 24px 24px;
    }
    .account-information-area .row-edit-profile{
        display: block;
    }
    .row-edit-profile .alternative__edit-column{
        margin-left: 0;
        margin-top: 17px;
        width: 100%;
    }
    .row-edit-profile .alternative__edit-column.active{
        margin-top: 40px;
    }
    .account-information-area .title {
        margin-bottom: 15px;
    }
    .account-information-area .checkbox-item {
        margin-top: 16px;
    }
    .account-information-area button.save-profile {
        margin-top: 7px;
        margin-bottom: 0;
    }
    .account-information-area .alternative__edit-column.active .form-group:last-child{
        margin-bottom: 32px;
    }

    /* address book */
    .customer-dashboard.address-book {
        padding-bottom: 24px;
    }
    .customer-dashboard.address-book .customer-page-content {
        padding: 0px 24px 24px;
    }
    .customer-page-title {
        margin-bottom: 16px;
    }
    .account-address-book .additional-address-entries .acc-book-title {
        margin: 0px -24px;
        padding: 24px 0 16px;
        background: #f3f3f3;
        font-size: 21px;
        line-height: 29px;
    }
    .additional-address-entries .address-book__container {
        margin-top: 24px;
        margin-bottom: 0;
    }
    .default-address {
        margin-bottom: 8px;
        padding-top: 16px
    }
    .default-address .address-book__container {
        flex-direction: column;
    }
    .default-address
        .address-book__container
        .col-address-book:not(:first-child) {
        margin-top: 16px;
        margin-left: 0;
    }
    .additional-address-entries{
        margin-top: 0;
    }
    .additional-address-entries
        .address-book__container
        .col-address-book:not(.first-item) {
        margin-top: 24px;
    }
    .addnew-address-form{
        padding-top: 16px;
    }

    /* dashboard */
    .customer-dashboard.dashboard{
        padding-bottom: 24px;
    }
    .table-siminia table,
    .table-siminia thead,
    .table-siminia tbody,
    .table-siminia th,
    .table-siminia td,
    .table-siminia tr {
        display: block;
    }
    .table-siminia thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }
    .table-siminia > tbody > tr > td {
        /* Behave  like a "row" */
        border: none;
        position: relative;
        padding-left: 50% !important;
        white-space: normal;
        text-align: right;
    }
    .table-siminia td:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        left: 24px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
        text-align: left;
        font-weight: bold;
    }
    .table-siminia td:before {
        content: attr(data-title);
    }
    .table-siminia > tbody > tr > td,
    .table-siminia > tbody > tr > th,
    .table-siminia > tfoot > tr > td,
    .table-siminia > tfoot > tr > th,
    .table-siminia > thead > tr > td,
    .table-siminia > thead > tr > th {
        padding: 2px 24px;
    }
    .table-siminia > tbody > tr > td:first-child{
        padding-top: 16px;
    }
    .table-siminia > tbody > tr > td:last-child{
        padding-bottom: 16px;
    }
    .dashboard-acc-information, .dashboard-address-book{
        margin-top: 16px;
    }
    .customer-dashboard.dashboard .customer-page-title{
        margin-bottom: 8px;
    }
    .acc-information,
    .address-book__container{
        flex-direction: column;
    }
    .dash-column-box{
        flex-basis: auto;
    }
    .acc-information .dash-column-box:not(:first-of-type), .dashboard-address-book .dash-column-box:not(:first-of-type){
        margin-left: 0;
        margin-top: 8px;
    }
    .dashboard-address-book .customer-page-title .view-all{
        float: right;
    }
    .customer-dashboard.my-order{
        padding-bottom: 40px;
    }
    .customer-recent-orders .config-page{
        flex-direction: column;
        margin-top: 16px;
    }
    .customer-recent-orders .config-page #page-numbers{
        margin-top: 24px;
    }
    .customer-recent-orders #page-numbers li{
        width: 32px;
        height: 32px;
        line-height: 32px;
        margin: 0 8px;
    }
    .customer-recent-orders #page-numbers li.icon-page-number svg{
        width: 26.67px !important;
        height: 26.67px !important;
    }
    .customer-dashboard.edit{
        padding-bottom: 24px;
    }

    /* newsletter */
    .customer-dashboard.newsletter{
        padding-bottom: 17px;
    }
    .customer-dashboard.newsletter .customer-page-content{
        padding: 16px 24px 24px;
        min-height: auto;
    }
    .account-newsletter .title{
        margin-bottom: 16px;
    }
    .account-newsletter .save-newsletter{
        margin: 19px 0 10px;
    }

    .customer-dashboard.edit-address .customer-page-content{
        padding-top: 16px;
    }
    .form-address-row{
        display: block;
    }
    .form-address-row .col-edit-address{
        flex-basis: unset;
    }
    .form-address-row .col-edit-address:not(:first-child){
        margin-left: 0;
        margin-top: 17px;
        display: inline-block;
        width: 100%;
    }
    .form-address-row .form-group.address2{
        margin-top: -13px;
    }
    .form-address-row .list-country-and-state .fake-input-select{
        max-width: unset;
    }
    .form-address-row .list-country-and-state{
        margin-bottom: 24px;
    }
    .addnew-address-form .save-address-book{
        width: 100%;
        margin-top: 40px;
    }
    .form-address-row .checkbox-item .checkbox-item-icon{
        margin-right: 8px;
    }

    /* order detail */
    .customer-dashboard.order-detail{
        padding-bottom: 24px;
    }
    .order-detail__summary{
        display: block;
        margin-bottom: 16px;
    }
    .order-detail__summary .detail-col:not(:first-child){
        margin-left: 0;
        margin-top: 8px;
    }
    .order-detail__summary .detail-col:first-child .line-num span{
        margin-left: 16px !important;
    }
    .order-detail-table .order-body .detail-order__col{
        width: 100%;
        padding: 0;
    }
    .order-body .order-detail-line{
        padding: 18px 24px 24px;
    }
    .order-body .order-detail-line .detail-order__col:first-child{
        margin-bottom: 12px;
    }
    .order-body .order-detail-line .detail-order__col.img-item b{
        margin-bottom: 8px;
        display: block;
    }
    .order-body .order-detail-line .detail-order__col:not(:first-child){
        display: flex;
        justify-content: space-between;
        margin-top: 4px;
        align-items: center;
    }
    .order-detail-table .img-order-container{
        width: 60px;
        height: 60px;
        margin: 0;
    }
    .order-detail-table .order-item-info{
        display: block;
        clear: both;
        margin-top: 8px;
    }
    .detail-order__col .img-name-col{
        display: block;
    }
    .detail-order-footer{
        display: block;
        margin-top: 16px;
    }
    .delivery-restrictions textarea{
        margin-top: 14px;
        min-width: 100%;
    }
    .box-total-price{
        margin-left: 0;
        margin-top: 11px;
    }
    .box-total-price .back-all-orders{
        width: 100%;
    }
    .order-detail__summary .line-num b{
        min-width: 121px;
    }
}

.is-invalid {
    border-color: #d7282f;
}

.email-not-edit {
    color: #d7282f;
    text-align: center;
    margin-top: 10px;
}

@media (max-width: 359px) {
    .form-address-row .checkbox-item .checkbox-item-text{
        margin-right: -22px;
    }
}
/*
Order history
*/

@media (max-width: 1024px) {
    .table-siminia > tbody > tr > td,
    .table-siminia > tbody > tr > th,
    .table-siminia > tfoot > tr > td,
    .table-siminia > tfoot > tr > th,
    .table-siminia > thead > tr > td,
    .table-siminia > thead > tr > th {
        padding: 8px 8px;
    }

    .dashboard-content {
        margin-right: 20px;
        margin-left: 20px;
    }

    .dash-column-box .email {
        word-break: break-all;
    }

    .dash-column-box .edit-information {
        margin-top: 10px;
    }
}

@media (min-width: 1024px) and (max-width: 1919px) {
    .product-grid .no-product{
        margin-left: 22px;
    }
}
.product-grid .siminia-product-list-item{
    display: inline-block;
    padding: 0;
    margin: 0;
    margin-top: 16px;
    vertical-align: top;
    width: 48%;
}

@media (min-width: 1024px) {
    .product-grid .siminia-product-list-item{
        width: 25%;
        padding-left: 22px;
    }
}

@media (min-width: 1920px) {
    .product-grid .siminia-product-list-item{
        padding: 0;
        margin-left: 75px;
        width: 240px;
    }

    .product-grid .no-product{
        margin-left: 40px;
    }

    .product-grid .siminia-product-list-item.first{
        margin-left: 40px;
    }
}
