.root {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
}

.payment_info_container {
    border: none;
}

.loading {
    align-content: center;
    align-items: center;
    display: grid;
    gap: 3rem;
    height: calc(100% - 6rem);
    justify-content: center;
    justify-items: center;
    margin: 3rem 0;
    width: 100%;
    text-align: center;
}

/*
 * Mobile-specific styles.
 */

@media (max-width: 960px) {
    .container {
        gap: 1rem;
    }
}

@media (max-width: 960px) {
    .heading {
        border-width: 0;
    }
}
