.root {
    border: 1px solid rgb(var(--venia-global-color-border));
    border-bottom: none;
}
.root > div {
    border: none;
}
.root > div > div {
    border-bottom: 1px solid rgb(var(--venia-global-color-border));
}
.sectionRoot {
    font-size: 18px;
}
.sectionRoot span[class*='label'] {
    font-size: 16px;
}

@media (max-width: 768px) {
    .root {
        font-size: 16px;
    }
    .sectionTitle {
        font-size: 16px;
    }
    .sectionRoot span[class*='label'] {
        font-size: 14px;
    }
}
