.root {
    border: 1px solid rgb(0, 88, 178, 0.5);
    border-bottom: none;
}
.root > div {
    border: none;
}
.root > div > div {
    border-bottom: 1px solid rgb(0, 88, 178, 0.5);
}
.sectionRoot {
    font-size: 18px;
}
.sectionRoot span[class*='label'] {
    font-size: 16px;
}

@media (max-width: 768px) {
    .root {
        font-size: 16px;
    }
    .sectionTitle {
        font-size: 16px;
    }
    .sectionRoot span[class*='label'] {
        font-size: 14px;
    }
}
.slider {
    width: 100%;
}
.message {
    font-size: 0.875rem;
    line-height: 1.5rem;
}
.userBalance {
    margin: 0 1rem 1rem 0;
    font-size: 0.875rem;
    line-height: 1.5rem;
}
.pointSpend {
    margin: 1rem 0;
    display: flex;
}
.pointInput {
    text-align: center;
    margin-left: 15px;
    max-width: 70px;
    max-height: 30px;
}