.emptyBody {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.noProductText {
    margin-top: 2rem;
    margin-bottom: 2.5rem;
    font-size: 0.9rem;
    line-height: 1rem;
    letter-spacing: 0;
    padding: 0;
}

.body {
    gap: 1rem;
}

.heading_container {
    margin-bottom: 0;
}

.summary_contents {
    background: none;
}

.root {
    padding: 30px 10px 10px 10px;
    max-width: 1080px;
    margin: 0 auto;
}

@media (max-width: 960px) {
    .root {
        /*padding-left: 15px;*/
        /*padding-right: 15px;*/
    }
}


.topOutOfStockContainer {
    background: #FFE8EA;
    padding: 10px 12px;
    margin-bottom: 30px;
}

.stockText {
    font-size: 13px;
    line-height: 15px;
}

.stockTextNote {
    color: #FF5F59;
    font-weight: 600;
    margin-right: 5px;
}
