.mainFooter {
    display: flex;
    background-color: #FFFFFF;
    box-shadow: 0 0 4px 0 rgba(0,0,0,0.3);
    justify-content: space-between;
    height: 55px;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 4;
    padding: 1rem 0;
    color: #000;
    align-items: center;
}
.iconWrapper {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #C3BEBE;
}
.active {
    color: #000;
}
.iconWrapper > span > svg {
    font-size:16px;
}
.iconWrapper > span  {
    font-size:12px;
}
.cartQty {
    position: absolute;
    min-width: 20px;
    height: 20px;
    background: #0058ac;
    color: #fff;
    border-radius: 10px;
    padding-left: 6px;
    padding-right: 6px;
    z-index: 5;
    font-size: 12px;
    line-height: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    top: 4px;
    right: 42%;
    text-align: center;
}