.root {
    display: grid;
    row-gap: 0.5rem;
    padding-top: 19px;
    position: relative;
}

.loading {
    width: 100vw; 
    height: 100vh;
    position: fixed;
    top: 0;
    padding-top: 40vh;
    left: 0; 
    z-index: 9999;
    background-color: rgba(45, 45, 45, 0.7);
}

.name {
    color: #383D45;
    font-size: 1rem;
    letter-spacing: 0;
    line-height: 0.9rem;
    flex: 1;
    font-weight: bold;
    margin-top: 5px;
    padding-right: 5px;
    font-family: 'Poppins';
}

.checkItem {
    position: absolute;
    top: 30px;
    left: 10px;
    z-index: 2;
}

.checkItem:checked:after {
	content: '\2705';
    width: 13px;
    height: 13px;
	font-size: 10px;
	position: absolute;
    top: -1px;
}

.price {
    white-space: nowrap;
    color: #383D45;
    font-size: 0.8rem;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 1rem;
    margin-top: 5px;
    font-family: 'Poppins';
}

.sideTools {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    height: 100%;
}

.lowerTools {
    display: flex;
    align-items: center;
}

.optionLabel, .optionLabel > * {
    color: #383D45;
    font-size: 0.7rem;
    font-weight: 500;
    word-break: break-all;
}

.optionLabel:last-child {
    margin-left: 1px;
}

.deleteIcon {
    cursor: pointer;
}

.deleteIconStock {
    position: absolute;
    top: 35px;
    right: 15px;
    cursor: pointer;
    z-index: 2;
}

.imageContainer {
    grid-area: image;
    position: relative;
    height: 100%;
}

.image {
    background-color: transparent;
    /* border: solid 1px rgb(var(--venia-global-color-border)); */
    border-radius: 2px;
    height: 100%;
    -o-object-fit: contain;
    object-fit: contain;
    -o-object-position: top;
    object-position: top;
    
}

.imageRoot {
    height: 100%;
}

.stockStatusMessage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 11px 16px;
    font-size: 12px;
    white-space: nowrap;
    background: #ffffff88;
    border-radius: 4px;
    color: #150826;
    font-weight: 600;
    line-height: 14px;
    text-transform: uppercase;
}

.upperTools {
    display: flex;
    justify-content: space-between;
}

.item {
    display: grid;
    grid-template-areas: 'image details remove';
    grid-template-columns: 100px 1fr min-content;
    background-image: linear-gradient(#8AD5FF 100%,#5CC5FF 100%);
    padding: 15px;
    border-radius: 8px;
}

.item_out_stock {
    align-items: center;
    display: grid;
    grid-template-areas: 'image details remove';
    grid-template-columns: 100px 1fr min-content;
    background-color: #ECF5FF;
    opacity: 0.5;
    padding: 15px;
    border-radius: 8px;
}

.itemUncheck {
    align-items: center;
    display: grid;
    grid-template-areas: 'image details remove';
    grid-template-columns: 100px 1fr min-content;
    background-color: white;
    padding: 15px;
    border-radius: 8px;
}

.item > li > button > span > svg {
    stroke: rgba(18, 18, 18);
    width: 24px;
    height: 24px;
}

.item {
    grid-template-columns: 96px 1fr min-content;
}

.secondaryContainer {
    display: flex;
    justify-content: space-between;
}

.stockMessage {
    position: absolute;
    top: 80px;
    left: 120px;
    height: 30px;
    width: 110px;
    background-color: #DADCE0;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0px 10px;
    font-size: 10px;
    border-radius: 10px;
    font-family: 'Poppins';
    z-index: 2
}

.details {
    height: 100%;
    margin-left: 8px;
    display: grid;
    align-items: center;
    grid-gap: 5px
}

.quantityContainer {
    display: flex;
    justify-content: space-between;
}

.quantityOutStock {
    display: flex;
    justify-content: flex-end;
}

.placeholder {

}

.placeholder_layoutOnly {
    
}

.priceTotal {
    padding: 10px 0;
}

@media (min-width: 759px) {
    .root {
        padding-top: 25px;
        padding-bottom: 25px;
    }

    /* .image {
        max-width: 202px;
        max-height: 202px;
        border: solid 1px #EFEFEF;
    } */

    .details {
        margin-left: 3rem;
    }
}


@media (min-width: 1023px) {
    .root {
        padding-top: 35px;
        padding-bottom: 35px;
    }

    /* .image {
        max-width: 303px;
        max-height: 303px;
    } */

    .details {
        margin-left: 4rem;
    }

    .name {
        font-size: 0.9rem;
    }
}

@media (max-width: 768px) {
    .image {
        max-width: 100%;
        max-height: 100%;
        height: unset;
        vertical-align: bottom;
        position: unset;
        object-fit: fill;
        border-radius: 10%;
    }

    .placeholder {
        position: absolute;
    }

    .imageRoot {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 96px;
        height: 104px;
        border-radius: 8px;
    }

    .imageContainer {
        width: 96px;
        height: 104px;
    }
}