.grouped-options {
    padding: 1rem;
    

    .product-title {
        text-align: center;
        text-transform: uppercase;
        font-weight: 600;
    }

    .product-name {
        font-weight: 500;
        margin-top: 10px;
    }

    .option-qty {
        margin-top: 10px;
    }

}
@media (max-width: 768px) {
    .grouped-options {
        padding:0;
        padding-top: 3rem;
        padding-left: 1rem;
    }
}
