.grouped-options {
    padding: 1rem;
    .product-title {
        color: #000000;
        font-size: 16px;
        font-weight: bold;
        letter-spacing: 0;
        line-height: 19px;
    }

    .product-name {
        color: #555555;
        font-size: 14px;
        margin-top: 16px;
        letter-spacing: 0;
        line-height: 19px;
    }

    .option-qty {
        margin-top: 10px;
    }
}
@media (max-width: 768px) {
    .grouped-options {
        padding: 0;
        padding-top: 3rem;
        padding-left: 1rem;
    }
}
