.root {
    border: 1px solid rgb(var(--venia-global-color-text));
    border-radius: 2px;
    height: 3rem;
    min-width: 33px;
    border: 1px solid #E0E0E0;
    border-radius: 50%;
    outline: none;
    background-color: #ffffff;
    padding: 5px;
    min-height: 30px;
    padding: 5px 7px;
}

.root:not(:last-child) {
    margin-right: 25px;
}

@media (min-width: 1024px) {
    .root {
        height: 33px;
        min-width: 33px;
        box-sizing: border-box;
        border: 1px solid #E0E0E0;
    }
}

.root_selected {
    composes: root;
    background-color: #828282;
    color: white;
}

.root_focused {
    composes: root;
}

.root_selected_focused {
    composes: root_selected;
}
