.accountMenuRoot {
    --content-width: 27.5rem;
    height: 0;
    overflow: visible;
    left: -100vw;
    opacity: 0;
    position: absolute;
    top: 100%;
    transition: opacity 192ms var(--venia-global-anim-out),
        visibility 192ms var(--venia-global-anim-out),
        /* Adding delay to move container off the screen after previous transitions happened */
            left 0s 192ms;
    visibility: hidden;
    width: calc(100vw - 2rem);
    /* max-width wider than header to let dropdown to move left on wider screens while still staying near the trigger */
    max-width: calc(
        var(--venia-global-maxWidth) + var(--content-width) * 2 - 25rem
    );
    z-index: 3;
    transform: translate3d(-50%, 0, 0);
}
.accountMenuRootOpen {
    composes: accountMenuRoot;
    left: 50%;
    opacity: 1;
    transition: opacity 224ms var(--venia-global-anim-in),
        visibility 224ms var(--venia-global-anim-in), left 0s;
    visibility: visible;
}
@media (max-width:450px) {
   .root {
       display:flex;
       align-items: center;
       width: 100%;
   }
   .accountLetter {
    height: 35px;
    width: 35px;
    text-align: center;
    line-height: 35px;
    font-size: 22px;
   }
  
   
}