.search-icon-rtl {
    right: unset !important;
    left: 14px;
}
@media (max-width: 780px) {
    .siminia-search-field-wrapper {
        background-color: #fff;
        right: -60px;
        top: -36px;
        z-index: 2;
        animation: inputIn 0.4s;
        padding: 10px;
        display: flex;
        /* height: 5vh; */
        position: absolute;
        width: 100vw;
        height: 96.6vh;
        .wrap-content{
            display: grid;
            grid-area: 'search input micro';
            grid-template-columns: 1fr min-content;
            height: 45px;
            .cancel{
                text-transform: uppercase;
                align-items: center;
                display: flex;
                flex-direction: column;
                height: 100%;
                justify-content: center;
                font-size: 14px;
                font-weight: 500;
                letter-spacing: 0;
                padding-inline-start: 20px;
                line-height: 16px;
            }
            .wrap-search{
                display: grid;
                grid-area: 'search input micro';
                grid-template-columns: min-content 1fr min-content;
                height: 45px;
                opacity: 0.3;
                background-color: #fff;
                border: 1px solid gray;
                input{
                    border:none;
                    height: 43px;
                    padding: 0 30px 0 5px;
                    width: 100%;
                }
            }
        }
        .micro-icon{
            display: none;
        }
        .header-search-icon {
            align-items: center;
            display: flex;
            flex-direction: column;
            height: 100%;
            justify-content: center;
            padding: 0 10px;
        }
        .header-close-icon {
            font-size: 23px;
            margin-top: 10px;
            margin-right: 9px;
        }
    }
    .siminia-search-field {
        // position:fixed;
        width: 100%;
        z-index: 10;
        left: 0;
    }
    .main-header-icon {
        position: absolute;
        z-index: 2;
        left: calc(50% - 80px);
        bottom: 15px;
        max-height: 32px;
    }
    .main-header-backIcon {
        max-width: 15%;
        position: absolute;
        /* left: 21px; */
        z-index: 2;
        inset-inline-start: 10px;
        bottom: 12px;
        display: flex;
        align-items: center;
        background: #fff;
    }
    .header-title {
        // position: fixed;
        left: 71px;
        top: 14px;
        font-size: 20px;
        font-weight: 600;
    }
    .shopping-cart-icon {
        font-size: 20px;
        margin-inline-end: 10px;
        // margin-bottom: 5px;
        position: relative;
        margin-inline-start: 15px;
    }
    .header-cartQty {
        position: absolute;
        top: -12px;
        right: -11px;
        border: 1px solid #fff;
        border-radius: 50%;
        font-size: 12px;
        background: var(--venia-global-color-button);
        line-height: 22px;
        height: 22px;
        width: 22px;
        text-align: center;
        color: var(--venia-global-color-button-text);
    }
    @keyframes inputIn {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
}
