.search-icon-rtl {
    right: unset !important;
    left: 14px;
}
@media (max-width: 450px) {

    .siminia-search-field-wrapper {
        width: 100vw;
        height: 93.6vh;
        background-color: #fff;
        position: absolute;
        right: -46px;
        top: -15px;
        z-index: 2;
        animation: inputIn .4s;
        padding: 10px;
        display: flex;
       .header-search-icon {
        margin-top: 5px;
        margin-left: 10px;
       }
       .header-close-icon {
        font-size: 23px;
        margin-top: 10px;
        margin-right: 9px;
       }

    }
    .siminia-search-field {
        // position:fixed;
        width: 100%;
        z-index: 10;
        left: 0;
        
    }
    .main-header-icon {
        max-width: 15%;
        position: fixed;
        /* left: 21px; */
        z-index: 2;
        left: 1%;
        top: 11px;
    }
    .header-title {
        position: fixed;
        left: 71px;
        top: 14px;
        font-size: 20px;
        font-weight: 600;
    }
    .shopping-cart-icon {
        font-size:20px;
        margin-right: 10px;
    }
    .header-cartQty {
        position: absolute;
        top: 5px;
        right: 15px;
        border: 1px solid #fff;
        border-radius: 50%;
        font-size: 12px;
        background: #0058ac;
        line-height: 22px;
        height: 22px;
        width: 22px;
        text-align: center;
        color: #fff;
    }
    @keyframes inputIn {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
}