.react-datepicker-popper {
    z-index: 4;
}

.deliveryTime-main {
    display: grid;
    grid-template-columns: auto auto;
    row-gap: 1rem;
    column-gap: 3rem;
    margin-top: 1rem;

    .text-area {
        display: flex;
        flex-direction: column;


    }
}