@media (max-width: 768px) {
    .wrapActiveSortbyPrice{
        .double-icon, .icon{
            position: absolute;
            left:100%;
            top: -3px;
            > svg:nth-child(2){
                transform: translateY(-7px);
            }
        }
        .icon{
            svg{
                transform: translateY(3px);
            }
        }
    }
    
}
