.root {
    border: 2px solid rgb(var(--venia-global-color-gray-400));
    border-radius: 0.375rem;
    padding: 2rem;
}

.root_editMode {
    composes: root;
    border: none;
    border-radius: 0px;
    border-bottom: 2px solid rgb(var(--venia-global-color-gray-400));
    padding: 0;
}

.root_updated {
    composes: root;
    animation: flash var(--venia-global-anim-bounce) 640ms 2;
}

.cardHeader {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr;
    overflow: hidden;
}

.cardTitle {
    font-weight: 600;
}

.editButton {
    padding: 1rem;
    margin: -1rem;
    color: rgb(var(--venia-brand-color-1-700));
}

.editWrapper {
    display: grid;
    padding: 1rem 0 1.5rem;
    row-gap: 0.5rem;
}

.editTitle {
    font-weight: 600;
    text-transform: uppercase;
}

.editIcon {
    stroke: rgb(var(--venia-brand-color-1-700));
}

.loading {
    composes: root from '@magento/venia-ui/lib/components/LoadingIndicator/indicator.module.css';
    text-align: center;
}

.root_editModal {
    background-color: white;
    display: grid;
    left: calc(50% - 370px);
    grid-template-rows: auto 1fr;
    max-height: 90vh;
    max-width: 740px;
    opacity: 0;
    overflow: hidden;
    position: fixed;
    top: 5vh;
    transform: scale(1.15);
    transition-duration: 192ms;
    transition-timing-function: var(--venia-global-anim-out);
    transition-property: opacity, transform, visibility;
    visibility: hidden;
    width: 100%;
    z-index: 3;
}

.root_editModal_open {
    composes: root_editModal;
    box-shadow: 1px 0 rgb(var(--venia-global-color-border));
    opacity: 1;
    transform: scale(1);
    transition-duration: 224ms;
    transition-timing-function: var(--venia-global-anim-in);
    visibility: visible;
}

@media (max-width: 960px) {
    .editText {
        display: none;
    }

    .root {
        border: 0;
        padding: 0 0.625rem;
    }

    .root_editModal {
        bottom: 0;
        height: 100%;
        left: auto;
        max-height: none;
        /* max-width: 360px; */
        right: 0;
        top: 0;
        transform: translate3d(100%, 0, 0);
    }
    
    .root_editModal_open {
        composes: root_editModal;
        transform: translate3d(0, 0, 0);
    }
}

@keyframes flash {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}
