.root {
    position: absolute;
    min-width: 16px;
    height: 16px;
    background: var(--venia-global-color-button);
    color: var(--venia-global-color-button-text);
    border-radius: 10px;
    padding-left: 4px;
    padding-right: 4px;
    z-index: 5;
    font-size: 10px;
    line-height: 12px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    top: 0;
    text-align: center;
}
