.wrapPoints{
    display: flex;
    grid-template-columns: max-content 1fr;
}
.wrapPoints span{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    color: #fff;
}
.switchersContainer {
    display: block;
    width: 100%;
    background-color: var(--venia-global-color-button);
    direction: ltr;
}
.switchersContainer button[class*='trigger'] {
    color: white;
}

.switchers {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    justify-content: flex-end;
    max-width: 1440px;
    width: 100%;
    position: relative;
    z-index: 101;
    margin: 0 auto;
}
header {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 100;
    box-shadow: 0 0 15px rgb(0 0 0 / 10%);
}

.header-app-bar {
    min-height: 88px;
    height: 88px;
    max-width: 1920px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 3;
}
.header-app-bar button {
    width: unset;
}

.header-app-bar aside > div {
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.95);
}

.megaMenu {
    composes: lg_flex from global;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.95);
    border-top: solid 1px #f7f7f7;
    border-bottom: none;
    backdrop-filter: blur(6px);
    display: flex;
    flex-wrap: wrap;
}
/* megaMenuItem */
.megaMenu > div {
    padding: 0 40px;
}
/* submenu */
.megaMenu > div > div {
    z-index: 2;
    top: 100%;
}
/* submenuItems */
.megaMenu > div > div > div {
    min-width: unset !important;
}
.megaMenu > div > a {
    min-height: 43px;
    color: #333132;
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
}

.megaMenu > div > a polyline {
    stroke: #333132;
}
.header-megamenu-ctn {
    display: block;
    margin: 0 auto;
    position: relative;
    z-index: 2;
}
.header-logo .siminia-logo {
    cursor: pointer;
    display: flex;
}
.header-search {
    width: 100%;
    max-width: 748px;
}
.header-search-form {
    position: relative;
    margin-inline-start: 25px;
}
.header-search-form input {
    width: 100%;
    border: transparent;
    background-color: #f4f4f4;
    padding: 9px 16px;
    height: 34px;
}
.header-search-form .search-icon svg {
    margin-top: 0!important;
}
.header-search-form .search-icon{
    position: absolute;
    top: 0px;
    inset-inline-end: 15px;
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
}
@media (min-width: 780px) {
    .header-search {
        width: 100%;
        max-width: 495px;
        height: auto !important; 
    }
}
.search-icon a {
    display: block;
}

.search-icon img {
    width: 30px;
    height: 30px;
    object-fit: contain;
}
.right-bar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    z-index: 0;
}
.right-bar-item {
    text-align: start;
    font-size: 12px;
    cursor: pointer;
    z-index: 50;
    margin-inline-start: 30px;
}
.right-bar-item:first-child {
    margin-inline-start: 0;
}
/* .right-bar-item > div,
.right-bar-item > a {
    display: flex;
    justify-content: flex-start;
} */
.item-icon {
    /* margin-inline-end: 9px; */
    position: relative;
}
.right-bar-item a:hover {
    text-decoration: none !important;
}
.right-bar-item:hover .item-icon,
.right-bar-item:hover .item-text {
    opacity: 0.6;
}
.right-bar-item .item-text {
    font-size: 14px;
    line-height: 16px;
    color: #333333;
    white-space: nowrap;
    padding-top: 7px;
    max-width: 150px;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
    text-align: center;
}
.right-bar-item aside a,
.right-bar-item aside button {
    font-size: 14px;
    font-weight: 400;
}
.mini-cart {
    position: relative;
}
.basket-badge {
    position: absolute;
    width: 20px;
    height: 20px;
    color: #fff;
    border-radius: 100%;
    z-index: 5;
    font-size: 12px;
    line-height: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    top: -3px;
    left: -3px;
}
body.fixed-scroll {
    position: fixed;
    left: 0;
    right: 0;
    overflow: scroll;
}
.main-nav .right-nav-item {
    margin-left: auto;
}
.menu-my-account {
    position: absolute;
    background: #fff;
    z-index: 2;
    border: 1px solid #f3f3f3;
    box-shadow: 2px 2px 0 0 rgba(0, 0, 0, 0.14);
    margin-top: 8px;
    min-width: 150px;
}
.pageLoadingIndRoot {
    overflow: hidden;
    width: 100%;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
}
.indicator_off {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    background: var(--venia-global-color-button);
    transform: translateX(-100%);
    transform-origin: left;
    transition: transform 0.25s linear;
}

.indicator_loading {
    composes: indicator_off;
    opacity: 1;
    transform: translateX(-25%);
    z-index: 3;
}

.indicator_done {
    composes: indicator_off;
    opacity: 1;
    transform: translateX(0%);
    z-index: 3;
}

.mobileMenuToggle {
    display: flex;
    align-items: center;
    width: 30%;
    padding-inline-start: 15px;
    position: absolute;
    inset-inline-start: 0;
}

.mobileMenuToggle > a {
    width: 24px;
    height: 32px;
    position: relative;
    cursor: pointer;
    color: #333333;
}

.mobileMenuToggle > a > i {
    background-color: #333333;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    height: 2px;
    background-color: #333;
    transition: all .3s cubic-bezier(.645,.045,.355,1);
    font-size: 20px;
    line-height: 32px;
    display: block;
}

.mobileMenuToggle > a > i:before {
    position: absolute;
    bottom: 8px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #333;
    content: "";
    transition: all .3s cubic-bezier(.645,.045,.355,1);
}

.mobileMenuToggle > a > i:after {
    position: absolute;
    bottom: -8px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #333;
    content: "";
    transition: all .3s cubic-bezier(.645,.045,.355,1);
}

@media(min-width: 1024px) {
    .right-bar {
        width: 100%;
    }

    .header-logo {
        width: 30%;
    }
}

@media(min-width: 1200px) {
    .right-bar {
        width: 65%;
    }
}

@media (min-width: 1440px) {
    .header-app-bar, .switchers {
        width: 1210px !important;
    }
}

@media (max-width: 1023px) {
    .header-app-bar {
        min-height: 80px;
        height: 80px;
    }
    .right-bar-item {
        margin-inline-start: 0;
        margin: 0;
    }
    .header-search {
        margin: 0;
        max-width: unset;
        padding: 16px;
        background: var(--venia-global-color-button);
    }
    .header-search-form {
        margin-inline-start: 0;
    }
    .header-search-form input {
        padding: 10px 16px;
        height: 45px;
        border-radius: 4px;
        background-color: white;
        border-radius: 4px !important;
    }
    .header-search-form .search-icon {
        right: 16px;
        top: 4px;
    }
    .header-search-form input::placeholder {
        font-size: 16px;
    }

    header.sticky .header-search {
        display: none;
    }
}

@media (max-width: 780px) {
    .header-search {
        margin: 0;
        max-width: unset;
        padding: 16px;
        height: 55px;
        position: fixed;
        z-index: 8;
        top: 0;
        box-shadow: 0 0 4px 0 rgb(0 0 0 / 30%);
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
    }
    .virtualHeader {
        height: 55px;
    }
    .specHeader {
        height: 55px;
        background: #fff;
        position: fixed;
        display: flex;
        width: 100%;
        align-items: center;
        padding: 0 10px;
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.3);
        top: 0;
        z-index: 5;
    }
    .item-icon {
        background-color: #fff;
        padding: 7px;
        border-radius: 50%;
    }
    .myAccountHead {
        height: 80px;
        background: linear-gradient(
            to right,
            var(--venia-global-color-button) 0%,
            #ffffff 100%
        );
        position: fixed;
        display: flex;
        width: 100%;
        align-items: center;
        padding: 0 10px;
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.3);
        top: 0;
        z-index: 5;
        display: flex;
        justify-content: space-between;
    }
    .myAccountHead > svg {
        font-size: 30px;
        color: #fff;
    }
    .specHeader > svg {
        margin-right: 20px;
    }
    .specHeader > span {
        color: #150826;
        font-family: Roboto;
        font-size: 18px;
        font-weight: 500;
        letter-spacing: 0;
        line-height: 21px;
    }
    .header-search-form input {
        border: 1px solid #000;

        left: 10%;
        top: 13px;
        /* animation: inputIn 0.4s; */
        width: 89%;
    }
    .header-search-form .search-icon {
        right: 16px;
        top: -5px;
        position: none;
    }
    .item-text {
        font-family: Roboto;
        font-size: 18px;
        font-weight: 500;
        letter-spacing: 0;
        color: #fff;
    }
    /* @keyframes inputIn {
        from {
            left: -81%;
        }
        to {
            left: -1%;
        }
    } */
}
.header-app-bar-rtl aside > div {
    left: 0;
    right: unset;
}
@media (max-width: 768px) {
    header {
        display: none;
    }
}
