.accordRoot {
    border: none;
    padding-left: 10px;
    padding-right: 10px;
}

.sectionTitle {
    color: #150826;
    font-weight: 500;
}

.title_wrapper {
    align-items: center;
    display: grid;
    gap: 1.5rem;
    grid-auto-flow: column;
    grid-template-columns: 1fr;
    /*height: 4.5rem;*/
    justify-items: start;
}


.contents_container {
    padding: 0;
    margin-top: 13px;
}

.contents_container:empty {
    display: none;
}

.sectionRoot {
    margin-top: 30px;
}

.estimateButton {
    justify-self: flex-start;
}
