.root {
    align-content: flex-start;
    border: 2px solid rgb(var(--venia-global-color-gray-400));
    /* border-radius: 0.375rem; */
    display: grid;
    grid-template-columns: 1fr max-content;
    padding: 1.25rem 1rem;
    position: relative;
    border: 1px solid #dcdcdc;
    background-color: #ffffff;
}

.root_updated {
    composes: root;
    animation: flash var(--venia-global-anim-bounce) 640ms 2;
}

.confirmDeleteContainer {
    align-items: center;
    background-color: rgba(255, 255, 255, 0.9);
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    height: 100%;
    justify-items: center;
    left: 0;
    padding: 1.25rem 1rem;
    position: absolute;
    top: 0;
    width: 100%;
}
.defaultAddressWrapper {
    border: 2px solid rgb(var(--venia-global-color-gray-400));
    border-radius: 0.375rem;
}
.defaultAddress {
    /* background-color: aqua; */
    padding: 1.25rem 1rem;
}
.defaultAddressHeading {
    border-bottom: 2px solid rgb(var(--venia-global-color-gray-400));
    display: flex;
    justify-content: space-between;
    padding: 10px 1rem;
    color: #444444;
    font-family: Nunito;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 14px;
    background-color: #edf4fa;
}

.confirmDeleteButton {
    composes: root_normalPriorityNegative from '@magento/venia-ui/lib/components/Button/button.module.css';

    background-color: white;
    order: 1;
}
.cancelDeleteButton {
    composes: root_lowPriority from '@magento/venia-ui/lib/components/Button/button.module.css';

    background-color: white;
}
.defaultBilling,
.defaultShipping {
    color: #333132;
    font-family: 'Helvetica Neue';
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 19px;
    margin-bottom: 2px;
}
.contentContainer {
    display: grid;
    row-gap: 0.5rem;
    max-width: 80%;
}
.contentContainer span {
    color: #333132;
    font-family: 'Helvetica Neue';
    font-size: 14px;
    letter-spacing: 0;
    line-height: 16px;
    margin-bottom: 8px;
}
.actionContainer {
    align-content: start;
    display: grid;
    justify-items: start;
    row-gap: 0.5rem;
    margin-top: 7px;
}
.actionContainer button span {
    color: #f69435;
    font-family: 'Helvetica Neue';
    font-size: 14px;
    letter-spacing: 0;
    line-height: 16px;
    text-decoration: underline;
}
.defaultBadge {
    width: max-content;
    /* padding: 0.375rem 1.5rem; */
    margin-bottom: 0.25rem;
    /* border: 1px solid rgb(var(--venia-global-color-gray-400)); */
    /* border-radius: 0.375rem; */
    font-size: 0.75rem;
    font-weight: 600;
    font-family: poppins;
    /* padding-bottom: 20px ; */
}

.name {
    /* font-weight: 600; */
}

.telephone {
    margin-top: 0.5rem;
}

.linkButton {
    composes: root from '@magento/venia-ui/lib/components/LinkButton/linkButton.module.css';
    text-decoration: none;
}

.editButton {
    composes: linkButton;
}

.deleteButton {
    composes: linkButton;
}

@media (max-width: 640px) {
    .root {
        border: none;
        padding: 0;
    }

    .confirmDeleteContainer {
        padding: 1rem;
        grid-template-columns: 1fr;
    }

    .confirmDeleteButton {
        order: 0;
    }
    .defaultAddressWrapper {
        border: none;
        box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.25);
    }
    .defaultShipping {
        background-color: red;
    }
    .normalAddress {
        background-color: yellowgreen;
    }
    .contentContainer {
        display: grid;
        row-gap: 0;
        max-width: 90%;
    }
    .telephone {
        margin-top: 0;
    }
    .actionContainer {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        font-weight: 500;
    }
}

@media (max-width: 384px) {
    .actionLabel {
        display: none;
    }

    .linkButton {
        padding: 0 0.25rem 0.25rem;
    }
}

@keyframes flash {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}
