.root {
    padding-top: 0;
    /* max-width: var(--venia-global-maxWidth); */
    margin: 0 auto;
    min-width: 80%;
}
.addressbookContent {
    /* display: flex;
    justify-content: center; */
}

.heading {
    /* margin-bottom: 2rem; */
    /* text-align: center; */
    text-transform: capitalize;
    padding-top: 8px;
    /* margin-left: 20%; */
    color: #333132;
    font-family: 'Helvetica Neue';
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 25px;
}

.addAddress {
    display: flex;
    justify-content: right;
}
.addAddressBtn {
    /* margin-left: 20%; */
    height: 50px;
    display: inline-block;
    padding: 0 20px;
    /* border-radius: 4px; */
    background-color: var(--venia-global-color-button);
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 50px;
    color: var(--venia-global-color-button-text);
    cursor: pointer;

    color: #ffffff;
    font-family: 'Helvetica Neue';
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0;
    margin-top: 18px;
}

.wrapper {
    display: grid;
    grid-template-columns: 20% auto;
    padding: 2rem 15px;
    /* margin-top: 30px; */
    gap: 30px;
}
.defaultAddress {
    color: #333132;
    font-family: 'Helvetica Neue';
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 19px;
    margin-bottom: 15px;
    grid-column: 1 / span 2;
}
.noDefault{
    color: #333132;
    font-family: 'Helvetica Neue';
    font-size: 18px;
    letter-spacing: 0;
    line-height: 14px;
    font-weight: 500;
}
@media (max-width: 777px) {
    .wrapper {
        display: grid;
        grid-template-columns: auto;
        padding: 0px;
        margin-top: 30px;
    }
}
.wrapHeading{
    display: flex;
    justify-content: space-between;
}
.wrapAddresCard{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}
.content {
    /* display: grid; */
    gap: 1rem;
    /* grid-auto-rows: minmax(6rem, max-content); */
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 60px;
    min-width: 80%;
    /* max-height: 30px; */
}

.addButton {
    border: 2px dashed rgb(var(--venia-global-color-gray-400));
    border-radius: 0.375rem;
    font-size: 0.875rem;
    font-weight: 600;
    transition: border-color 384ms var(--venia-global-anim-standard);
    color: rgb(var(--venia-brand-color-1-700));
}

.addButton:focus {
    outline: none;
    box-shadow: -6px 6px rgb(var(--venia-global-color-blue-700) / 0.3);
}

.addButton:hover {
    border-color: rgb(var(--venia-brand-color-1-600));
}

@media (max-width: 1024px) {
    .root {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        grid-template-columns: auto;
    }

    .content {
        grid-template-columns: 1fr 1fr;
    }
    .wrapper {
        grid-template-columns: auto;
    }
}

@media (max-width: 640px) {
    .content {
        grid-template-columns: 1fr;
        margin-bottom: 2rem;
        grid-template-rows: auto;
    }
    .addAddress {
        display: flex;
        justify-content: left;
    }
    .wrapper {
        display: flex;
        flex-direction: column;
    }
    .addAddressMb {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 55px;
        line-height: 55px;
        text-align: center;
        z-index: 7;
        background-color: var(--venia-global-color-button);
        color: var(--venia-global-color-button-text);
        font-family: Roboto;
        font-size: 16px;
        font-weight: 500;
        letter-spacing: 0;
    }
    .addressbookContent {
        display: block;
    }
    .addAddressWrapper {
        box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.25);
        padding: 1rem;
        border-radius: 4px;
        background-color: #fff;
    }
    .noAddress {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .default {
        left: 6px;
        top: 1px;
        width: 7px;
        height: 12px;
        border: solid rgb(66, 46, 46);
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
        position: absolute;
    }
    .normal {
        background-color: #fff;
        position: relative;
        height: 20px;
        width: 20px;
        border: 1px solid #000;
        border-radius: 2px;
        margin-bottom: 10px;
    }
}
