.customer-page-title {
    font-size: 21px;
    line-height: 29px;
    font-weight: bold;
    margin-bottom: 8px;
}
.customer-page-content {
    padding: 24px;
    font-size: 16px;
    line-height: 24px;
    background: #fff;
}

@media (min-width: 1024px) {
    .product-grid .no-product{
        margin-left: 22px;
    }
}


@media (max-width: 1024px) {
    .account-favourites .product-grid {
        display: flex;    
        justify-content: space-between;
        flex-wrap: wrap;
    }
}
@media (min-width: 1024px) {
    .account-favourites .product-grid {
        margin-left: -22px;
    }
}

.siminia-wishlist-item {
    display: inline-block;
    padding: 0;
    margin: 0;
    margin-top: 16px;
    margin-left: 2%;
    vertical-align: top;
    width: 48%;
}

@media (min-width: 1024px) { 
    .siminia-wishlist-item {
        width: 25%;
        padding-left: 22px;
        margin-left: 0;
    }
}

.siminia-product-grid-item a{
    color: #333132;
    text-decoration: none;
    display: block;
}
.siminia-product-grid-item .siminia-product-des{
    margin-top: 16px;
}
.siminia-product-grid-item .prices-layout{
    margin-top: 8px;
    margin-bottom: 15px;
}
.product-item-action .view-link:hover{
    border-width: 2px;
}
.account-favourites .product-item-action .grid-add-cart-btn{
    margin-bottom: 0;
}
@media (min-width: 1024px) {
    .siminia-product-grid-item .product-item-action {
        margin-top: 15px;
        opacity: 0;
    }
    .siminia-product-grid-item:hover .product-item-action {
        opacity: 1;
    }
}

@media (max-width: 1024px) {
    .siminia-product-grid-item .product-item-action {
        bottom: 0px;
    }
}
@media (min-width: 1024px) {
    .siminia-product-grid-item {
        padding: 1px 0px 10px 0px;
    }
}
@media (max-width: 1024px) {
    .siminia-product-grid-item {
        padding: 1px 0px 59px 0px;
    }

    .siminia-product-grid-item.two-btn {
        padding: 1px 0px 34px 0px;
    }
}
.full-btn {
    width: 100%;
}
.view-link {
    display: inline-block;
    min-width: 88px;
    width: 100%;
    background-color: white;
    height: 45px;
    font-size: 16px;
    text-align: center;
    color: #38404A;
    padding-top: 11px;
    border: solid #38404A 1px;
    cursor: pointer;
    text-decoration: none;
    margin-top: 5px;
}

@media (max-width: 1023px) {
    .product-item-action .view-link {
        width: 100%;
        margin-bottom: 5px;
    }
}
@media (max-width: 1023px){
    .siminia-product-grid-item .siminia-product-des{
        margin-top: 8px;
    }
    .siminia-product-grid-item .prices-layout{
        margin-top: 16px;
    }
    .product-item-action .grid-add-cart-btn{
        margin-bottom: 8px;
    }
    .product-item-action .grid-add-cart-btn{
        margin-bottom: 8px;
    }
    
}

.siminia-product-image {
    border: 1px solid #eee;
    text-align: center;
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    padding: 1px;
    width: 100%;
    padding-top: 100%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.siminia-product-image img {
    height: 100%;
    width: 100%;
    -o-object-fit: contain;
    vertical-align: top;
    object-fit: contain;
}
