.root {
    display: block;
    line-height: 1rem;
    text-align: center;
    width: 6rem;
}

.imageContainer {
    margin: 0 0.5rem 1rem 0.5rem;
}

.image {
    border-radius: 50%;
    box-shadow: 0 0 0 1px rgb(var(--venia-global-color-border));
    display: block;
    height: 5rem;
    object-fit: cover;
    object-position: center;
}

.image_empty {
    composes: image;
}

.name {
    display: block;
}
@media (max-width: 768px) {
    .root {
        height: auto;
        width: 100%;
        padding-bottom: 15px;
        padding-left: 15px;
    }
    .root img:nth-child(2){
        margin-left: auto;
        margin-right: auto;
    }
    .imageContainer{
        margin:0;
    }
    .image {
        border-radius: 0;
        box-shadow: unset;
    }
}