.root {
    padding: 1rem;
}

.categoryTop {
    display: flex;
    padding: 0 0 1rem 0;
    color: rgb(var(--venia-global-color-text-alt));
    justify-content: center;
    align-items: center;
}

.categoryFilters {
    text-align: right;
    flex-grow: 1;
}

.categoryFilter {
    display: inline-flex;
    align-items: center;
    border-radius: 0.25rem;
    border: 1px solid rgb(var(--venia-global-color-border));
    padding: 0.25rem 0.5rem;
}

.categoryFilterText {
    padding-right: 0.5rem;
}

.noResult {
    padding-top: 20px;
    text-align: center;
}
@media (max-width: 768px) {
    .root{
        padding: 0!important;
    }
    .bg-color{
        background-color: #F2F2F3;
    }
    .wrapProducts{
        margin-top: 70px;
    }
}