.overlay {
	background-color: #FFFFFF;
    height: 100%;
    left: 0;
    opacity: 0.5;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 555;
}

.overlay img {
	top: 40%;
    left: 45%;
    display: block;
    position: fixed;
}