.custom-options {
    padding: 1.5rem;
}
.option-title {
    font-size: 17px;
    font-weight: 500;
    margin: 20px 0px 5px 0px;
}
.option-text-field input{
    padding: 8px;
}
.form-group textarea {
    min-width: 200px;
}
/*
date picker
*/
.date-picker-ctn {
    display: flex;
}
.clear-date {
    cursor: pointer;
    width: 20%;
    padding-top: 18px;
}
/*
time picker
*/
.time-picker-ctn {
    display: flex;
}
.clear-time {
    cursor: pointer;
    width: 20%;
    padding-top: 18px;
}

/*
radio
*/
.radio-option {
    padding-bottom: 5px;
    margin-top: 5px;
    margin-bottom: 10px;
    cursor: pointer;
    display: flex;
}
.radio-option-input {
    padding-top: 2px;
    padding-left: 5px;
    padding-right: 5px;
}

.radio-option > div{
    margin-left: 5px;
    margin-right: 5px;
}