.cart-siminia-item {
    font-size: 16px;
}

@media(min-width: 1024px) {
    .cart-siminia-item {
        display: flex;
        min-height: 115px;
        border-bottom: 1px solid rgb(220, 220, 220);
    }

    .cart-siminia-item .img-and-name{
        width: 60%;
        display: flex;
        padding-top: 15px;
        padding-bottom: 15px;
        border-right: 1px solid rgb(220, 220, 220);
    }
    .body-cart-rtl .cart-siminia-item .img-and-name{
        border-right: 0;
        border-left: 1px solid rgb(220, 220, 220);
    }
}

@media(max-width: 1023px) {
    .cart-siminia-item {
        display: flex;
        flex-wrap: wrap;
        border-top: 1px solid rgb(220, 220, 220);
        border-bottom: 1px solid rgb(220, 220, 220);
        padding: 15px;
    }

    .cart-siminia-item .img-and-name{
        width: 100%;
    }
}

.cart-siminia-item .img-cart-container{
    border: 1px solid;
    padding: 1px;
    overflow: hidden;
}

@media(min-width: 1024px) {
    .cart-siminia-item .img-cart-container{
        width: 86px;
        height: 86px;
        display: block;
        margin-right: 34px;
    }
    .body-cart-rtl .cart-siminia-item .img-cart-container{
        margin-right: 0;
        margin-left: 34px;
    }
}

@media(max-width: 1023px) {
    .cart-siminia-item .img-cart-container{
        width: 100px;
        height: 100px;
        display: inline-block;
        margin-right: 8px;
    }
    .body-cart-rtl .cart-siminia-item .img-cart-container{
        margin-right: 0;
        margin-left: 8px;
    }
}

.cart-siminia-item .img-cart-container img{
    height: inherit;
    width: inherit;
    max-width:100%;
    max-height:100%;
    object-fit: contain;
}

.cart-siminia-item .cart-item-info {
    display: inline-block;
    width: 55%;
    vertical-align: top;
}

.cart-siminia-item .item-name {
    font-size: 16px;
    overflow: hidden;
    font-weight: 600;
}

@media(min-width: 1024px) {
    .cart-siminia-item .item-name {
        margin-top: 20px;
    }
}


.cart-siminia-item .item-sku {
    font-size: 16px;
    margin-top: 3px;
    color: #ADADAD;
}


@media(max-width: 1023px) {
    .cart-siminia-item .sub-item  {
        display: flex;
        width: 60%;
        margin-top: 5px;
        white-space: nowrap;
    }

    .cart-siminia-item .sub-item div {
        padding: 8px;
    }

    .cart-siminia-item .item-label {
        height: 40px;
        background: #f3f3f3;
        padding: 8px;
        width: 50%;
        min-width: 85px;
        display: inline-block;
        font-weight: 600;
    }

    .cart-siminia-item .cart-item-value {
        width: 50%;
        text-align: start;
    }
}

@media(min-width: 1024px) {
    .cart-siminia-item .item-price {
        width: 11%;
        text-align: center;
        border-right: 1px solid rgb(220, 220, 220);
        padding-top: 38px;
    }
    .body-cart-rtl .cart-siminia-item .item-price{
        border-right: 0;
        border-left: 1px solid rgb(220, 220, 220);
    }
}



@media(max-width: 1023px) {
    .cart-siminia-item .item-qty {
        width: 37.5%;
        margin-left: 2.5%;
    }

    .cart-siminia-item .item-qty .item-label {
        width: 40%;
        min-width: 54px;
    }
}

@media(min-width: 1024px) {
    .cart-siminia-item .item-qty {
        width: 11%;
        border-right: 1px solid rgb(220, 220, 220);
        padding-top: 32px;
    }
    .body-cart-rtl .cart-siminia-item .item-qty{
        border-right: 0;
        border-left: 1px solid rgb(220, 220, 220);
    }
}

.cart-siminia-item .item-qty input{
    padding: 0;
    text-align: center;
    background: none;
    display: block;
    border: 1px solid #DCDCDC;
}
.cart-siminia-item .item-qty input[type=number]::-webkit-inner-spin-button,
.cart-siminia-item .item-qty input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


@media(min-width: 1024px) {

    .cart-siminia-item .item-qty input{
        margin: 0 auto;
        width: 40px;
        height: 30px;
    }
}
@media(max-width: 1023px) {
    .cart-siminia-item .item-qty input{
        width: 60%;
        height: 40px;
        max-width: 78px;
    }
}

@media(min-width: 1024px) {
    .cart-siminia-item .item-subtotal{
        width: 11%;
        text-align: center;
        border-right: 1px solid rgb(220, 220, 220);
        padding-top: 38px;
    }
    .body-cart-rtl .cart-siminia-item .item-subtotal{
        border-left: 1px solid rgb(220, 220, 220);
        border-right: 0;
    }
}


.cart-siminia-item .item-delete svg {
    width: 30px !important;
    height: 30px !important;
    display: block !important;
    fill: #ADADAD !important;
}

@media(max-width: 1023px) {
    .cart-siminia-item .item-delete {
        width: 40%;
    }

    .cart-siminia-item .item-delete svg {
        margin-left: auto;
        margin-top: 5px;
    }
}
@media(min-width: 1024px) {
    .cart-siminia-item .item-delete {
        width: 7%;
        padding-top: 32px;
    }
    .cart-siminia-item .item-delete svg {
        margin-left: auto;
        margin-right: auto;
    }

    .cart-siminia-item .item-delete svg:hover {
        cursor: pointer;
    }
}
