@media (max-width: 1023px) {
    .cart-page-siminia {
        padding: 0;
    }
}

.empty-cart {
    margin-top: 40px;
    text-align: center;
}

.cart-header  {
    position: relative;
    margin-top: 35px;
}

.cart-header .cart-back-btn {
    position: absolute;
    font-size: 16px;
    font-weight: 600;
    display: flex;
    max-width: 320px;
    top: 15px;
}

.cart-header .cart-back-btn:hover {
    cursor: pointer;
}
@media (max-width: 1023px) {
    .cart-header .cart-back-btn {
        display: none;
    }
}

.cart-header .cart-back-btn svg {
    transform: rotate(-90deg);
}

.cart-header .cart-back-btn span {
    margin-top: 1px;
    margin-left: 5px;
}

.cart-header .cart-title {
    margin: 0 auto;
    text-align: center;
    justify-content: center;
    font-weight: 600;
}

@media (min-width: 1024px) {
    .cart-header .cart-title {
        display: flex;
        font-size: 28px;
    }

    .cart-header .cart-title div {
        margin-top: 8px;
        margin-left: 5px;
    }

    .cart-header .cart-title svg {
        width: 50px !important;
        height: 50px !important;
    }
}
@media (max-width: 1023px) {
    .cart-header {
        margin-top: 0;
    }

    .cart-header .cart-title {
        display: block;
        font-size: 21px;
        margin-bottom: 15px;
        padding: 0 15px;
    }

    .cart-header .cart-title div {
        display: block;
        margin-top: -5px;
    }

    .cart-header .cart-title svg {
        width: 30px !important;
        height: 30px !important;
    }
}

@media (min-width: 1024px) {
    .col-md-6.cart-bottom-left {
        padding: 0;
        padding-top: 40px;
    }
}

@media (max-width: 1023px) {
    .col-md-6.cart-bottom-left {
        padding-top: 20px;
    }
}


@media (max-width: 1023px) {
    .cart-item-header {
        display: none;
    }
}

@media (min-width: 1024px) {
    .cart-item-header {
        display: flex;
        background: #F3F3F3;
        margin-top: 35px;
        height: 50px;
        font-weight: 600;
        font-size: 16px;
        white-space: nowrap;
    }

    .cart-item-header > div {
        padding: 14px 18px;
    }
}


#cart-coupon-form {
    font-size: 16px;
}
 
#cart-coupon-form .coupon-code-title {
    font-weight: 600;
}
#cart-coupon-form .coupon-code-area-tablet {
    margin-top: 8px;
    display: inline-block;
    position: relative;
}
.coupon-code-area-tablet .btn-clear-coupon {
    position: absolute;
    right: 10px;
    top: 12px;
    z-index: 9;
    cursor: pointer;
    max-height: 15px;
}

.coupon-code {
    max-width: 444px;
    margin-left: auto;
    margin-top: 20px;
}

@media (max-width: 1023px) { 
    #cart-coupon-form .coupon-code-area-tablet {
        width: 100%;
    }
}

#cart-coupon-form .coupon-code-area-tablet input {
    height: 45px;
    width: 330px;
    border-radius: 4px;
    border: solid 1px rgba(51,49,50,0.4);
    padding: 10px 25px 11px 16px;
}

@media (max-width: 1023px) {
    #cart-coupon-form .coupon-code-area-tablet input { 
        width: 100%;
    }
}


@media (min-width: 1024px) {
    #submit-coupon {
        display: inline-block;
        margin-left: 8px;
        width: 100px;
    }
}

@media (max-width: 1023px) {
    #submit-coupon {
        width: 100%;
        margin-top: 8px;
    }
}

@media (min-width: 1024px) {
    .col-md-6.cart-bottom-right {
        padding: 0;
        padding-top: 40px;
    }
}

.cart-total {
    margin-top: 20px;
    font-size: 16px;
    color: #333132;
    max-width: 444px;
    margin-left: auto;
}

.cart-total .label{
    font-size: 16px;
    color: #333132;
    padding: 0;
    line-height: 24px;
    font-weight: 400;
}
.cart-total .grand_total .label {
    font-weight: 600;
}
.cart-total > div > div {
    display: flex;
    justify-content: space-between;
    height: 40px;
}

.cart-btn-section {
    margin-bottom: 38px;
}

@media (min-width: 1024px) {
    .cart-btn-section {
        margin-top: 20px;
        max-width: 444px;
        margin-left: auto;
        display: flex;
        justify-content: space-between;
    }

    .cart-btn-section .continue-shopping {
        width: 48%;
        display: inline-block;
        max-width: 220px;
    }

    .cart-btn-section .go-checkout {
        width: 48%;
        display: inline-block;
        max-width: 220px;
    }
}

@media (max-width: 1024px) {

    .cart-btn-section {
        margin-top: 20px;
    }

    .cart-btn-section .go-checkout {
        margin-top: 8px;
    }
}
