.root {
    display: grid;
    gap: 20px 10px;
    grid-template-columns: 1fr 1fr;
    width: 100%;
}

.field {
    grid-column-end: span 2;
}

.root input, .root select {
    border: none;
    background-color: #F0F0F0;
    border-radius: 0;
}

.root input:focus, .root select:focus {
    box-shadow: 0px 0px 1px 0px #000;
}

.root #default_shipping {
    border: none;
}

.root  > div > div > label {
    color: #000;
    font-size: 12px;
    font-weight: 500;
    line-height: 15px;
    text-transform: uppercase;
    padding: 0;
    min-height: unset;
    margin-bottom: 8px;
}
.root > div > div > span {
    height: 45px;
}
.root > div > div > span input, .root > div > div > span select {
    font-size: 14px;
    line-height: 16px;
    padding: 15px;
    height: 45px;
}
.root > div > div > p {
    font-weight: 400;
    font-size: 14px;
    padding: 6px 0 2px 0;
    line-height: 18px;
}

.email,
.country,
.street0,
.street1,
.city,
.region,
.postcode,
.cimfield,
.telephone {
    composes: field;
}

.country label[class*='field-label'], .region label[class*='field-label'] {
    justify-content: initial;
}
.country label[class*='field-label']::after, .region label[class*='field-label']::after {
    content: '*';
    color: #D3337D;
    padding-inline-start: 5px;
}

.firstname,
.lastname {
    grid-column-end: span 1;
}

.buttons {
    composes: field;
    display: grid;
    gap: 20px;
    grid-auto-flow: column;
    justify-self: end;
    padding: 0;
}

.submit {
    background: none;
    background-color: var(--simicolor-button_background);
    color: var(--simicolor-button_text_color);
    font-size: 16px;
    line-height: 19px;
    padding: 15px 30px 14px;
    font-weight: 500;
    text-transform: uppercase;
}

.submit:hover {
    opacity: 0.8;
}

.submit_update {
    background-color: var(--simicolor-button_background);
    color: var(--simicolor-button_text_color);
    composes: submit;
}

@media (max-width: 960px) {
    .firstname {
        grid-column: 1 / span 2;
    }

    .lastname {
        grid-column: 1 / span 2;
    }
}
