.root {
  padding: 2.5rem 3rem;
  max-width: var(--venia-global-maxWidth);
  margin: 0 auto;
}

.heading {
  font-family: var(--venia-global-fontFamily-serif);
  font-weight: var(--venia-global-fontWeight-bold);
  line-height: 1.25em;
  margin-bottom: 2rem;
  text-align: center;
  text-transform: capitalize;
}

.content {
  width: 100%;
  display: grid;
  grid-gap: 3rem;
  grid-template-columns: repeat(2, minmax(300px, 1fr));
}

.accountsHeading {
  margin-bottom: 1rem;
  font-size: 1.375rem;
  font-weight: 300;
  line-height: 1.375rem;
  padding-bottom: 0.5rem;
  border-bottom: 2px solid rgb(var(--venia-global-color-gray));
}

@media (max-width: 1024px) {
  .root {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

@media (max-width: 640px) {
  .content {
    grid-template-columns: 1fr;
  }
}
