.dropdown-show-item{
    position: inherit;
    width: auto;
    margin: 0 5px;
}

.dropdown-show-item .dropdown-options li:hover{
    background-color: rgba(15, 125, 55, 0.05);
    cursor: pointer;
}