.new-review {
    .review-list-title {
        font-size: 20px;
        margin-bottom: 20px;
    }
    .review-form {
        max-width: 600px;
    }
    .your-rating-title {
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 10px;
    }
    .table {
        margin-bottom: 10px;
    }
    .form-group {
        margin-bottom: 10px;
    }
    .label-item {
        margin-bottom: 5px;
    }
    .rq {
        color: red;
    }
    .btn-submit-review-ctn {
        margin-top: 15px;
    }
}