.review-list {
    .review-list-title {
        font-size: 20px;
        margin-bottom: 20px;
    }
    .text-center {
        text-align: center;
    }
    .list-review-item {
        padding: 0 0.5rem;
    }
    .review-item {
        margin-bottom: 10px;
        border-bottom: solid #efefef 1px;
        padding: 0.5rem 0;
    }
    .item-title {
        font-weight: 600;
        font-size: 15px;
        margin-bottom: 5px;
    }
    .review-item-detail {
        padding: 0 0.5rem;
        margin-bottom: 5px;
        flex-wrap: wrap;
    }
    .item-detail {
        padding: 0 0.5rem;
    }
    /*
    pagination
    */
    .config-page {
        margin-top: 15px;
        flex-wrap: wrap;
    }
    /*
    rate
    */
    .item-rate {
        margin-bottom: 10px;
    }
    .item-created {
        font-size: 12px;
        margin-left: auto;
    }
}
