.review-rate {
    margin-top: 3px;
    display: flex;
    flex-wrap: wrap;
}
.rate-review {
    display: inline-block;
}
.review-count {
    display: inline-block;
    font-size: 15px;
    margin: 0 5px;
    line-height: 15px;
}
