.newsletter-wrap h1{
    font-size: 36px;
    font-weight: normal;
    margin-bottom: 20px;
}
.newsletter-wrap .subscription-title{
    font-size: 22px;
    font-weight: normal;
    border-bottom: 1px solid #c5c5c5;
    padding: 10px 0px;
    margin-bottom: 10px;
}