.newsletter-form {
    > label {
        margin-left: 0;
    }
    > p {
        margin-top: 20px;
        margin-bottom: 10px;
    }
    .buttonsContainer {
        margin-top: 30px;
        text-align: right;
    }
}

.rtl-root {
    .newsletter-form {
        .buttonsContainer {
            text-align: left;
        }
    }
}
