.abs-header-native {
    width: 100%;
    height: 60px;
    background-color: #2FB5FF;
    font-size: 20px;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins';
}

.abs-back {
    position: absolute;
    left: 20px;
}