// @media screen and (min-width: 1024px) {
    .reviewsContainer {
        margin-bottom: 50px;
        .reviewBtn {
            display: flex;
            justify-content: space-between;
            align-items: baseline;
            border-bottom: 1px solid #d3d3d3;
            margin-bottom: 32px;
            span {
                color: #111111;
                font-family: poppins;
                font-size: 1rem;
                font-weight: bold;
                letter-spacing: 0;
                line-height: 32px;
            }
            button {
                margin-bottom: 10px;
            }
        }
        
        .reviewItems {
            display: grid;
            grid-template-columns: 20% 75%;
            grid-column-gap: 5%;
            .reviewRatingBlock {
                .ratingBlock > .ratingSummary {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    span {
                        color: #111111;
                        font-family: poppins;
                        font-size: 24px;
                        font-weight: 500;
                        letter-spacing: 0;
                        line-height: 32px;
                    }
                }
                .ratingBlock > .rating {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-top: 10px;
                }
                .ratingBlock {
                    padding: 30px 20px;
                    border-radius: 16px;
                    background-color: #f4f4f4;
                }
            }
            .reviewList {
                // margin-bottom: 50px;
                .review-item {
                    border: 1px solid #d8d8d8;
                    border-radius: 12px;
                    background-color: #ffffff;
                    padding: 15px 20px;
                    margin-top: 15px;
                    &:first-child {
                        margin-top: 0px;
                    }
                    > .review-item-head > div > span {
                        color: #444444;
                        font-family: poppins;
                        font-size: 14px;
                        letter-spacing: 0;
                        line-height: 19px;
                    }
                    .review-item-head {
                        display: flex;
                        justify-content: space-between;
                    }
                    .summary {
                        color: #111111;
                        font-family: poppins;
                        font-size: 16px;
                        font-weight: 500;
                        letter-spacing: 0;
                        line-height: 22px;
                        margin-top: 5px;
                    }
                    .review-text {
                        color: #444444;
                        font-family: poppins;
                        font-size: 14px;
                        letter-spacing: 0;
                        line-height: 19px;
                        margin-top: 5px;
                    }
                }
                .btnShowMore {
                    float: right;
                    button {
                        color: #0058B2;
                        font-family: poppins;
                        font-size: 16px;
                        font-weight: 500;
                        text-decoration: underline;
                        letter-spacing: 0;
                        line-height: 22px;
                        margin-top: 15px;
                    }
                }
            }
        }
    }
   
// }
@media screen and (max-width:1023px) {
    .reviewsContainer {
       
        .reviewItems {
            grid-template-columns: 100%;
            .reviewRatingBlock {
                margin-bottom: 15px;
             }}}
}
