.root {
    padding-top: 3rem;
}

.title {
    font-size: 24px;
    font-weight: 500;
    text-transform: capitalize;
    margin-bottom: 50px;
    font-weight: 700;
}

.table {
    width: 100%;
}

.table > thead > tr > th,
.table > tbody > tr > td {
    padding: 11px 10px;
}

.table > thead > tr > th,
.table > thead > tr > td {
    vertical-align: bottom;
}

.table > tbody > tr > td {
    border-top: 1px solid #f2f2f2;
    border-left: 1px solid #f2f2f2;
}

.table th {
    text-align: left;
}

.view {
    color: #1498d0;
    font-weight: 600;
}

.rwPoint {
    margin-bottom: 1rem;
}

.rwPoint > span:first-child:after {
    content: ' ';
}

.panelPoint {
    color: #1498d0;
    font-weight: 600;
}

.pageSize {
    display: flex;
    justify-content: flex-end;
    line-height: 38px;
}
.pageSizeInput {
    margin: 0 5px;
}
.pageSizeInput select {
    padding: 5px;
    background-color: #f2f2f3;
}

@media(min-width: 768px) {
    .wrapper {
        display: grid;
        grid-template-columns: 20% auto;
        gap: 30px;
    }
    
    .table > tbody > tr > td:first-child {
        border-left: none;
    }

    .table {
        border-bottom: 1px solid #f2f2f2;
    }
}

@media(max-width: 767px) {
    
    .table > thead > tr > th {
        display: none;
    }

    .table > tbody > tr {
        display: block;
    }

    .table > tbody > tr:not(:last-child) {
        margin-bottom: 20px;
    }

    .table > tbody > tr > td::before {
        content: attr(data-th) ': ';
        padding-right: 10px;
        display: inline-block;
        font-weight: 700;
    }

    .table > tbody > tr > td {
        border-bottom: none;
        display: block;
        padding: 5px 10px;
        border-right: 1px solid #f2f2f2;
    }

    .table > tbody > tr > td:last-child {
        border-bottom: 1px solid #f2f2f2;
    }
}