.root {
    /* display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(11rem, 1fr));
    grid-template-columns: 1fr 1fr 1fr 1fr;
    border-bottom: 1px solid #000000;
    padding-bottom: 60px; */
}
.root > div {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    /* border-bottom: 1px solid #000000; */
    padding-bottom: 60px;
    position: relative;
}
.root > div > div:last-child{
    position: absolute;
    bottom: 0;
    inset-inline-end: 0;
    width: 100%;
    border-top: 1px solid #000000;
}
.root > div > div:last-child > ul{
    display: none!important;
}
@media (max-width: 480px) {
    .root {
        column-gap: 1rem;
    }
}

@media (max-width: 768px) {
    .root{
        margin-top: 20px;
        margin-bottom: 20px;
        padding-left: 15px;
        padding-right: 15px;
        grid-gap: 10px;
    }
}
