.cmp-wrapper {
    width: 100%;
    margin: auto;
    height: 100px;
    display: grid;
    grid-template-areas:
    "blank product-list"
    "sku sku-list"
    "des des-list";
    grid-template-columns: max-content 1fr;
}

@media only screen and (min-width: 1330px) {
    .cmp-wrapper {
        max-width: 1280px;
    }
}

@media only screen and (max-width: 1330px) and (min-width: 1280px) {
    .cmp-wrapper {
        margin: 0 15px;
        width: calc(100% - 30px)
    }
}

@media only screen and (max-width: 1280px) {
    .cmp-wrapper {
        max-width: 994px;
    }
}

@media only screen and (max-width: 1024px) {
    .cmp-wrapper {
        width: calc(100% - 30px);
        max-width: 720px;
    }
}

.cmp-product-list {
    grid-area: product-list;
    display: flex;
    flex-direction: row;
}

.cmp-sku {
    grid-area: sku;
}

.cmp-sku-list {
    grid-area: sku-list;
    display: flex;
    flex-direction: row;
}

.cmp-des {
    grid-area: des;
}

.cmp-des-list {
    grid-area: des-list;
    display: flex;
    flex-direction: row;
}

