.gift-card-info-wrapper {
    display: flex;
    flex-direction: row;
    margin: 0 60px 80px 60px
}

@keyframes rainbow {
    0% {
        color: violet;
    }

    12.5% {
        color: indigo;
    }

    25% {
        color: blue;
    }

    37.5% {
        color: green;
    }

    50% {
        color: yellow;
    }

    62.5% {
        color: orange;
    }

    75% {
        color: red;
    }
}

@media only screen and (max-width: 800px) {
    .gift-card-info-wrapper {
        flex-direction: column;
        margin: 0 20px 40px 20px
    }

    .gift-card-image-wrapper {
        width: 100%;
        margin-bottom: 30px;

        img {
            width: 96%;
            margin: auto
        }
    }

    .gift-card-details-wrapper {
        width: 92%;
        margin: auto;
    }
}

@media only screen and (max-width: 1024px) {
    .gift-card-image-wrapper {
        img {
            width: 80%;
            height: 300px;
        }
    }
}

.gift-card-image-wrapper {
    flex: 1.5 1 0;
    padding-top: 6%;
    text-align: center;

    img {
        width: 84%;
        margin: auto;
        height: 400px;
    }

    p {
        margin-top: 10px;
        font-weight: bold;
        font-style: italic;
        font-size: 16px;
        animation: rainbow 5s infinite;
    }
}

.gift-card-details-wrapper {
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
}

.gift-card-overview-wrapper {
    display: flex;
    flex-direction: row;
    border-bottom: 2px solid gray;
    position: relative;
    justify-content: space-between;
    margin-top: 50px;
    padding-bottom: 10px;
}

.gift-card-nav-review {
    margin-top: 10px;
    color: rgb(54, 124, 253);
    font-weight: bold;
    margin: 0;

    &:hover {
        text-decoration-line: underline;
        cursor: pointer;
    }
}

.gift-card-prev-template {
    padding-left: 4px;
    margin: 20px 3px 20px 0;
    color: white;
    width: 35px;
    height: 35px;
    border: none;
    border-radius: 20px;
    background-color: dodgerblue;
    transition: background-color 0.5s, color 0.5s;
    font-weight: bold;
    cursor: pointer;

    &:hover {
        background-color: cyan;
        color: black
    }
}

.gift-card-next-template {
    padding-left: 7px;
    margin: 20px 0 20px 3px;
    color: white;
    width: 35px;
    height: 35px;
    border: none;
    border-radius: 20px;
    background-color: dodgerblue;
    transition: background-color 0.5s, color 0.5s;
    font-weight: bold;
    cursor: pointer;

    &:hover {
        background-color: cyan;
        color: black
    }
}

.gift-card-email-input {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.gift-card-sender-email {
    flex: 1 1 0;
    margin-right: 20px;
}

.gift-card-recipient-email {
    flex: 1 1 0;
    margin-left: 20px;
}

.gift-card-date-input {
    width: 100%;
    height: 36px;
    padding-left: 10px;
}

.gift-card-preview-button {
    text-align: center;
    margin: 20px 0 20px 0;
    color: white;
    width: 100px;
    height: 40px;
    border: none;
    border-radius: 10px;
    background-color: dodgerblue;
    transition: background-color 0.5s, color 0.5s;
    font-weight: bold;
    cursor: pointer;

    &:hover {
        background-color: cyan;
        color: black
    }
}

.gift-card-input-quantity {
    width: 20%;
    height: 50px;
    margin-right: 10px;
}

.gift-card-add-cart-button {
    text-align: center;
    color: white;
    flex-grow: 1;
    height: 50px;
    border: none;
    background-color: dodgerblue;
    transition: background-color 0.5s, color 0.5s;
    font-weight: bold;
    cursor: pointer;

    &:hover {
        background-color: cyan;
        color: black
    }
}

.gift-card-add-cart-loading-button {
    text-align: center;
    color: white;
    flex-grow: 1;
    height: 50px;
    border: none;
    background-color: rgba(30, 144, 255, 0.8);
    font-weight: bold;
    cursor: pointer;
}

.gift-card-add-wishlist-button {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}