.root.forgot-pass-form {
    display: grid;
    gap: 0.5rem;
    justify-items: stretch;
    padding: 0 1.5rem;
}

.forgot-pass-form {
    .buttonContainer {
        margin-top: 2rem;
        text-align: center;
    }

    .submitButton {
        padding: 5px 15px;
        font-size: 16px;
        font-weight: 600;
        white-space: nowrap;
        text-align: center;
        padding-top: 10px;
        cursor: pointer;
        border: 0;
        width: 100%;
        min-width: 200px;
        padding-bottom: 10px;
        &:hover {
            opacity: 0.8;
        }
    }
}
