.rotate-180,
.arrow-down {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}
.rotate-0{
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
}
.checkout-section-title {
    line-height: 48px;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
}
.order-items-header .item-count {
    display: flex;
    align-items: center;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 600;
    cursor: pointer;
}
ul.items {
    padding: 0;
    margin-top: 35px;
    border: none;
}
ul.items li.order-item {
    display: flex;
    margin-bottom: 30px;
}
li.order-item .item-image {
    margin: 0 10px;
    padding-bottom: 5px;
}
.cart-page-tapita .item-qty,
.item-name {
    font-weight: 600;
    margin-bottom: 12px;
}
.item-qty-price {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.item-qty-price span.qty {
    font-weight: 500;
}
.item-options .show-label {
    display: flex;
    align-items: center;
}
.options-selected {
    margin: 0 10px;
    font-size: 12px;
}
.options-selected .option-title {
    font-weight: bold;
}

.cart-total {
    margin-top: 20px;
    font-size: 16px;
    color: #333132;
    max-width: 444px;
    margin-left: auto;
}

.cart-total .label {
    font-size: 16px;
    color: #333132;
    padding: 0;
    line-height: 24px;
    font-weight: 400;
    white-space: unset;
}
.checkout-bg-rtl .cart-total .label {
    text-align: right;
}
.cart-total .grand_total .label {
    font-weight: 600;
}
.cart-total > div > div {
    display: flex;
    justify-content: space-between;
    height: auto;
    padding: 5px 0;
}

.shipping-address-detail .item-box {
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #f4f5f3;
}
.block-header {
    font-size: 16px;
    font-weight: 500;
    padding-bottom: 10px;
    text-transform: uppercase;
}
ul.address-item {
    border-bottom: none;
}
ul.address-item li {
    display: block;
}
.item-image img{
    max-width: 80px;
}
.show-label{
    cursor: pointer;
}
