.contact-ctn {
    display: flex;
}
.contact-info {
    padding: 60px 80px 70px;
    width: 50%;
}
.form-container {
    padding: 60px 80px 70px;
    width: 50%;
}

.form-container h2 {
    color: #333132;
    font-size: 37px;
    font-weight: bold;
    line-height: 45px;
    margin: 0 0 40px;
}

.form-container .base-textField {
    height: 45px !important;
    border: 1px solid rgba(51, 49, 50, 0.4);
    font-size: 16px !important;
    padding: 10px 16px !important;
    line-height: 24px !important;
    margin-bottom: 10px;
    width: 100%;
}

.form-container .base-textareaField {
    border: 1px solid rgba(51, 49, 50, 0.4);
    font-size: 16px;
    padding: 10px 16px;
    line-height: 24px;
    resize: vertical;
    margin-bottom: 10px;
    width: 100%;
}
.contact-action-flex {
    display: flex;
    justify-content: space-between;
}

.requirement {
    color: #fa0a11;
    font-size: 12px;
    line-height: 20px;
}

.submit-btn {
    width: 100px;
    height: 35px;
    color: white;
    padding-top: 0 !important;
}

.contact-info .contact-item {
    padding: 12px 0;
}

.contact-item {
    display: flex;
    align-items: flex-start;
    padding-inline-start: 15px;
}

.contact-item .item-content {
    padding-inline-start: 18px;
}

.contact-item .contact-title {
    font-size: 15px;
    text-transform: uppercase;
    padding-bottom: 5px;
    font-weight: 600;
}

@media screen and (max-width: 1024px) {
    .contact-ctn {
        flex-wrap: wrap;
    }
    .contact-info {
        padding: 20px 15px;
        width: 100%;
    }
    .form-container {
        padding: 20px 15px;
        width: 100%;
    }
}
