
.checkbox-item {
    font-weight: 400;
    display: flex;
    min-height: 24px;
    margin-top: 8px;
}

.checkbox-item:hover {
    cursor: pointer;
    color: rgb(11, 91, 40);
}

.checkbox-item .checkbox-item-icon {
    width: 16px;
    height: 16px;
    background-image: url("./image/checkbox_empty.svg");
    background-size: contain;
    margin-top: 1px;
    margin-inline-end: 9px;
    background-repeat: no-repeat;
}

.checkbox-item.selected .checkbox-item-icon {
    width: 24px;
    height: 24px;
}
.checkbox-item.selected .checkbox-item-icon .checkbox-item-icon-inside {
    color: #101820;
    font-family: Linearicons;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    width: 16px;
    height: 16px;
    background-color: #fff;
    margin: 4px;
}
.checkbox-item.selected .checkbox-item-icon .checkbox-item-icon-inside::before {
    content: "\e934";
}
.checkbox-item span.checkbox-item-text {
    color: #101820;
    font-size: 14px;
    font-weight: 500;
    line-height: 14px;
}