.listRoot {
    padding: 5px;
    border-top: solid 1px #eaeaea;
    margin-top: 15px;
}
.listHeader {
    margin-top: 15px;
    font-size: 20px;
}
.listItems {
    margin-top: 15px;
    padding: 0 15px;
}
.listItem {
    display: block;
    margin-bottom: 15px;
}
.listItem:hover {
    opacity: 0.8;
}