.container {
	top: 425.59px;
    position: absolute;
    box-sizing: border-box;
    border: 1px solid #ddd;
    background: #FFF;
    cursor: default;
    overflow: auto;
    box-shadow: 1px 4px 3px rgba(50,50,50,0.64);
    border-top: 0;
    padding: 10px 0;
    overflow-x: hidden;
}


.noSuggestion {
	padding: 2px 5px;
	font-size: 90%;
	cursor: default;
	line-height: 1.4
}

.suggestion {
	color: #000;
	display: block;
	padding: 2px 5px;
	line-height: 2.2;
    border-bottom: 1px solid #eee;
}

.suggestion:focus {
    outline: none;
}

.suggestion:last-child {
    border-bottom: none;
}

.selected {
	background-color: #F0F0F0;
}
@media (max-width: 768px) {
	.container {
		top: 311.59px;
	}
}
@media (max-width: 640px) {
	.container {
		top: 310.59px;
	}
}

@media (max-width: 365px) {
	.container {
		top: 328.59px;
	}
}

@media (max-width: 360px) {
	.container {
		top: 311.59px;
	}
}

@media (max-width: 230px) {
	.container {
		top: 394.59px;
	}
}
