.brandPageRoot {
    max-width: 1660px;
}
.brandContainer {
    margin: 0;
}


.breadCrumb {
    margin-left: 1rem;
    margin-top: 1rem;
    font-size: 0.875rem;
    height: 1.875rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 15px;
}
.breadCrumbLink {
    padding: 0.25rem;
    text-decoration: underline;
}
.breadCrumbSeparator {
    padding: 0.25rem;
}
.breadCrumbText {
    padding: 0.25rem;
}
.brandPageHeader {
    padding: 15px;
    background-color: #0ed08e;
    text-align: center;
    color: #fff;
    margin-bottom: 20px;
    width: 63.479%;
    margin: auto;
    padding-top: 5px;
}

.hr1, .hr2, .hr3, .hr4, .hr7, .hr8, .hr9 {
    display: none;
    height: 1px;
    margin: 0;
    margin-top: 5px;
    margin-bottom: 20px;
    background: #dfdfdf;
    overflow: hidden;
    width: 100%;
}

@media (min-width: 329px) {
    .hr2 {
        display: block;
    }

    .hr1, .hr3, .hr4, .hr7, .hr8, .hr9 {
        display: none;
    }
}   

@media (min-width: 641px) {
    .hr3 {
        display: block;
    }

    .hr1, .hr2, .hr4, .hr7, .hr8, .hr9 {
        display: none;
    }
}

@media (min-width: 720px) {
    .hr4 {
        display: block;
    }

    .hr1, .hr2, .hr3, .hr7, .hr8, .hr9 {
        display: none;
    }
}

@media (min-width: 1081px) {
    .hr7 {
        display: block;
    }

    .hr1, .hr2, .hr3, .hr4, .hr8, .hr9 {
        display: none;
    }
}

@media (min-width: 1200px) {
    .hr8 {
        display: block;
    }

    .hr1, .hr2, .hr3, .hr4, .hr7, .hr9 {
        display: none;
    }
}


@media (min-width: 1490px) {
    .hr9 {
        display: block;
    }

    .hr1, .hr2, .hr3, .hr4, .hr7, .hr8 {
        display: none;
    }
}

@media (max-width: 768px) {
    .brandPageRoot {
        margin-top: 20px;
    }

    .brandPageHeader {
        width: 68.7%;
    }
    .breadCrumb{
        display: none;
    }
}

/* @media(min-width: 768px) {
    .brandPageHeader {
        margin-bottom: 50px;
    }
} */
.brandPageTitle {
    font-size: 2.0em;
    /* font-size: 3.5em; */
    display: block;
    margin-top: 0;
    /* margin-top: 20px; */
    margin-bottom: 10px;
    text-align: center;
    font-weight: 400;
}
.brandPageHeaderContent {
    /* margin-bottom: 40px; */
    margin-bottom: 20px;
    /* margin-top: 1em; */
    margin-top: 0em;
}
.brandPageSearchBox {
    position: relative;
    max-width: 790px;
    text-align: left;
    margin: 0 auto;
}
.brandPageSearchInput {
    display: block;
    width: 100%;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out .15s;
    /* padding: 20px 10px 20px 50px !important; */
    padding: 10px 7px 10px 27px !important;
    height: auto !important;
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
}
.brandPageSearchInputRTL {
    padding: 20px 50px 20px 10px !important;
}
.searchResult {
    position: absolute;
    max-height: 2000px;
    z-index: 9999;
    top: 63px;
    left: 0px;
    width: 100%;
    display: block;
    box-sizing: border-box;
    border: 1px solid #ddd;
    background: #FFF;
    cursor: default;
    overflow: auto;
    -webkit-box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64);
    -moz-box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64);
    box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64);
    border-top: 0;
    padding: 10px 0;
    user-select: none;
}

.brandPageIcon {
    cursor: pointer;
    display: inline-block;
    background: none;
    -moz-box-sizing: content-box;
    border: 0;
    box-shadow: none;
    line-height: inherit;
    margin: 0;
    padding: 0;
    text-decoration: none;
    text-shadow: none;
    font-weight: 400;
    position: absolute;
    right: 20px;
    top: 8px;
    z-index: 1;
    height: 61px !important;
}
.brandPageIcon i:before {
    -webkit-font-smoothing: antialiased;
    font-size: 30px;
    /* font-size: 39px; */
    line-height: 61px;
    color: #8f8f8f;
    margin: 0;
    vertical-align: top;
    display: inline-block;
    font-weight: normal;
    overflow: hidden;
    speak: none;
    text-align: center;
}

@media (max-width: 500px) {
    .brandPageIcon i:before {
        font-size: 25px;
        font-weight: 400;
    }
}


.searchItem {
    padding: 4px 9px;
    margin-inline-end: 9px;
    white-space: nowrap;
    overflow: hidden;
    display: flex;
    justify-content: flex-start;
}
.searchItem:hover {
    background-color: #f0f0f0;
}
.searchItemPhotoWrapper {
    width: 70px;
    max-width: 70px;
    min-width: 70px;
}
.searchItemPhoto {
    width: 100%;
    height: auto;
    border: 0;
}
.searchItemInfo {
    padding: 4px 15px;
}
.searchItemName {
    font-size: 18px;
    color: #333333;
    display: block;
    margin-bottom: 5px;
    font-weight: 400;
}
.searchItemDesc {
    color: #333333;
    white-space: nowrap;
    overflow: hidden;
}
.dictList {
    margin-top: 20px;
    border-top: solid 1px #dfdfdf;
    padding-top: 30px;
}
.dictList:last-child {
    margin-bottom: 0;
}
.dictListWrapper {
    padding: 0;
    text-align: center;
    margin-top: 0;
    margin-bottom: 2.5rem;
}
.dictOption {
    border: 1px solid #ddd;
    position: relative;
    min-width: 38px;
    display: inline-block;
    margin-bottom: 5px;
    margin-left: 2.5px;
    margin-right: 2.5px;
}
.dictOption span {
    color: inherit;
    position: relative;
    display: block;
    padding: 10px 14px;
    line-height: 20px;
    text-decoration: none;
    min-width: 10px;
    box-sizing: unset;
}
.dictOption.selected {
    background-color: #0ed08e;
    color: white;
}
.dictOption.disabled {
    color: lightgray;
}

.brandListContent {
   margin: 55px 0;
   width: 100%;
   text-align: center;
   display: block;
}

@media (min-width: 768px) and (max-width: 1023px) {
    .brandListContent {
        justify-content: center;
    }
}

.alphabetHeader {
    margin-top: 15px;
    padding-top: 10px;
    border-top: 1px solid #eaeaea;
    width: 100%;
    font-size: 20px;
    text-transform: uppercase;
}

.brandItem {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    margin-bottom: 20px;
    margin: 0 10px;
    font-size: 1.4rem;
    line-height: normal;
    letter-spacing: normal;
    width: 9% !important;
}

.productImageWrapper {
    display: block;
    height: 0;
    overflow: hidden;
    position: relative;
    z-index: 1;
    padding-bottom: 57% !important;
}

@media (min-width: 1081px) {
    .productImageWrapper {
        padding-bottom: 70% !important;
    }
}

@media (min-width: 1440px) {
    .productImageWrapper {
        padding-bottom: 47% !important;
    }
}

@media (max-width: 1080px) {
    .brandItem {
        width: 16.3% !important;
    }
}

@media (max-width: 640px) {
    .brandItem {
        width: 30% !important;
    }
}

/* .brandItem:hover{
    border: solid 1px #dfdfdf;
    -webkit-box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64);
    -moz-box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64);
    box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64);
} */
.brandItemImageWrapper {
    width: 100%;
    padding-top: 100%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.brandItemInfo {
    width: 80% !important;
    display: block;
    margin: 0 auto;
    max-width: 100%;
}

.productImageContainer {
    display: inline-block;
    max-width: 100%;
}

.brandItemName {
    text-align: center;
    font-size: 12px !important; 
    display: block;
    hyphens: auto;
    margin: 5px 0;
    word-wrap: break-word;
    font-weight: 400;
}

.brandItemName a {
    font-weight: 400;
    color: #333;
    text-decoration: none;
}

.productImagePhoto {
    bottom: 0;
    display: block;
    height: 45px !important;
    left: 0;
    margin: 0 !important;
    max-width: 100%;
    position: absolute;
    right: 0;
    top: 0;
}

@media (min-width: 1440px) {
    .productImagePhoto {
        height: auto !important;
        margin: 0 !important;
    }
}

@media (min-width: 992px) and (max-width: 1080px) {
    .productImagePhoto {
        height: 60px !important;
        margin: 0 !important;
    }
}
.brandHR {
    display: block;
    height: 1px;
    margin: 0;
    margin-top: 5px;
    margin-bottom: 20px;
    background: #dfdfdf;
    overflow: hidden;
    width: 100%;
}
.listItemSortDescription {
    margin-top: 10px;
}

@media(max-width: 767px) {
    /* .brandListContent {
        justify-content: space-between;
    } */
    .brandItemImageWrapper {
        width: 100% !important;
    }

    /* .brandItem {
        flex-basis: unset !important;
        margin-inline-end: unset;
    } */
}

/* @media(max-width: 1080px) {
    .brandItem {
        width: 32.3% !important;
    }
}

@media(max-width: 640px) {
    .brandItem {
        width: 49% !important;
    }
} */
