.root {
    display: grid;
    gap: 0.9375rem 1.5rem;
    grid-template-columns: 2fr 1fr;
    grid-template-areas:
        'country country'
        'state zip'
        'submit submit';
}
.root div[class*='region-root-1Sr'] label[class*='field-label-ifR'],
.root div[class*='postcode-root-26p'] label[class*='field-label-ifR'] {
    min-height: 50px;
}

.formTitle {
    font-weight: 600;
}

.zip {
    grid-area: zip;
}

.submit {
    composes: root_normalPriority from '@magento/venia-ui/lib/components/Button/button.module.css';
    justify-self: flex-start;
}

@media (max-width: 640px) {
    .root {
        /* Only one column in mobile view. */
        grid-template-columns: 100%;
        grid-template-areas:
            'country'
            'state'
            'zip'
            'submit';
        padding-right: unset;
    }
}
