.product-item {
    cursor: pointer;
    margin: 0px 10px;
    position: relative;
}
.siminia-product-list-item{
    display: inline-block;
    padding: 0;
    margin: 0;
    margin-top: 16px;
    vertical-align: top;
    width: 48%;
}

@media (min-width: 1024px) {
    .siminia-product-list-item{
        width: 25%;
        padding-left: 22px;
    }
}

@media (min-width: 1920px) {
    .siminia-product-list-item{
        padding: 0;
        margin-left: 75px;
        width: 240px;
    }

    .siminia-product-list-item.first{
        margin-left: 40px;
    }
}


/*
Grid item
*/

.siminia-product-grid-item {
    position: relative;
    height: 100%;
    margin: 0;
}

@media (min-width: 1024px) {
    .siminia-product-grid-item {
        padding: 1px 0px 10px 0px;
    }
}

@media (max-width: 1024px) {
    .siminia-product-grid-item {
        padding: 1px 0px 29px 0px;
    }
}

.siminia-product-des .product-name.small {
    width: 100%;
    font-size: 17px;
    margin-bottom: 10px;
    margin-bottom: 8px;
    text-align: start;
    font-weight: 500;    
    text-overflow: ellipsis;
    overflow: hidden;
    line-height: 22px;
    max-height: 44px;
}

.siminia-product-des .product-short-description {
    display: inline-block;
    font-size: 12px;
    margin-bottom: 10px;
}

.siminia-product-des .price {
    font-weight: 500;
    font-size: 14px;
    float: left;
    margin-bottom: 3px;
}

.siminia-product-des .old {
    font-weight: 500;
    font-size: 14px;
    float: left;
}

/*
Image
*/
.siminia-product-image {
    border: 1px solid #eee;
    text-align: center;
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    padding: 1px;
}

.siminia-product-image img {
    height: 100%;
    width: 100%;
    -o-object-fit: contain;
    vertical-align: top;
    object-fit: contain;
}

/*
Rate
*/
.item-review-rate {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
}
.item-review-count {
    display: inline-block;
    font-size: 14px;
    margin: 0 5px;
    line-height: 15px;
}
.siminia-product-grid-item .siminia-product-des {
    text-align: left;
    margin: 8px auto 0 auto;
    overflow: hidden;
}

.product-horizotal .siminia-product-grid-item .siminia-product-des {
    margin: 16px auto 0 auto;
}

.siminia-product-grid-item .siminia-product-image {
    width: 100%;
    padding-top: 100%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.siminia-product-grid-item .special-price .sale_off {
    display: none;
}
.siminia-product-grid-item .special-price-label {
    margin-left: 8px !important;
}
.siminia-product-grid-item .prices-layout {
    font-size: 14px;
    line-height: 24px;
}
.siminia-product-grid-item .incl-tax-label {
    margin-left: 8px;
}