.products-root {
    .title {
        font-size: 1.5rem;
        font-weight: 400;
        margin: 0 0 1.5rem;
        padding: 0 0.25rem 6px;
    }

    .categoryTitle {
        color: black;
        font-size: 30px;
        font-weight: 300;
        line-height: 41px;
        font-weight: 600;
        text-align: start;
    }

    /*
    *   List products
    */
    .product-list-container-siminia {
        margin-left: auto;
        margin-right: auto;
        .product-list-top {
            display: flex;
            justify-content: space-between;
            padding-bottom: 10px;
            border-bottom: solid 1px #d3d3d3;
            margin-bottom: 29px;
        }
        .items-count {
            font-weight: 400;
            font-size: 14px;
            line-height: 19px;
            white-space: nowrap;
            margin-top: 11px;
            height: 22px;
        }
        .left-navigation {
            display: inline-block;
            margin-inline-end: 28px;
            margin-bottom: 15px;
            @media (max-width: 1023px) {
                width: 100%;
                margin: 0;
                min-height: 48px;
                position: relative;
            }
        }

        .left-navigation-title {
            font-size: 22px;
            font-weight: 500;
            margin: 0 15px;
        }
        .listing-product{
            width: 100%;
            display: inline-block;
            // Sort by
            .top-sort-by {
                position: relative;
                min-width: 217px;
                margin-bottom: 15px;
                .sort-by-select {
                    display: flex;
                    margin-top: 14px;
                    min-height: 30px;
                    @media (max-width: 1023px) {
                        min-height: 45px;
                        top: 8px;
                    }
                    @media (min-width: 1024px) {
                        margin-top: 0;
                    }
                    .dropdownoption {
                        font-size: 14px;
                        padding: 7px 16px;
                        background-color: #e0e0e0;
                        font-weight: 400;
                        border-color: transparent;
                        &.showing {
                            -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12),
                                0 1px 2px rgba(0, 0, 0, 0.24);
                            box-shadow: 0 2px 15px 0 rgba(130, 130, 130, 0.74);
                            border: none;
                            background-color: white;
                        }
                    }
                    &:hover .dropdownoption {
                        border-color: #0058ac;
                        cursor: pointer;
                    }
                }
                .dir-item {
                    display: flex;
                    width: auto;
                    justify-content: space-between;
                    min-height: 30px;
                    padding: 6px 0px;
                    font-size: 14px;
                    @media (max-width: 1023px) {
                        padding: 10px 0px;
                    }
                    &:hover {
                        color: #0058ac;
                    }
                }
            }
        }
        .no-product {
            width: 100%;
            text-align: center;
            margin-top: 50px;
        }
        @media (min-width: 1024px) {
            display: flex;
            padding: 10px auto;
        }
        @media (max-width: 1023px) {
            padding: 0;
            .top-sort-by {
                width: 100%;
            }
        }
    }

    /*
    *   Pagination
    */
    .product-grid-pagination {
        margin-top: 40px;
        .items-per-page {
            .item-from-to {
                @media (max-width: 1023px) {
                    display: none;
                }
            }
        }
        .load-more {
            background-color: #000;
            height: 40px;
            width: 180px;
            margin: auto;
            cursor: pointer;
        }
        .btn-load-more {
            color: #fff;
            letter-spacing: 0.09px;
            text-align: center;
            text-transform: uppercase;
            padding-top: 13.5px;
            padding-bottom: 12.5px;
            font-size: 14px;
            font-weight: 600;
            line-height: 14px;
        }
    }

    .full-width-container {
        width: 99.3vw;
        position: relative;
        left: 50%;
        right: 50%;
        margin-left: -50vw;
        margin-right: -50vw;
        background-color: #f3f3f3;
    }

    .search-result-header {
        font-size: 37px;
        padding-top: 16px;
        padding-bottom: 16px;
        font-weight: 500;
    }

    @media (max-width: 1023px) {
        padding: 0;

        .categoryTitle {
            text-align: center;
            font-size: 24px;
            line-height: 32px;
        }
        .full-width-container {
            width: 100vw;
        }
    }

    @media (min-width: 1024px) {
        .full-width-container {
            padding-left: 10px;
        }
    }
    @media (min-width: 769px) {
        .carousel-child-cate {
            display: none;
        }
        .activeFilter{
            display: none;
        }
        .unActiveFilter{
            display: none;
        } 
    }
    @media (max-width: 768px) {
        .items-count{
            display: none;
        }
        h1.title{
            display: none;
        }
        .listing-product{
            margin-top: 20%;
            .product-list-top{
                padding-bottom: 0px;
                border-bottom: none;
                margin-bottom: 0;
            }
        }
        .marginTop{
            margin-top: 32%;
        }
        .sortby-filter{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-areas: "sortby price filter";
            margin-top: 19px;
            background-color: #FFFFFF;
            box-shadow: 0 2px 4px 0 rgba(0,0,0,0.1);
            padding-bottom: 14px;
            .product-list-filter{
                grid-area: filter;
                display: flex;
                justify-content: flex-end;
                .wrap-top{
                    .label{
                        padding-right: 10px;
                    }
                }
            }
            .product-list-sortby-price{
                grid-area: price;
                display: flex;
                justify-content: center;
            }
            .product-list-sortby{
                grid-area: sortby;
                display: flex;
                justify-content: flex-start;
                > div{
                    display: inline-flex;
                }
            }
            .wrap-top{
                position: relative;
                display: inline-flex;
            }
            .activeSort{
                position: absolute;
                height: 4px;
                border-radius: 2px;
                background-color: #FFC700;
                width: 50%;
                bottom: 0;
                left: 30%;
            }
        }
        .label{
            color: #150826;
            font-size: 14px;
            letter-spacing: 0;
            line-height: 16px;
            padding-left: 10px;
            .icon-filter{
                svg{
                    display: inline-block;
                    margin-right: 2px;
                    margin-bottom: 2px;
                }
            }
            .activeIconFilter{
                color: #FFC700;
            }
        }
        .activeFilter{
            margin-top: 0;
            opacity: 1;
            visibility: visible;
            transform: translate3d(0, 0, 0);
            background-color: white;
            bottom: 0;
            display: grid;
            right: 0;
            max-width: 360px;
            overflow: scroll;
            position: fixed;
            top: 0;
            transition-property: opacity, transform, visibility;
            width: 75%;
            z-index: 5;
            transform: translateX(0);
            transition: all 0.5s;
            
        }
        .product-list-container-siminia {
            position: relative;
            padding-left: 10px;
            padding-right: 10px;
            .wrapper {
                position: fixed;
                width: -webkit-fill-available;
                z-index: 1;
                background: white;
                top: 0;
                left: 0;
                .carousel-child-cate {
                    padding: 14px 0px 3px 10px;
                    overflow: auto;
                    display: flex;
                    background-color: #F2F2F3;
                    -ms-overflow-style: none; /* IE and Edge */
                    scrollbar-width: none; /* Firefox */
                    &::-webkit-scrollbar {
                        display: none;
                    }
                    li {
                        display: inline-block;
                        list-style: none;
                        height: 36px;
                        line-height: 36px;
                        &:not(:first-child) {
                            margin-left: 10px;
                            margin-left: 10px;
                            border-radius: 3px;
                            background-color: #C3BEBE;
                        }
                        &.active-item {
                            display: block;
                            position: relative;
                            box-sizing: border-box;
                            border: 1px solid #FF5F59;
                            border-radius: 3px;
                            background-color: #FFFFFF;
                            &::after{
                                content: '';
                                position: absolute;
                                top: 0;
                                left: 0;
                                height: 16.89px;
                                width: 16px;
                                border-left: 10px solid #FF5F59;
                                border-right: 10px solid transparent;
                                border-bottom: 10px solid transparent;
                                border-top: 10px solid #FF5F59;
                            }
                            &::before{
                                content: url("./Icon/icon-done.svg");
                                position: absolute;
                                bottom: 10px;
                                left: 0;
                                z-index: 2;
                            }
                            a {
                                white-space: nowrap;
                            }
                        }
                        a {
                            color: #150826;
                            font-size: 13px;
                            letter-spacing: 0;
                            line-height: 15px;
                            text-align: center;
                            padding: 10px;
                            white-space: nowrap;
                        }
                    }
                }
            }
        }
        
        .unActiveFilter{
            margin-top: 0;
            opacity: 0;
            visibility: hidden;
            background-color: white;
            bottom: 0;
            display: grid;
            right: 0;
            max-width: 360px;
            overflow: scroll;
            position: fixed;
            top: 0;
            transform: translate3d(-100%, 0, 0);
            transition-property: opacity, transform, visibility;
            width: 75%;
            z-index: 5;
            transform: translateX(115%);
            
        } 
    }
}
