.passwordButton {
    /* composes: root from '@magento/venia-ui/lib/components/Button/button.module.css'; */

    --stroke: var(--venia-global-color-gray-500);
    background: none;
    border-radius: 0px;
    border-style: none;
    border-width: 0px;
    padding: 0px;
    min-width: 0px;
    pointer-events: initial;
    outline: none;
}

.passwordButton:hover {
    --stroke: var(--venia-global-color-gray-700);
}

.passwordButton:focus {
    box-shadow: none;
    --stroke: var(--venia-global-color-gray-700);
}

.root:active {
    --stroke: var(--venia-global-color-gray-700);
}
