/*.root {
    padding: 2.5rem 3rem;
    max-width: 1080px;
    margin: 0 auto;
    background-color: #fff;
}
.root > div > div > div > div {
    border-radius: 0;
}*/

.root {
    width: 100%;
    height: max-content;
    background-color: white;
    max-width: 1232px;
    margin: 0 auto 50px auto;
    padding: 20px;
}

@media only screen and (max-width: 1332px) {
    .root {
        margin: 0 20px;
        width: calc(100% - 40px)
    }
}

.body {
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr 1fr;
    /* The summary grid item spans the entire right column. */
    grid-template-areas:
        'items items'
        'adjustments summary';
}

/*.heading_container {
    display: grid;
    margin-bottom: 2rem;
    row-gap: 1rem;
    grid-template-columns: 1fr max-content;
    grid-template-areas: 'title number';
  }
  .heading {
    grid-area: title;
    color: #111111;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 41px;
  }
*/

.heading_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid #bbb;
    padding-bottom: 10px;
}

.heading {
    font-size: 21px;
    font-weight: 700;
    margin: 10px 0;
}

.abs_checkout_btn {
    background-color: #00a6e4;
    color: #fff;
    border: none;
    width: 320px;
    height: 42px;
    font-size: 15px;
    text-transform: uppercase;
    padding: 10px 15px;
    font-weight: 700;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    transition: background-color 0.5s;
}

.abs_checkout_btn:hover {
    background-color: #006488;
}

.abs_checkout_btn:active {
    background-color: #ffbc3b;
}

.abs_nav_btn {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 30px;
}

.abs_browsing_btn {
    background-color: #f1f1f1;
    color: #434343;
    border: none;
    width: 320px;
    height: 42px;
    font-size: 15px;
    text-transform: uppercase;
    padding: 10px 15px;
    font-weight: 700;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    transition: background-color 0.5s;
}

.abs_browsing_btn:hover {
    background-color: #bbb;
}

@media only screen and (max-width: 1200px) {
    .heading {
        margin: 0 0 60px 0;
    }
    .abs_checkout_btn {
        margin-top: 40px;
    }
    .abs_browsing_btn {
        margin-top: 40px;
    }
}

@media only screen and (max-width: 992px) {
    .heading_container {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .heading {
        margin: 0;
    }
    .abs_checkout_btn {
        margin-top: 0;
        width: 100%;
    }
    .abs_nav_btn {
        display: flex;
        flex-direction: column;
    }
    .abs_browsing_btn {
        width: 100%;
        margin-top: 20px
    }
}

.items_count {
    grid-area: number;
    color: #111111;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 24px;
}
.stockStatusMessageContainer:empty {
    display: none;
}

.items_container {
    grid-area: items;
}

.price_adjustments_container {
    grid-area: adjustments;
    margin-top: 30px;
}

.summary_container {
    grid-area: summary;
    height: 100%;
}

.summary_contents {
    position: sticky;
    /*
     * TODO: Use CSS Properties (variables) or something instead of hardcoding this.
     *  - 3.5rem = min-height of nav header. See the "toolbar" class in header.css.
     *  - 2rem = padding-top of the cart page.
     */
    top: 5.5rem;
    /*background-color: #dae8f6;*/
    background-color: white;
}

/*
 * Mobile-specific styles.
 */

@media (max-width: 960px) {
    .root {
        padding-left: 15px;
        padding-right: 15px;
    }

    .body {
        /* Only one column in mobile view. */
        grid-template-columns: 100%;
        grid-template-areas:
            'items'
            'adjustments'
            'summary';
    }

    .heading {
        font-size: 24px;
        line-height: 32px;
        font-weight: 600;
    }
    .items_count {
        font-size: 16px;
        line-height: 20px;
        padding-top: 7px;
        font-weight: 600;
    }
    /*.summary_container {
        margin-left: -15px;
        margin-right: -15px;
    }*/
}
