@media (max-width: 768px) {
    .top-sort-by {
        position: relative;
        min-width: 217px;
        // margin-bottom: 15px;
        z-index: 3;
        .unActive{
            position: absolute;
            height: 4px;
            width: 34px;
            border-radius: 2px;
            background-color: #FFC700;
            left: 20%;
            top: 0px;
            left: 0;
            z-index: 2;
            transition: 0.4s all;
        }
        .active{
            position: absolute;
            height: 4px;
            width: 34px;
            border-radius: 2px;
            background-color: #FFC700;
            left: 20%;
            top: 0px;
            left: 7%;
            z-index: 2;
            animation: ani 0.4s;
            -moz-animation: ani 0.4s ;
            -webkit-animation: ani 0.4s ;
            -o-animation: ani 0.4s ;
        }



        @keyframes ani {
            0% { left: 0px; }
            100% { left: 7%; }
        }
        
        @-moz-keyframes ani {
            0% { left: 0px; }
            
            100% { left: 7%; }
        }
        
        @-webkit-keyframes ani {
            0% { left: 0px; }
            
            100% { left: 7%; }
        }
        
        @-o-keyframes ani {
            0% { left: 0px; }
           
            100% { left: 7%; }
        }
        .sort-by-select {
            > div > div:nth-child(1){
                justify-content: flex-start;
            }
            display: flex;
            // margin-top: 14px;
            min-height: 30px;
            @media (max-width: 1023px) {
                min-height: 45px;
                top: 8px;
            }
            @media (min-width: 1024px) {
                margin-top: 0;
            }
            .dropdownoption {
                font-size: 14px;
                padding: 0;
                // background-color: #e0e0e0;
                font-weight: 400;
                border-color: transparent;
                &.showing {
                    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12),
                        0 1px 2px rgba(0, 0, 0, 0.24);
                    border: none;
                    background-color: #F2F2F3;
                    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
                }
            }
            &:hover .dropdownoption {
                // border-color: #0058ac;
                cursor: pointer;
            }
        }
        .dir-item {
            display: flex;
            width: auto;
            justify-content: space-between;
            min-height: 30px;
            padding: 6px 0px;
            font-size: 14px;
            .dir-title-active, .is-selected{
                color: #FF4C52;
                font-size: 14px;
                letter-spacing: 0;
                line-height: 16px;
            }
            @media (max-width: 1023px) {
                padding: 10px 0px;
            }
            &:hover {
                // color: #0058ac;
            }
        }
    }
}
