.root {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: max-content;
    column-gap: 16px;
    opacity: 1;
    visibility: visible;
    transition-delay: 64ms;
    transition-duration: 384ms;
    transition-property: opacity, visbility;
    transition-timing-function: var(--venia-global-anim-standard);
    margin-top: 0;
    padding-top: 20px;
    padding-bottom: 20px;
}
.root:not(:last-of-type) {
    border-bottom: solid 1px #e4e4e4;
}

.root_hidden {
    composes: root;
    opacity: 0;
    visibility: hidden;
    height: 0;
    margin-top: 0rem;
}

.thumbnail {
    grid-column: 1 / span 1;
    grid-row: 1 / span 3;
    border: solid 1px rgb(var(--venia-global-color-border));
    min-width: 110px;
}

.name {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
    display: flex;
    justify-content: space-between;
}
.item_name_string {
    max-width: 200px;
    overflow-x: hidden;
}
.quantity {
    font-size: 14px;
    line-height: 19px;
    margin-inline-start: 5px;
}
.item_price {
    font-size: 18px;
    line-height: 19px;
    margin-top: 10px;
    font-weight: 400;
    color: #000;
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
}

.options {
    display: grid;
    grid-column: 2 / span 1;
    grid-row: 3 / span 1;
    gap: 5px;
    grid-template-rows: max-content;
}

.options dd,
.options dt {
    font-size: 14px;
    line-height: 19px;
}
