.root {
    display: grid;
    justify-content: center;
    padding: 2.5rem 0;
    text-align: center;
    grid-template-columns: minmax(auto, 512px);
    row-gap: 2rem;
}

.header {
    display: none;
    font-family: var(--venia-global-fontFamily-serif);
}

.root h2 {
    font-size: 20px;
    line-height: 24px;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 15px;
}

.root input {
    border-radius: 0;
    border-width: 1px;
}

@media (min-width: 961px) {
    .contentContainer {
        padding-bottom: 2rem;
        border: 2px solid rgb(var(--venia-global-color-border));
        border-radius: 0.375rem;
        background-color: white;
    }
}
