.dropdownoption {
    border: 1px solid rgb(220, 220, 220);
    background: white;
    font-size: 16px;
    justify-content: space-between;
    position: absolute;
    z-index: 1;
}

.dropdownoption-title {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-height: 25px;
    line-height: 27px;
    white-space: nowrap;
    svg {
        margin-top: 1px;
    }
}
.dropdownoption:hover {
    cursor: pointer;
}

@media (max-width: 1023px) {
    .dropdownoption {
        padding: 11px 16px;
        width: 100%;
        min-height: 45px;
    }
}

@media (min-width: 1024px) {
    .dropdownoption {
        width: 217px;
        padding: 3px 16px;
        min-height: 30px;
    }
}

.dropdownoption .dropdownoption-inner {
    margin-top: 8px;
    margin-bottom: 2px;
}
