.root {
    display: grid;
    gap: 1.5rem;
    justify-items: stretch;
    padding: 1rem 1.5rem;
}

.forgotPassword {
    display: block;
    text-decoration: underline;
    color: rgb(var(--venia-global-color-error));
    font-size: 0.8rem;
}

.form {
    display: grid;
    row-gap: 0.9375rem;
}

.modal {
    visibility: hidden;
    height: 100%;
    width: 100%;
    background-color: rgb(var(--venia-global-color-gray));
    text-align: center;
    position: absolute;
    bottom: 0;
}

.modal_active {
    visibility: visible;
    composes: modal;
    opacity: 0.9;
}

.buttonsContainer {
    display: grid;
    gap: 1.5rem;
    grid-auto-flow: row;
    justify-content: center;
    margin-top: 1rem;
    width: 100%;
}

.forgotPasswordButtonContainer {
    align-items: center;
    display: flex;
    justify-content: center;
    justify-self: start;
    text-align: center;
}

.forgotPasswordButton {
    composes: root from '@magento/venia-ui/lib/components/LinkButton/linkButton.module.css';

    padding: 0;
}

.title {
    font-size: var(--venia-global-fontSize-400);
    padding-top: 0.5rem;
    text-transform: capitalize;
}
@media (max-width: 450px) {
    .root {
        padding: 1rem 10px;
    }
    .forgotPasswordButtonContainer {
        width: 100%;
        justify-content: flex-end;
    }
    .buttonsContainer {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .buttonsContainer > button {
        border-radius: 4px;
    }
    .registerBtnContainer {
        font-family: Roboto;
        font-size: 16px;
        font-weight: 500;
        letter-spacing: 0;
        line-height: 19px;
        position: fixed;
        bottom: 25px;
        left: 32%;
    }
    .registerBtn {
        color: var(--venia-global-color-button);
    }
}
