.articles {
    margin: 0.5rem 0 1rem 0;
    border: none !important;
    box-shadow: none !important;
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.articles li, .extend {
    margin-bottom: 0;
    padding: 0.5rem 1rem 0.5rem 1rem;
    box-sizing: inherit;
    margin-top: 0rem;
}
.wrapIcon svg{
    font-size: 1rem;
    display: inline-block;
    text-align: center;
    margin-right: 1rem;
    color: #ccc;
    width: 0.75em;
    overflow: visible;
}
.extend {
    font-weight: 600
}

.header {
	padding: 0;
    background: transparent;
    border: none;
    cursor: unset;
    display: flex;
    line-height: 1.5;
    box-sizing: inherit;
}

a {
	color: #000;
    text-decoration: none;
    cursor: pointer;
}

::marker {
    unicode-bidi: isolate;
    font-variant-numeric: tabular-nums;
    text-transform: none;
    font-size: 1.2em;
}

.icon, .arrow {
    width: 1rem;
    font-size: 1rem;
    display: inline-block;
    text-align: center;
    margin-right: 1rem;
    color: #ccc;
}

.arrow {
    color: #000;
}