.grouped-options {
    padding: 1rem 1.5rem;

    .product-options-group-item {
        margin-top: 15px;
    }
    .option-title {
        margin-top: 8px;
    }
    .option-number {
        text-align: center;
    }
}
