.error {
    color: #000;
}

.radio_label {
    font-size: 14px;
    line-height: 14px;
    font-weight: 400;
    width: 100%;
}

.radio_label > span {
    display: inline-block;
    margin-inline-end: 5px;
}


.radio_label > div {
    display: inline-block;
}