.errorContainer {
    padding-bottom: 1rem;
}
.contents {
    padding: 15px;
    grid-gap: 15px;
    display: grid;
}
.buttons {
    padding: 40px 15px;
    display: grid;
    grid-auto-flow: column;
    gap: 20px;
    justify-content: center;
}
.buttons button {
    border-radius: 0;
    border: solid 1px #000;
    font-size: 16px;
    line-height: 19px;
    padding: 15px 30px 14px;
    font-weight: 500;
    text-transform: uppercase;
}
.buttons button:hover {
    opacity: 0.8;
}

.buttons button:focus {
    box-shadow: 0px 0px 1px 0px #000;
}
.buttons button[type="submit"] {
    background-color: #000;
    color: white;
}
.buttons button[type="reset"] {
    background-color: #ffffff;
    color: #000;
}

@media (max-width: 1023px) {
    .buttons {
        grid-auto-flow: row;
    }
}

.dialog {
    background-color: rgb(var(--venia-global-color-background));
    border-radius: 5px;
    box-shadow: 1px 1px 5px rgb(var(--venia-global-color-gray-darker));
    height: 100%;
    max-height: 90vh;
    min-height: 360px;
    width: 640px;
    overflow: hidden;
    display: grid;
    grid-template-rows: auto 1fr;
    pointer-events: auto;
    z-index: 4;
}
@media (max-width: 960px) {
    .dialog {
        max-height: 100%;
        max-width: 360px;
    }
}
@media (max-width: 320px) {
    .dialog {
        max-height: 100%;
        max-width: 320px;
    }
}
