.prices-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .product-prices span.price {
        font-size: 28px;
        font-weight: 800;
    }
    .product-stock-status {
        margin-top: 16px;
        order: 2;
        text-align: right;
    }
    .prices-layout {
        margin-top: 16px;
    }
    .stock-status {
        font-weight: 600;
        font-size: 14px;
        text-transform: uppercase;
    }
    .product-sku span {
        text-transform: uppercase;
        font-size: 14px;
    }
}
