.root {
    /* border: 2px solid rgb(var(--venia-global-color-gray-400)); */
    border-radius: 0.375rem;
    display: grid;
    justify-content: space-between;
    grid-template-columns:  20.285% 14.285% 16.285% 14.285% 12.285% 11.285% 11.285%;
    /* grid-template-columns:  auto auto 16.66% auto auto auto; */
    padding: 15px 0;
    border-bottom: 1px solid #F2F2F2;
    /* grid-template-columns: minmax(9rem, 1fr) minmax(9rem, 1fr) minmax(9rem, 1fr) 16rem 2fr 3rem; */
}
.root:last-child {
    /* border-bottom: none; */
}
.rootItem {
    text-align: left;

    /* border-right: 2px solid  #979797; */
    
}

.cell {
    border-left: 2px solid rgb(var(--venia-global-color-gray));
    padding: 1.5rem;
    overflow: hidden;
}

.stackedCell {
    composes: cell;
    display: grid;
    row-gap: 0.25rem;
}

.label {
   
}

.value {
    /* font-weight: var(--venia-global-fontWeight-bold); */
}
.viewOrder {
    color: #0058AC;
    font-family: poppins;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 22px;
    text-align: left;
}
.btnViewOrd {
    text-decoration: underline;

}

.orderNumberContainer,
.orderDateContainer,
.orderTotalContainer {
    composes: stackedCell;
}

.orderStatusContainer {
    composes: stackedCell;
    row-gap: 0.75rem;
}

.orderItemsContainer {
    composes: cell;
    padding: 0;
}

.contentToggleContainer {
    composes: cell;
    padding: 0;
}

.orderNumberLabel,
.orderDateLabel,
.orderTotalLabel {
    composes: label;
}

.orderNumber,
.orderDate,
.orderTotal {
    composes: value;
}

.orderStatusBadge {
    composes: label;
    /* border: 1px solid rgb(var(--venia-global-color-gray-400)); */
    /* border-radius: 0.375rem; */
    /* font-weight: var(--venia-global-fontWeight-bold); */
    justify-self: flex-start;
    /* padding: 0.25rem 1.25rem; */
    font-size: 14px;
  letter-spacing: 0;
  line-height: 14px;
}

.content {
    border-top: 2px solid rgb(var(--venia-global-color-gray));
    grid-column: 1 / -1;
    padding: 1.5rem;
}

.content_collapsed {
    display: none;
}

@media (max-width: 960px) {
    .root {
        /* grid-template-columns: 1fr 1fr; */
    }

    .cell {
        border-left: none;
    }

    .contentToggleContainer {
        grid-column-start: 2;
        grid-row-start: 1;
        justify-self: flex-end;
        padding: 0 1.5rem;
    }

    .orderStatusContainer {
        grid-column-end: span 2;
    }

    .orderItemsContainer {
        border-bottom: 2px solid rgb(var(--venia-global-color-gray));
        grid-column-end: span 2;
        padding: 1rem 0;
    }

    .orderItemsContainer:empty {
        display: none;
    }

    .orderNumberContainer {
        align-items: center;
        column-gap: 0.5rem;
        grid-auto-flow: column;
        grid-column: 1 / span 2;
        grid-row: 1;
        justify-content: flex-start;
    }

    .orderDateContainer {
        border: 2px solid rgb(var(--venia-global-color-gray));
        border-left: none;
    }

    .orderTotalContainer {
        border-bottom: 2px solid rgb(var(--venia-global-color-gray));
        border-top: 2px solid rgb(var(--venia-global-color-gray));
    }
}
.btn {
    color: #0058AC;
    font-family: poppins;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 18px;
    text-decoration: underline;
}
.btnDis {
    color: #888b8f;
    font-family: poppins;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 18px;
    text-decoration: underline;
}