.mobileRoot {
    padding: 15px;
}
.orderItem {
    background-color: #fff;
    box-shadow: 1px 1px 5px 0 rgba(0,0,0,0.25);
    border-radius:5px;
    padding: 20px;
    margin-bottom: 15px;
    position: relative;
}
.mbHeading {
    padding: 20px;
    background-color: #f0f0f0;
    margin-bottom: 10px;
    //  height: 30px;
    width: 100%;
    color: #111111;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 14px;
    text-align: left;
}
.orderItemHead {
    display: flex;
    justify-content: space-between;
    span {
        color: #111111;
        font-family: Roboto;
        font-size: 16px;
        font-weight: 500;
        letter-spacing: 0;
        line-height: 22px;
    }
}
.shipTo, .date, .total, .status {
    
        line-height: 30px;
    
    span:nth-child(1) {
        color: #111111;
        font-family: Roboto;
        font-size: 14px;
        font-weight: 500;
        letter-spacing: 0;
        line-height: 19px;
    }
    span:nth-child(2) {
        color: #111111;
        font-family: Roboto;
        font-size: 14px;
        letter-spacing: 0;
        line-height: 19px;
    }
}
.viewOrder {
    a > button {
        color: #0058AC;
        font-family: Roboto;
        font-size: 14px;
        font-weight: bold;
        letter-spacing: 0;
        line-height: 19px;
        text-decoration: underline;
    }
}
.statusBtnContainer {
    padding: 15px;
    display: flex;
    justify-content: space-between;
    .statusBtn {
        width: 20%;
        text-align: center;
        border-radius: 3px;
        background-color: #C3BEBE;
        font-size: 12px;
        padding: 5px 0;
    }
    .statusBtnActive {
        width: 20%;
        text-align: center;
        border-radius: 3px;
        background-color: #fff;
        border: 1px solid #0058AC;
        font-size: 12px;
        padding: 5px 0;
    }
    .activeIcon {
        content: "";
        height: 0px;
        width: 0px;
        border-top: 10px solid #0058AC;
        border-right: 10px solid transparent;
        border-bottom: 5px solid transparent;
        position: absolute;
        // left: 16px;
        top: 71px;
        
    }
}
.loader {
    border: 8px solid #f3f3f3;
    border-radius: 50%;
    border-top: 8px solid #0058ac;
    width: 50px;
    height: 50px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 1s linear infinite;
    position: fixed;
    top: 33%;
    left: 44%;
    z-index: 8;
    
}
.modalLoader {
    position: fixed;
    z-index: 6;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 9;
    
}
// .status {
//     position: absolute;
//     right: 0;
//     height: 30px;
//     width: 100px;
//     border-radius: 46px 0 0 46px;
//     background-color: #0058AC;
//     color: #fff;
//     line-height: 30px;
//     padding-left: 20px;
//     top: 95px;
// }
.loadMoreBtn {
    font-family: roboto;
    color: #0058AC;
    font-weight: 600;
    text-decoration: underline;
}
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }