@tailwind base;
@tailwind components;
@tailwind utilities;
body {
    font-family: 'Roboto', sans-serif; 
    /* font-family: 'Helvetica Neue'; */
    font-size: 14px;
    line-height: 1.5;
}
#toast-root {
    font-weight: 600;
}
