@tailwind base;
@tailwind components;
@tailwind utilities;
body {
    font-family: 'Poppins', Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.5;
}
#toast-root {
    font-weight: 600;
}
