/* global tokens */
:global(:root) {
    /* animation */
    --venia-global-anim-bounce: cubic-bezier(0.5, 1.8, 0.9, 0.8);
    --venia-global-anim-in: cubic-bezier(0, 0, 0.2, 1);
    --venia-global-anim-out: cubic-bezier(0.4, 0, 1, 1);
    --venia-global-anim-standard: cubic-bezier(0.4, 0, 0.2, 1);

    /* color */
    --venia-global-color-blue-100: 194 200 255;
    --venia-global-color-blue-400: 61 132 255;
    --venia-global-color-blue-500: 51 109 255;
    --venia-global-color-blue-600: 41 84 255;
    --venia-global-color-blue-700: 31 57 255;
    --venia-global-color-blue-800: 23 43 196;
    --venia-global-color-gray-50: 255 255 255;
    --venia-global-color-gray-75: 250 250 250;
    --venia-global-color-gray-100: 244 245 245;
    --venia-global-color-gray-200: 234 235 235;
    --venia-global-color-gray-300: 223 225 226;
    --venia-global-color-gray-400: 181 184 186;
    --venia-global-color-gray-500: 149 154 157;
    --venia-global-color-gray-600: 118 123 127;
    --venia-global-color-gray-700: 84 93 99;
    --venia-global-color-gray-800: 51 63 71;
    --venia-global-color-gray-900: 23 32 38;
    --venia-global-color-gray: var(--venia-global-color-gray-100);
    --venia-global-color-gray-dark: var(--venia-global-color-gray-300);
    --venia-global-color-gray-darker: var(--venia-global-color-gray-600);
    --venia-global-color-green-400: 51 171 132;
    --venia-global-color-green-500: 45 157 120;
    --venia-global-color-green-600: 38 142 108;
    --venia-global-color-green-700: 18 128 92;
    --venia-global-color-orange: 241 99 33;
    --venia-global-color-red-400: 236 91 98;
    --venia-global-color-red-500: 227 72 80;
    --venia-global-color-red-600: 215 55 63;
    --venia-global-color-red-700: 201 37 45;
    --venia-global-color-red-800: 161 30 36;
    --venia-global-color-teal: var(--venia-global-color-blue-400);
    --venia-global-color-teal-dark: var(--venia-global-color-blue-600);
    --venia-global-color-teal-light: var(--venia-global-color-gray-100);

    /* color by semantics */
    --venia-global-color-background: var(--venia-global-color-gray-50);
    --venia-global-color-border: var(--venia-global-color-gray-300);
    --venia-global-color-error: var(--venia-global-color-red-700);
    --venia-global-color-text: var(--venia-global-color-gray-900);
    --venia-global-color-text-alt: var(--venia-global-color-gray-darker);
    --venia-global-color-text-hint: var(--venia-global-color-gray-500);
    --venia-global-color-warning-dark: var(--venia-global-color-red-700);
    --venia-global-color-warning-light: var(--venia-global-color-gray-100);

    /* font family */
    --venia-global-fontFamily-sansSerif: 'Muli', sans-serif;
    --venia-global-fontFamily-serif: 'Source Serif Pro', serif;

    /* font size */
    --venia-global-fontSize-50: 0.6875rem; /* 11px */
    --venia-global-fontSize-75: 0.75rem; /* 12px */
    --venia-global-fontSize-100: 0.875rem; /* 14px */
    --venia-global-fontSize-200: 1rem; /* 16px */
    --venia-global-fontSize-300: 1.125rem; /* 18px */
    --venia-global-fontSize-400: 1.25rem; /* 20px */
    --venia-global-fontSize-500: 1.375rem; /* 22px */
    --venia-global-fontSize-600: 1.5rem; /* 24px */
    --venia-global-fontSize-700: 1.75rem; /* 28px */
    --venia-global-fontSize-800: 2rem; /* 32px */
    --venia-global-fontSize-900: 2.25rem; /* 36px */
    --venia-global-fontSize-1000: 2.5rem; /* 40px */
    --venia-global-fontSize-1100: 3rem; /* 48px */
    --venia-global-fontSize-1200: 3.5rem; /* 56px */

    /* font weight */
    --venia-global-fontWeight-normal: 400;
    --venia-global-fontWeight-semibold: 600;
    --venia-global-fontWeight-bold: 700;

    /* line height */
    --venia-global-lineHeight-100: 1;
    --venia-global-lineHeight-200: 1.25;
    --venia-global-lineHeight-300: 1.5;
    --venia-global-lineHeight-400: 1.75;
    --venia-global-lineHeight-500: 2;

    /* dimensions */
    --venia-global-maxWidth: 1440px;
}

/* alias tokens */
:global(:root) {
    /* colors */
    --venia-brand-color-1-100: var(--venia-global-color-blue-100);
    --venia-brand-color-1-400: var(--venia-global-color-blue-400);
    --venia-brand-color-1-500: var(--venia-global-color-blue-500);
    --venia-brand-color-1-600: var(--venia-global-color-blue-600);
    --venia-brand-color-1-700: var(--venia-global-color-blue-700);
    --venia-brand-color-1-800: var(--venia-global-color-blue-800);

    /* typography */
    /* heading */
    --venia-global-typography-heading-XL-fontSize: var(
        --venia-global-fontSize-600
    );
    --venia-global-typography-heading-L-fontSize: var(
        --venia-global-fontSize-400
    );
    --venia-global-typography-heading-M-fontSize: var(
        --venia-global-fontSize-300
    );
    --venia-global-typography-heading-S-fontSize: var(
        --venia-global-fontSize-200
    );
    --venia-global-typography-heading-XS-fontSize: var(
        --venia-global-fontSize-100
    );
    --venia-global-typography-heading-lineHeight: calc(
        var(--venia-global-lineHeight-200) * 1em
    );

    /* body */
    --venia-typography-body-XXXL-fontSize: var(--venia-global-fontSize-600);
    --venia-typography-body-XXL-fontSize: var(--venia-global-fontSize-500);
    --venia-typography-body-XL-fontSize: var(--venia-global-fontSize-400);
    --venia-typography-body-L-fontSize: var(--venia-global-fontSize-300);
    --venia-typography-body-M-fontSize: var(--venia-global-fontSize-200);
    --venia-typography-body-S-fontSize: var(--venia-global-fontSize-100);
    --venia-typography-body-XS-fontSize: var(--venia-global-fontSize-50);
    --venia-typography-body-lineHeight: calc(
        var(--venia-global-lineHeight-300) * 1em
    );

    /* detail */
    --venia-typography-detail-XL-fontSize: var(--venia-global-fontSize-200);
    --venia-typography-detail-L-fontSize: var(--venia-global-fontSize-100);
    --venia-typography-detail-M-fontSize: var(--venia-global-fontSize-75);
    --venia-typography-detail-S-fontSize: var(--venia-global-fontSize-50);
    --venia-typography-detail-lineHeight: calc(
        var(--venia-global-lineHeight-200) * 1em
    );
}

/* simicart color */
:global(:root) {
    --simicolor-key_color: #ff9800;
    --simicolor-top_menu_icon_color: #ffffff;
    --simicolor-button_background: #000000;
    --simicolor-button_text_color: #ffffff;
    --simicolor-menu_background: #1b1b1b;
    --simicolor-menu_text_color: #ffffff;
    --simicolor-menu_line_color: #292929;
    --simicolor-menu_icon_color: #ffffff;
    --simicolor-search_box_background: #f3f3f3;
    --simicolor-search_text_color: #7f7f7f;
    --simicolor-app_background: #ffffff;
    --simicolor-content_color: #131313;
    --simicolor-image_border_color: #f5f5f5;
    --simicolor-line_color: #e8e8e8;
    --simicolor-price_color: #ab452f;
    --simicolor-special_price_color: #ab452f;
    --simicolor-icon_color: #717171;
    --simicolor-section_color: #f8f8f9;
    --simicolor-status_bar_background: #ffffff;
    --simicolor-status_bar_text: #000000;
    --simicolor-loading_color: #000000;
    --simicolor-checkbox-background: #000000;
    --simicolor-checkbox-check: #ffffff;
    --simicolor-radio-border: #4D4D4D;
    --simicolor-radio-dot: #000000;
    --simicolor-secondary-button_background: #ff9800;
    --simicolor-secondary-button_text_color: #ffffff;
}
html {
    background-color: white;
    font-size: 100%;
    font-weight: 400;
    line-height: 1;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

body {
    background-color: white;
    color: rgb(var(--venia-global-color-text));
    margin: 0;
    padding: 0;
}

html[data-scroll-lock='true'],
html[data-scroll-lock='true'] body {
    height: 100%;
    overflow: hidden;
    position: fixed;
    width: 100%;
}

body,
input,
select,
textarea {
    /* font-family: var(--venia-global-fontFamily-sansSerif); */
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 1rem;
    font-weight: 400;
    margin: 0;
}

h1 {
    font-size: 1.5rem;
}

h2 {
    font-size: 1.25rem;
}

a {
    color: currentColor;
    text-decoration: none;
}

p {
    margin: 0;
}

dl,
ol,
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

dd,
dt {
    margin: 0;
}

button {
    background: none;
    border: 0;
    cursor: pointer;
    /* font-family: var(--venia-global-fontFamily-sansSerif); */
    font-size: 100%;
    padding: 0;
    touch-action: manipulation;
    user-select: none;
    -webkit-appearance: none;
}

button:disabled {
    cursor: default;
    touch-action: none;
}
