.catetreeRoot {
    padding: 5px;
    border-top: solid 1px #eaeaea;
    margin-top: 15px;
}
.catetreeHeader {
    margin-top: 15px;
    font-size: 20px;
}
.dropdownSelect {
    margin-top: 15px;
}
.dropdownSelect > div > a {
    display: none !important;
}

.dropdownSelect > div > div {
    padding: 15px;
    display: block !important;
    box-shadow: none !important;
    position: relative !important;
    width: 100%;
    border-top: none !important;
    background-color: rgb(242, 242, 243)!important;
}
.dropdownSelect input {
    display: none;
}

.dropdownSelect i {
    margin-right: 15px;
    font-style: unset;
    display: inline-block;
    width: 15px;
}
