
@keyframes myModal {
    from {background-color: rgba(0, 0, 0, 0);}
    to {background-color: rgba(0, 0, 0, 0.4);}
}

.modal {
    position: fixed;
    z-index: 7;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    animation: myModal 1s;
}
.popup_form {
    position: fixed;
    width: 80%;
    left: 10%;
    top: 32%;
    z-index: 8;
    background-color: #fff;
    max-height: 53%;
    padding: 20px;
    
}