.wrapperForm {
    scroll-behavior: smooth;
    margin-top: 100px;
    .wrapperButtonArea {
        display: flex;
        flex-direction: row;
        gap: 20px;
    }
    .wrapperWishlist {
        margin: 0 1.5rem;
        .btnWishlist {
            button {
                box-sizing: border-box;
                height: 30px;
                width: 30px;
                border: 1px solid #999999;
                background-color: #ffffff;
                display: inline-flex;
                border-radius: 50%;
                justify-content: center;
                align-items: center;
                margin-inline-end: 10px;
            }
            span {
                color: #000000;
                font-size: 14px;
                letter-spacing: 0;
                line-height: 16px;
            }
        }
    }
    .wrapperCompare {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
        .btnCompare {
            border: 1px solid #999999;
            border-radius: 50%;
            padding: 12px;
        }
        .btnCompareTitle {
            margin-top: 5px;
        }
    }
    .groupCartAction {
        margin-inline-start: 1.5rem;
    }
    .quantityCartAction {
        display: grid;
        grid-template-columns: max-content 1fr;
        column-gap: 10px;
        margin: 15px 0;
    }
    .wrapperTitle {
        h1 {
            color: #000000;
            font-size: 28px;
            letter-spacing: 0;
            line-height: 34px;
        }
        @media (max-width: 450px) {
            h1 {
                color: #000000;
                font-size: 20px;
                letter-spacing: 0;
                line-height: 24px;
            }
        }
    }
    .socialShare {
        color: #555555;
        font-size: 14px;
        letter-spacing: 0;
        line-height: 16px;
        margin: 0 1.5rem;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 12px;
        div {
            margin-inline-start: 15px;
        }
    }
    .shopByBrand {
        color: #555555;
        font-size: 14px;
        letter-spacing: 0;
        line-height: 16px;
        margin: 0 1.5rem;
        display: flex;
        align-items: center;
        div {
            margin-inline-start: 15px;
        }
    }
    .wrapperSku {
        section {
            border: none;
            padding-top: 0px;
            padding-bottom: 10px;
            span {
                color: #000000;
                font-size: 14px;
                letter-spacing: 0;
                line-height: 16px;
                font-weight: unset;
                margin-bottom: 8px;
            }
        }
    }
    .wrapperReviewSum {
        section {
            div {
                margin-top: 0px;
                svg {
                    color: #f7d200;
                    fill: #999999;
                }
                div {
                    svg {
                        // color: #F7D200!important;
                        // fill: #F7D200!important;
                    }
                }
            }
            .submitReview {
                color: #000000;
                font-size: 14px;
                letter-spacing: 0;
                line-height: 16px;
                text-decoration: underline;
                border-inline-start: 1px solid #d8d8d8;
                padding-inline-start: 15px;
                margin-inline-start: 15px;
            }
            span {
                color: #555555;
                font-size: 14px;
                letter-spacing: 0;
                line-height: 16px;
            }
        }
    }
    .productDescription {
        margin: 0 1.5rem;
        color: #555555;
        font-size: 14px;
        letter-spacing: 0;
        line-height: 19px;
        margin-bottom: 20px;
        border-bottom: 1px solid #d8d8d8;
    }
    .productDescription div[class*='richContent-root'] {
        margin-top: 1.5rem;
    }
    .wrapperOptions {
        section {
            div {
                > span {
                    color: #000000;
                    letter-spacing: 0;
                    font-size: 20px;
                    font-weight: bold;
                    letter-spacing: 0;
                    line-height: 25px;
                }
                dl {
                    color: #111111;
                    font-size: 14px;
                    letter-spacing: 0;
                    line-height: 22px;
                }
            }
            div.grouped-options,
            div.downloadable-option {
                margin: 0 1.5rem;
                padding: 1rem 0 !important;
            }
        }
        .groupOptions {
            .main-sizechart {
                margin-top: 0;
                grid-column: 1 span / 2;
                display: flex;
                justify-content: flex-end;
            }
        }
        .wrapperPrice {
            display: flex;
            // grid-template-columns: max-content max-content max-content;
            margin: 0 1.5rem;
            justify-content: space-between;
            padding: 8px 0;
            grid-column: 1 / span 2;
            align-items: center;
            border-bottom: 1px solid #d8d8d8;
            .wrapperSpecialPrice {
                display: flex;
                align-items: center;
                .specialPrice {
                    color: #555555;
                    font-size: 18px;
                    letter-spacing: 0;
                    line-height: 22px;
                    text-decoration-line: line-through;
                }
                .regularPrice {
                    margin-inline-start: 10px;
                    color: #d40000;
                    font-size: 20px;
                    font-weight: bold;
                    letter-spacing: 0;
                    line-height: 25px;
                }
            }
            .labelPrice {
                color: #111111;
                font-size: 14px;
                font-weight: bold;
                letter-spacing: 0;
                line-height: 32px;
            }
            // > span:nth-child(2) {
            //     color: #e02020;
            //     font-size: 24px;
            //     font-weight: bold;
            //     letter-spacing: 0;
            //     line-height: 32px;
            //     margin-inline-start: 10px;
            // }
            .inStock {
                color: #000000;
                font-size: 14px;
                font-weight: bold;
                letter-spacing: 0;
                line-height: 17px;
            }
            .outOfStock {
                color: #d40000;
                font-size: 14px;
                font-weight: bold;
                letter-spacing: 0;
                line-height: 17px;
            }
            &.noPrice {
                justify-content: flex-end;
            }
        }
    }
    .wrapperQuantity {
        section {
            display: grid;
            grid-template-columns: min-content 1fr;
            align-items: start;
            border-bottom: none;
            padding: 0;
            margin-inline-end: 0;
            > span {
                color: #111111;
                font-size: 14px;
                font-weight: bold;
                letter-spacing: 0;
                line-height: 45px;
                margin-inline-end: 10px;
                margin-bottom: 0px;
            }
            > div {
            }
        }
    }
    .wrapperActions,
    .addCartDisabled {
        section {
            display: grid;
            grid-template-columns: max-content min-content;
            justify-items: left;
            margin: 0;
            padding: 0;
            border: 0;
            > button:nth-child(1) {
                width: 286px;
                height: 48px;
                width: 400px;
                border-radius: 0;
                min-height: unset;
            }
            > button:nth-child(2) {
                margin-inline-start: 22px;
                justify-content: center;
                box-sizing: border-box;
                height: 50px;
                width: 50px;
                border: 1px solid #aeaeae;
                background-color: #ffffff;
                border-radius: 50%;
            }
        }
    }
    .addCartDisabled {
        section {
            > button:nth-child(1) {
                background-color: #bfbfbf;
                border: none;
            }
        }
    }
    .descriptionTitle {
        color: #000000;
        font-size: 24px;
        font-weight: bold;
        letter-spacing: 0;
        line-height: 29px;
        margin-bottom: 15px;
        margin-top: 20px;
    }
}

@media (max-width: 1023px) {
    .wrapperForm {
        margin-top: 0;
        .wrapperTitle,
        .wrapperReviewSum {
            section {
                padding-inline-start: 0px;
            }
        }
        .noReview {
            padding-inline-start: 0px;
        }
        .wrapperSku,
        .wrapperQuantity,
        .wrapperActions,
        .addCartDisabled {
            section {
                margin-inline-start: 0px;
            }
        }
        .wrapperOptions {
            section {
                div,
                .wrapperPrice {
                    margin-inline-start: 0px;
                }
                div.grouped-options,
                div.downloadable-option {
                    margin-inline-start: 0px;
                    padding-inline-start: 0px;
                }
            }
        }
        .wrapperActions {
            section {
                > button:nth-child(1) {
                    width: 232px;
                }
            }
        }
        .addCartDisabled {
            section {
                > button:nth-child(1) {
                    width: 232px;
                }
            }
        }
    }
}
@media (max-width: 450px) {
    // #siminia-main-header {
    //     display: none;
    // }
    // .header-header-search-2hi {
    //     display: none;
    // }
    // .wrapperTitle ,
    // .wrapperSku,
    // .wrapperReviewSum {
    //     display: none;
    // }
    .productInfo {
        background-color: #fff;
        padding: 18px 10px;
        margin-bottom: 15px;
    }
    .main-product-detail-native {
        font-family: Roboto !important;
        font-size: 16px;
        background: #f2f2f3;
        .header-icon {
            padding: 8px;
            border-radius: 50%;
            background-color: rgba(40, 40, 40, 0.5);
            color: #fff;
            margin-inline-end: 15px;
            .padding-15 {
                padding: 0 15px;
            }
        }
        .header-icon:last-child {
            margin-right: 10px;
        }
        .header-more {
            position: absolute;
            background: #fff;
            top: 49px;
            left: 2px;
            z-index: 3;
            // width: 117px;
            box-shadow: 0px 2px 6px 2px #827979;
            li {
                border-bottom: 1px solid #b6b0b0;
                padding: 0 10px;
                height: 40px;
                line-height: 40px;
                display: flex;
                align-items: center;
                svg {
                    margin-right: 5px;
                }
            }
        }
        .descriptionTitle {
            font-size: 1rem;
            font-weight: 600;
            width: 100%;
        }
        .header-icon > svg {
            width: 20px;
            height: 20px;
        }
        .addToListButton-root-3s9 {
            min-width: none;
        }
        .cart-qty {
            position: absolute;
            top: -1px;
            right: 102px;
            border: 1px solid #fff;
            border-radius: 50%;
            font-size: 15px;
            background: var(--venia-global-color-button);
            line-height: 26px;
            // padding: 0 7px;
            width: 26px;
            height: 26px;
            text-align: center;

            color: #fff;
        }
        span[class*='icon-root-'] {
            background-color: rgba(40, 40, 40, 0.5);
            padding: 8px;
            border-radius: 50%;
        }
        .icon-root-3Vw > svg {
            stroke: #fff;
        }
        .reviewRatingBlock {
            display: none;
        }
        .wrapperPrice > span {
            color: #150826;
            font-family: Roboto;
            font-size: 24px;
            font-weight: 500;
            letter-spacing: 0;
        }
        .productFullDetail-imageCarousel-2Ix {
            position: relative;
        }
        .container {
            padding-left: 0;
        }
        .description-open {
            position: fixed;
            z-index: 10;
            padding-top: 100px;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: #fff;
            padding: 15px;
            animation: desOpen 0.5s;
            .des-title {
                display: flex;
                align-items: center;
                margin-bottom: 15px;
                border-bottom: 1px solid rgb(71, 70, 70);
                padding: 5px 0;
                p {
                    margin-left: 15px;
                    font-size: 20px;
                    font-weight: 500;
                }
            }
        }
        .description {
            display: none;
        }
        .description-close {
            position: fixed;
            z-index: 10;
            padding-top: 100px;
            left: 100%;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: #fff;
            padding: 15px;
            animation: desClose 0.5s;
            .des-title {
                display: flex;
                align-items: center;
                margin-bottom: 15px;
                border-bottom: 1px solid rgb(71, 70, 70);
                padding: 5px 0;
                p {
                    margin-left: 15px;
                    font-size: 20px;
                    font-weight: 500;
                }
            }
        }
        .mbQuantity {
            padding: 1.5rem;
        }
        .sku-details {
            display: flex;
            align-items: center;
            border-bottom: 1px solid #dfe1e2;
            padding: 1rem 10px;
            background-color: #fff;
            span {
                margin-right: 1rem;
            }
        }
        .short-description {
            ul {
                margin: 0;
                padding: 0 1rem;
                margin-bottom: 15px;
            }
        }

        @keyframes desOpen {
            from {
                left: 100%;
            }
            to {
                left: 0%;
            }
        }
        @keyframes desClose {
            from {
                left: 0%;
            }
            to {
                left: 100%;
            }
        }
    }
}

@media (max-width: 768px) {
    .p-fulldetails-ctn {
        padding-bottom: 55px;
        .wrapperRelatedProducts {
            margin-top: 15px;
        }
        .wrapperCrosssellProducts {
            margin-bottom: 50px;
        }
    }
}
