.main-status-bar {
    position: absolute;
    z-index: 1;
    top: 92.5%;
    border-radius: 16px 16px 0 0;
    background-color: #ededed;
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .first-item {
        border-radius: 16px 0 0 0;
        background-color: #0058ac;
        height: 40px;
        line-height: 40px;
        color: #ffffff;
        font-size: 14px;
        letter-spacing: 0;
        padding: 0 10px;
    }
    .nth-item {
        color: #000;
        font-size: 14px;
        letter-spacing: 0;
    }
    .nth-item:last-child {
        padding: 0 20px;
    }
}
.main-footerFixedBtn {
    position: fixed;
    bottom: -1px;
    height: 50px;
    width: 100%;
    background: #fff;
    z-index: 5;
    ul {
        display: flex;
        line-height: 50px;
        box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);

        .msg-icon {
            display: flex;
            align-items: center;
            width: 20%;
            justify-content: center;
            svg {
                font-size: 22px;
            }
        }
        li {
            width: 40%;
            display: flex;
            justify-content: center;
        }
        li:nth-child(2) {
            background-color: #ededed;
            color: #000;
        }
        li:nth-child(3) {
            background-color: #0058ac;
            color: #ededed;
        }
    }
}
.main-AddToCartPopup {
    .form {
        position: fixed;
        // bottom: 0;
        width: 100%;
        z-index: 5;
        background-color: #fff;
        border-radius: 20px 20px 0 0;
        animation: mymove .3s ;
        height: 450px;
        
    }
    @keyframes mymove {
        from {top: 100%;}
        to {top: calc(100% - height);}
      }
    @keyframes myModal {
        from {background-color: rgba(0, 0, 0, 0);}
        to {background-color: rgba(0, 0, 0, 0.4);}
    }

    .modal {
        position: fixed;
        z-index: 2;
        padding-top: 100px;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgb(0, 0, 0);
        background-color: rgba(0, 0, 0, 0.4);
        animation: myModal 1s;
    }
    .close-icon {
        font-size: 20px;
        position: absolute;
        right: 17px;
        top: 17px;
    }

}
.loader {
    border: 8px solid #f3f3f3;
    border-radius: 50%;
    border-top: 8px solid #0058ac;
    width: 50px;
    height: 50px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 1s linear infinite;
    position: fixed;
    top: 33%;
    left: 44%;
    z-index: 6;
    
}
.modal-loader {
    position: fixed;
    z-index: 6;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    
}
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
