.mobileRoot {
    padding: 15px;
}
.orderItem {
    background-color: #F2F2F2;
    padding: 15px;
    margin-bottom: 15px;
    position: relative;
    height: 142px;
}
.mbHeading {
    padding: 20px;
    background-color: #f0f0f0;
    margin-bottom: 10px;
    //  height: 30px;
    width: 100%;
    color: #111111;
    font-family: poppins;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 14px;
    text-align: left;
}
.orderItemHead {
    display: flex;
    justify-content: space-between;
    span {
        color: #111111;
        font-family: poppins;
        font-size: 16px;
        font-weight: 500;
        letter-spacing: 0;
        line-height: 22px;
    }
}
.shipTo, .date {
    
        line-height: 30px;
    
    span:nth-child(1) {
        color: #111111;
        font-family: poppins;
        font-size: 14px;
        font-weight: 500;
        letter-spacing: 0;
        line-height: 19px;
    }
    span:nth-child(2) {
        color: #111111;
        font-family: poppins;
        font-size: 14px;
        letter-spacing: 0;
        line-height: 19px;
    }
}
.viewOrder {
    a > button {
        color: var(--venia-global-color-button);
        font-family: poppins;
        font-size: 14px;
        font-weight: bold;
        letter-spacing: 0;
        line-height: 19px;
        text-decoration: underline;
    }
}
.status {
    position: absolute;
    right: 0;
    height: 30px;
    width: 100px;
    border-radius: 46px 0 0 46px;
    background-color: var(--venia-global-color-button);
    color: #fff;
    line-height: 30px;
    padding-left: 20px;
    top: 95px;
}