.root {
    display: grid;
    padding: 2rem 3rem;
    /* row-gap: 2rem; */
}
.container {
    display: flex;
    justify-content: center;
    
}

.wrapper {
    display: grid;
    grid-template-columns: 20% auto;
}
@media (max-width: 960px) {
    .wrapper {
        display: grid;
        grid-template-columns: auto;
    }
}
.root li {
    border-radius: 0;
}
.root li > div > div > div > div {
    border-radius: 0;
}
.root input::placeholder {
    font-size: 13px;
}

.heading {
    /* font-family: var(--venia-global-fontFamily-serif);
    font-weight: var(--venia-global-fontWeight-bold); */
    /* justify-self: center; */
    text-transform: capitalize;
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 14px;
    /* margin-left: 20%; */
    font-family: poppins;
    /* text-align: right; */
    margin-bottom: 22px;
}

.emptyHistoryMessage {
    text-align: center;
}

.orderHistoryTable {
    /* display: grid;
    row-gap: 1rem; */
    display: flex;
    flex-direction: column;
    padding: 20px;
    min-width: 80%;
}

.filterRow {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.pageInfo {
    font-size: var(--venia-typography-body-S-fontSize);
}

.search {
    display: grid;
    gap: 1rem;
    grid-auto-flow: column;
    width: 22rem;
}

.searchButton {
    composes: root_highPriority from '@magento/venia-ui/lib/components/Button/button.module.css';

    width: 5rem;
    height: 2rem;
    min-width: 5rem;
}
.pagination {
    display: flex;
    justify-content: center;
    padding-left: 20%;
}
.pageNumberBtn {
    width: 40px;
    height: 40px;
    border: 1px solid #000000;
    margin-right: .75rem;

}
.pageNumberBtnActive {
    width: 40px;
    height: 40px;
    background-color: var(--venia-global-color-button);
    color:#fff;
    margin-right: .75rem;
}

.submitIcon {
    color: white;
}

.loadMoreButton {
    composes: root_lowPriority from '@magento/venia-ui/lib/components/Button/button.module.css';
    justify-self: center;
}

@media (max-width: 960px) {
    .root {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .filterRow {
        align-items: flex-start;
        flex-direction: column;
        row-gap: 1rem;
    }

    .search {
        gap: 0.5rem;
        width: 100%;
        justify-self: center;
    }
    .container {
        display: block;
        justify-content: center;
        
    }
}
