.wrapper {
    padding: 25px;
    cursor: pointer
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.input-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 8px;
}

.input-code {
    width: 100%;
}

.apply-button {
    color: white;
    font-weight: bold;
    font-size: 18px;
    background-color: black;
    padding: 10;
    flex-grow: 1;
    height: 50px;
    width: 160px
}

@media only screen and (max-width: 940px) {

}