.preview-body {
    overflow: hidden;
}

.preview-portal {
    position: fixed;
    top: 0;
    z-index: 2;
    height: 100vh;
    background-color: rgb(105, 105, 105, 0.7) !important;
}

.preview-overlay {
    opacity: 0;
    transform: translateY(-50%);
    transition: all 500ms ease-in-out;
}

.preview-overlay-afterOpen {
    opacity: 1;
    transform: translateY(0);
}
  
.preview-overlay-beforeClose {
    opacity: 0;
    transform: translateY(-50%);
}

.preview-content {
    width: 100vw;
}

.preview-wrapper {
    background-color: white;
    width: 60%;
    height: 90vh;
    margin: auto;
    overflow: scroll;
    margin-top: 5vh;
    position: relative;
}

.preview-title {
    width: 80%;
    border-bottom: 2px solid gray;
    margin: 50px auto 20px auto;
    animation: rainbow 5s infinite;
}

@keyframes rainbow {
    0%{color: violet;}	
    12.5%{color: indigo;}	
    25%{color: blue;}
    37.5%{color: green;}
    50%{color: yellow;}
    62.5%{color: orange;}
    75%{color: red;}
 }

.preview-info {
    width: 80%;
    margin: 50px auto 0 auto;
}

.preview-image {
    width: 80%;
    height: 80%;
    margin: 50px auto 0 auto; 
}

.image {
    width: 100%;
    height: 90%;
}

@media only screen and (max-width: 1200px) {
    .preview-wrapper {
        width: 80%;
    }
    .image {
        width: 80%;
        margin-left: 10%; 
        height: 75%
    }
}

@media only screen and (max-width: 700px) {
    .preview-wrapper {
        width: 100%;
        height: 100vh;
        margin-top: 0;
    }
    .image {
        width: 90%;
        margin-left: 5%; 
        height: 60%;
        
    }
}

.button {
    text-align: center;
    margin-left: 50%;
    margin-top: 40px;
    color: white;
    transform: translateX(-50%);
    width: 100px;
    height: 40px;
    border: none;
    border-radius: 10px;
    background-color: dodgerblue;
    transition: background-color 0.5s, color 0.5s;
    font-weight: bold;
    cursor: pointer;
}

.button:hover {
    background-color: cyan;
    color: black;
}

.close-button {
    background-color: white;
    position: absolute;
    width: 40px;
    height: 40px;
    top: 2%;
    right: 0;
}

.close-button:hover {
    color: gray
}