.product-wrapper {
    display: flex;
    flex-direction: row;
    margin: 0 60px 80px 60px
}

.image-wrapper {
    flex: 1.5 1 0;
    padding-top: 6%;
    text-align: center;
}

.product-image {
    width: 84%;
    margin: auto;
    height: 400px;
}

.image-title {
    margin-top: 10px;
    font-weight: bold;
    font-style: italic;
    font-size: 16px;
    animation: rainbow 5s infinite;
}

@keyframes rainbow{
    0%{color: violet;}	
    12.5%{color: indigo;}	
    25%{color: blue;}
    37.5%{color: green;}
    50%{color: yellow;}
    62.5%{color: orange;}
    75%{color: red;}
 }

.info-wrapper {
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
}

.review-wrapper {
    border: 2px solid gray;
    padding: 40px 80px 0 80px;
    margin: 0 60px 80px 60px;
}

.nickname-input {
    width: 50%;
    height: 36px;
    padding-left: 10px
}

.title-input {
    width: 50%;
    height: 36px;
    padding-left: 10px
}

.details-input {
    width: 50%;
    height: 100px;
    padding-left: 10px;
    padding-top: 10px;
    resize: none
}

@media only screen and (max-width: 800px) {
    .product-wrapper {
        flex-direction: column;
        margin: 0 20px 40px 20px
    }
    .image-wrapper {
        width: 100%;
        margin-bottom: 30px;
    }
    .info-wrapper {
        width: 92%;
        margin: auto;
    }
    .product-image {
        width: 96%;
        margin: auto
    }
    .review-wrapper {
        padding: 40px 20px 0 20px;
        margin: 0 20px 40px 20px;
    }
    .nickname-input {
        width: 100%
    }
    .title-input {
        width: 100%
    }
    .details-input {
        width: 100%;
    }
}

@media only screen and (max-width: 1024px) {
    .product-image {
        width: 80%;
        height: 300px;
    }
}

.product-info {
    display: flex;
    flex-direction: row;
    border-bottom: 2px solid gray;
    position: relative;
    justify-content: space-between;
    margin-top: 50px;
    padding-bottom: 10px;
}

.overview-info {
    text-align: left;
    margin-bottom: 30px;
}

.overview-title {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
    word-wrap: break-word;
}

.overview-review {
    margin-top: 10px;
    color: rgb(54, 124, 253);
    font-weight: bold;
    margin: 0
}

.overview-review:hover {
    text-decoration-line: underline;
    cursor: pointer;
}

.overview-price {
    font-size: 24px;
    font-weight: bold;
}

.state-info {
    padding-top: 70px;
    text-align: right;
}

.state-stock {
    font-weight: bold;
    font-size: 24px;
}

.state-sku {
    font-weight: bold;
}

.state-expires {
    font-weight: bold;
}

.user-input {
    text-align: left;
}

.value-wrapper {
    margin-top: 20px;
}

.select-wrapper {
    display: flex;
    flex-direction: row;
}

.template-wrapper {
    margin-top: 20px;
}

.nav-button {
    text-align: center;
}

.prev {
    padding-left: 4px;
    margin: 20px 3px 20px 0;
    color: white;
    width: 35px;
    height: 35px;
    border: none;
    border-radius: 20px;
    background-color: dodgerblue;
    transition: background-color 0.5s, color 0.5s;
    font-weight: bold;
    cursor: pointer;
}

.prev:hover {
    background-color: cyan;
    color: black
}

.next {
    padding-left: 7px;
    margin: 20px 0 20px 3px;
    color: white;
    width: 35px;
    height: 35px;
    border: none;
    border-radius: 20px;
    background-color: dodgerblue;
    transition: background-color 0.5s, color 0.5s;
    font-weight: bold;
    cursor: pointer;
}

.next:hover {
    background-color: cyan;
    color: black
}

.image-slide {
    width: 100%
}

.sender-name {
    margin-top: 20px;
}

.recipient-name {
    margin-top: 20px;
}

.email-input {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.sender-email {
    flex: 1 1 0;
    margin-right: 20px;
}

.recipient-email {
    flex: 1 1 0;
    margin-left: 20px;
}

.message-wrapper {
    margin-top: 20px;
}

.delivery-date {
    margin-top: 20px;
}

.date-input {
    width: 100%;
    height: 36px;
    padding-left: 10px;
}

.timezone {
    margin-top: 20px
}

.preview-button {
    text-align: center;
    margin: 20px 0 20px 0;
    color: white;
    width: 100px;
    height: 40px;
    border: none;
    border-radius: 10px;
    background-color: dodgerblue;
    transition: background-color 0.5s, color 0.5s;
    font-weight: bold;
    cursor: pointer;
}

.preview-button:hover {
    background-color: cyan;
    color: black
}

.cart-wrapper {
    display: flex;
    flex-direction: row;
}

.quantity {
    width: 20%;
    height: 50px;
    margin-right: 10px;
}

.add-cart {
    text-align: center;
    color: white;
    flex-grow: 1;
    height: 50px;
    border: none;
    background-color: dodgerblue;
    transition: background-color 0.5s, color 0.5s;
    font-weight: bold;
    cursor: pointer;
}

.add-cart:hover {
    background-color: cyan;
    color: black
}

.add-cart-loading {
    text-align: center;
    color: white;
    flex-grow: 1;
    height: 50px;
    border: none;
    background-color: rgba(30, 144, 255, 0.8);
    font-weight: bold;
    cursor: pointer;
}

.favorite-wrapper {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.heart-icon {
    margin-right: 15px;
    cursor: pointer
}