.container {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    padding: 10px 10px 10px 0;
    width: 100%;
    border-bottom: solid 1px #bdbdbd;
}

.iconContainer {
	float: left;
    padding: 21px 10px 0 5px;
}
.wrapIcon{
    display: inline-block;
    font-size: inherit;
    height: 1em;
    overflow: visible;
    vertical-align: -0.125em;
    width: 1.125em;
}
.headerIcon {
	color: #9e9e9e !important;
    line-height: inherit;
    font-weight: 400;
    font-size: 3em;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    box-sizing: inherit;
}

.headerContent {
    width: 75%;
    margin-left: auto;
    left: auto;
    right: auto;
    min-height: 1px;
    padding: 15px 20px 13px 16px !important;
    margin-left: 44px
}

h3 {
	font-size: 1.8rem;
    line-height: 110%;
}

.description {
    color: #9e9e9e !important;
    margin-top: 8px;
}

.headerContent span {
	padding-right: 15px;
	box-sizing: inherit;
}

@media (max-width: 768px) {
    .headerContent span{
        padding-right: 5px;
    }
}