.main-sizechart {
    padding: 0.5rem 1.5rem;

    .overlay {
        position: fixed;
        display: none;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 2;
        cursor: pointer;
    }
    .overlay-active {
        position: fixed;
        display: block;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 2;
        cursor: pointer;
    }
    .product-sizechart {
        position: fixed;
        background-color: #fff;
        z-index: 12;
        top: 23%;
        right: 22%;
        left: 21%;
        padding: 15px;
        border-radius: 4px;
        .close-icon {
            display: flex;
            justify-content: flex-end;
        }
    }
}
.inline-sizechart {
    padding: 0 1.5rem;
    margin-bottom: 1.5rem;
}
.tab-sizechart {
    padding: 1.5rem 0;
}
@media (max-width: 450px) {
    .main-sizechart {
        padding: 15px 0;
        font-size: 1rem;
        font-weight: 600;
        line-height: 1.5;
        margin-bottom: 1.5rem;
        border-color: #efefef;
        border-style: solid;
        border-width: 0 0 2px;
        display: flex;
        justify-content: space-between;
        .product-sizechart {
            position: fixed;
            z-index: 5;
            padding-top: 100px;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: #fff;
            padding: 15px;
            animation: Open .6s;
        }
        .sizeChart-btn {
            width: 100%;
        }
        @keyframes Open {
            from {left: 100%;}
            to {left: 0%;}
        }
    }
}
